<!-- BEGIN book_now_block -->
<section class="book-now">
  <div class="container">
    <div class="subtitle">
      BEST RATE GUARANTEED
    </div>
    <div class="btn-book">
      <a href="#" data-toggle="modal" data-target="#book_now" class="btn button">Book Now</a>
    </div>
    <div class="short-description">
      *Book direct, get 20% OFF
    </div>
  </div>
</section>

<!-- END book_now_block -->
