<!-- BEGIN btn_spa1_block -->
<div class="reservation-spa">
  <a href="mailto:reservation@rehatbali.com?Subject=Reservation" class="btn button">Make Reservation</a>
</div>
<!-- END btn_spa1_block -->
