<!-- BEGIN gallery_content_block -->
<section id="content" class="gallery">
  <div class="container">
    <div class="content-text">
      <div class="title">
        GALLERY
      </div>
      <div class="desc">
        AT GRANDMAS PLUS HOTEL {sef}
      </div>
      <div class="line">
        <img src="http://{themes_url}/images/line.svg">
      </div>
    </div>
    <div class="container-filter">
      <div class="filter">
        <ul class="list-unstyled list-inline filter-button-group">
          <li data-filter="*" class="active">All</li>
          <!-- BEGIN list_category_block -->
          <li data-filter=".{category_top}">{title}</li>
          <!-- END list_category_block -->
        </ul>
      </div>
    </div>
    <div class="data-gallery">
      <!-- BEGIN gallery_list_block -->
      <div class="item {category_bottom}">
        <a href="{large_url}" data-fancybox="gallery"><img src="{thumb_url}" class="img-responsive" alt=""></a>
      </div>
      <!-- END gallery_list_block -->
    </div>
  </div>
</section>
<!-- END gallery_content_block -->
