<!-- BEGIN gmaps_n_book_block -->
<section class="maps">
  <div class="container">
    <div class="title">
      STAY WITH US
    </div>
    <div class="subtitle">
      AND GET DISCOUNTS FROM OUR SURROUNDING PARTNERS
    </div>
    <div class="line">
      <img src="http://{themes_url}/images/line.svg" alt="">
    </div>
    <input type="hidden" name="url" value="{site_url}">
    <div class="google-maps">
      <div id="map" class="template-maps">

      </div>
      <div class="label-description">
        <div class="symbol">
          <div class="icon all-location">
            <img src="http://{themes_url}/images/icon map all.svg" alt="">
            <p>All Locations</p>
          </div>
          <div class="icon all-restaurant">
            <img src="http://{themes_url}/images/icon1m.svg" alt="">
            <p>Restaurant</p>
          </div>
          <div class="icon all-attraction">
            <img src="http://{themes_url}/images/icon2m.svg" alt="">
            <p>Attraction</p>
          </div>
          <div class="icon all-shops">
            <img src="http://{themes_url}/images/icon3m.svg" alt="">
            <p>Shops</p>
          </div>
        </div>
        <div class="list-partner">

        </div>
      </div>
    </div>
    <div class="subtitle">
      BEST RATE GUARANTEED
    </div>
    <div class="btn-book">
      <a href="#" data-toggle="modal" data-target="#book_now" class="btn button">Book Now</a>
    </div>
    <div class="short-description">
      *Book direct, get 20% OFF
    </div>
  </div>
</section>
<!-- END gmaps_n_book_block -->
