<!-- BEGIN label_info_block -->
<section class="label-info">
  <div class="title">
    GRANDMAS PLUS HOTEL {title}
  </div>
  <div class="line">
    <img src="http://{themes_url}/images/line.svg" alt="">
  </div>
  <div class="address">
    {address_label}
  </div>
  <div class="telp">
    {phone_number_label}
  </div>
</section>
<!-- END label_info_block -->
