<!-- BEGIN label_book_block -->
<section class="label-book">
  <div class="labels">
    <ul class="list-unstyled">
      <li><a href="{special-offers}">Special Offers</a></li>
      <li><a href="#" data-toggle="modal" data-target="#book_now">Book Now</a></li>
    </ul>
  </div>
</section>

<!-- END label_book_block -->
