<!-- BEGIN modal_book_now_block -->
<div class="modal fade" id="book_now" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="title-book">Best Rate Guaranteed</h4>
        <!-- <select class="destinations" name="destinations">
          <option class="list-destinations" value="DPS3855" {seminyak}>GrandMas Seminyak</option>
          <option class="list-destinations" value="DPS689" {legian}>GrandMas Legian</option>
          <option class="list-destinations" value="DPS882" {airport}>GrandMas Airport</option>
        </select> -->
      </div>
      <form class="submit-form" action="http://localhost/grandmas-front-end/" method="GET">
        <div class="modal-body">
          <div class="container-book">
            <div class="container-form-top">
              <p>Destinations :</p>
              <select class="destinations" name="destinations">
                <option class="list-destinations" value="DPS3855" {seminyak}>GrandMas Seminyak</option>
                <option class="list-destinations" value="DPS689" {legian}>GrandMas Legian</option>
                <option class="list-destinations" value="DPS882" {airport}>GrandMas Airport</option>
              </select>
            </div>
            <div class="container-form">
              <p>Arrival :</p>
              <input class="date-picker check_in_date" type="text" name="check_in_date" placeholder="Date Check-in" required="required">
            </div>
            <div class="container-form">
              <p>Departure :</p>
              <input class="date-picker check_out_date" type="text" name="check_out_date" placeholder="Date Check-out" required="required">
            </div>
            <div class="container-form">
              <div class="sub-container-form">
                <p class="title">Adults</p>
                <select class="adults" name="number_adults">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              </div>
              <div class="sub-container-form">
                <p class="title">Child</p>
                <select class="child" name="number_children">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              </div>
            </div>
            <div class="container-form">
              <div class="sub-container-form">
                <p class="title">Infants</p>
                <select class="infants" name="number_infants">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              </div>
              <!-- <div class="sub-container-form">
                <p class="title">Promo Code</p>
                <input class="promo-code" name="promo_code">
              </div> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container-form-footer">
            <p class="footers">BOOK DIRECT Get 20% OFF</p>
          </div>
          <div class="container-form-footer">
            <button type="submit" class="button book_link" disabled="disabled">Book Now</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END modal_book_now_block -->
