<!-- BEGIN modal_career_block -->
<div class="modal fade" id="career" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">We Want You</h4>
        <div class="line" style="text-align: center;/* margin-top: 10px; */">
      <img src="http://lumonatalabs.com/grandmashotel/lumonata-content/themes/custom/images/line.svg" alt="">
    </div>
      </div>
      <div class="modal-body">
        <div class="desc">
          Applicants are invited TO send the application letter to recruitment@artotelindonesia.com IN Microsoft Word Document, mention clearly ON the email "Subject", the POSITION and hotel location, required:
        </div>
      </div>
      <div class="modal-footer">
        <div class="list">
          <ul>
            <li>A resume in English (MS Word)</li>
            <li>A letter of application in English, specifying clearly</li>
            <li>A recent photograph</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END modal_career_block -->
