<!-- BEGIN spa_legain_block -->
<section id="content" class="one-content plus">
  <div class="container">
    <div class="title">
      REHAT SPA
    </div>
    <!-- <div class="short-desc">
      IS THE NUMBER 1 SPA IN LEGIAN AREA BY TRIP ADVISOR
    </div> -->
    <div class="line centers">
      <img src="http://{themes_url}/images/line.svg" alt="">
    </div>
    <div class="long-description">
      {description}
    </div>
  </div>

  <div class="container">
    <!-- BEGIN loop_list_spa_block -->
    <div class="line-spa"></div>
    <div class="list-spa">
      <div class="title-spa">
        {title}
      </div>
      <div class="detail-spa">
        <div class="limit-spa">
          <img src="http://{themes_url}/images/clock.svg" alt="">
          <div class="text-clock">{time_spa}</div>
        </div>
        <div class="limit-spa">
          <img src="http://{themes_url}/images/wallet.svg" alt="">
          <div class="text-price">{price_spa}</div>
        </div>
      </div>
      <div class="description-spa">
        {content}
      </div>
    </div>
    <!-- END loop_list_spa_block -->
    <div class="line-spa"></div>
  </div>

  <div class="container">
      <div class="information-spa">
        <div class="noted">
          Price in Indonesian Rupiah and exclude 21% tax and service charge
        </div>
        <div class="title-spa-buttom">
            REHAT MASSAGE & REFLEXOLOGY AT GRANDMAS PLUS HOTEL
        </div>
        <div class="address">
          Jl. Sriwijaya no. 386 Legian, Bali, Indonesia
        </div>
        <div class="email">
          email : reservation@rehatbali.com
        </div>
        <div class="phone">
          Phone :+62 361 751215
        </div>
        <div class="opening">
          Opening hours 09.00 am – 10.00 pm
        </div>
      </div>
    </div>
</section>

<!-- END spa_legain_block -->
