<!-- BEGIN why_stay_with_us -->
<section class="why">
  <div class="container-why">
    <div class="title">
      WHY STAY WITH US
    </div>
    <div class="subtitle">
      AT GRANDMAS PLUS HOTEL {sef}
    </div>
    <div class="line">
      <img src="http://{themes_url}/images/line.svg" alt="">
    </div>
    <div class="content-body">
      <div class="list-of-facilities">
        {footer_list}
      </div>
    </div>
  </div>
</section>
<!-- END why_stay_with_us -->
