.tb-menu{ position:relative; top:0; bottom:0; height:100%; width:100%; margin-bottom:10px; }
.tb-menu .apps-set-wrapp{ width:30%; vertical-align:top; position:relative; height:100%; padding:0; }
.tb-menu .apps-set-wrapp .apps-box{ padding:10px; }
.tb-menu .apps-set-wrapp .apps-set{ width:100%; }

.tb-menu .menu-set-wrapp{ width:70%; vertical-align:top; padding:0; }

.the_apps_set{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;
			border:1px solid #bbbbbb;
			position:absolute; 
			margin-left:0px;
			margin-top:10px;
			overflow:hidden;
			display:block;
			height:auto; 
			float:none;  
			width:100%;
			bottom:0; 
			left:0;
			top:0;}
.the_apps_set ul{ padding:0; margin:0; border-top:1px solid #bbbbbb; }
.the_apps_set ul li{ display:block; list-style:none; }
.the_apps_set ul li:first-child .apps_item{ margin-top:10px; }
.the_apps_set h2, .the_menus_set h2{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;
			background:url(../images/panel_bg.jpg) repeat-x;
			border-bottom:1px solid #bbbbbb;
			padding:8px 10px;
			max-height:33px;
			font-size:14px;
			height:auto;
			margin:0;}
.the_menus_set{
	border:1px solid #bbbbbb;
	margin:10px 0 0 5px;
	background:#fff;
	height:auto;
	float:left;
	width:100%;}
.the_menus_set ul{ padding:10px 10px 0; border-left:0; }
.the_menus_set ul li{ display:block !important; }
.the_menus_set ul li:first-child{ border-left:1px solid #bbb; }
.the_menus_set ul li a{ border:none; }
.the_menus_set ul li span{ padding:0 10px 0 0; }
.the_menus_set ul li span:hover,
.the_menus_set ul li a:hover{ background:transparent; color:#333; }

.sets_apps_item{ padding:0 10px 10px; overflow:auto; height:auto; width:auto;}
.apps-act{ text-align:right; border-top:1px solid #bbb; padding:10px; }
.apps-act .button { padding:7px 10px; font-size:11px; height:30px; margin:0 0 0 3px; }

.sets_apps_item .apps_item{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;
			border:1px solid #bbb;
			background:#fff;
			overflow:hidden;
			margin:5px 0;
			height:auto;
			width:100%;}
.sets_apps_item .apps_item .apps_item_text{
	width:79%;
	height:auto;
	background:#ccc;
	float:left;
	padding:8px 5px;
}
.sets_apps_item .apps_item .add{
	width:9%;
	height:20px;
	float:left;
	cursor:pointer;
	
	padding:5px 0;
}
.sets_apps_item .apps_item .view{
	background:#fff url(../images/ico-arrow.png) center no-repeat;
	width:6%;
	height:30px;
	float:left;
	cursor:pointer;
}
.apps_details_item{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;
			border:1px dashed #bbb;
			background:#f8f8f8;
			margin:10px 0;
			padding:10px;
			height:auto;
			width:100%;}
.menuset_details_item{
	min-width:200px !important;
	width:290px !important;
	border:1px dashed #bbb;
	min-width:150px;
	background:#fff;
	padding:5px;
	height:auto;
	margin:0;}
.menuset_details_item .label{ margin:0; }
.menuset_details_item .label input{ font-size:12px; padding: 3px 5px; }
.menuset_details_item .target{ margin:5px 0; }
.menuset_details_item .target select{ height:auto; padding:3px 5px; }
.menuset_details_item .url{ margin:5px 0 10px; }
.menuset_details_item .url input{ font-size:12px; padding: 3px 5px; }
.menuset_details_item .act{ text-align:right; }

.apps_details_item label{ font-weight:bold; display:block; padding:0 0 10px; }
.apps_details_item select{ margin:0; }
.apps_details_item p{ margin-top:0; }
.apps_details_item p i{ display:block; padding:10px 0; }

.setname{ background:rgb(248,248,248); height:30px; padding:10px; width:100%; border-bottom:1px solid #bbb; }
.setname span{ padding-right:10px; }
.setname .button{ font-weight:bold; height:auto; padding:8px 10px 7px; margin:0; vertical-align:top; }

.delete_tab:hover{ background:#ccc; color:#fff; }
.view_more_tabs img{ margin-top:15px; padding-bottom:11px; }
.process-alert{ border:1px solid #ccc; padding:10px; display:none; font-weight:bold; color:red; margin:5px 0; }

#link_the_set{ width:100%; height:100px; border-top:1px solid #ccc; }

.the_sets{
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
        box-sizing:border-box;
            background:#FFF;
            padding:10px;
            height:auto;
            clear:both;}