/*Tabs*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
	
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	/*overflow:hidden;*/
	position: relative;
	background: #eaeaea url(../images/panel_bg.jpg) repeat-x left;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size:12px;
	padding: 0 7px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	float:left;
}
ul.tabs li span{
	
	padding: 0 2px;
	cursor: pointer;
	
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border-left: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; 
	width: 100%;
}
.tab_content {
	font-size:12px;
	font-weight:normal;
}
.tab_content_image{
	font-size:11px;
	font-weight:normal;
}
.single_content{
	border-top: 1px solid #999;
}

ul.cat_tab,ul.tag_tab{
	margin: 0px 0 0 0;
	padding: 0;
	list-style: none;
	height:207px !important;
	height:206px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	width: 100%;
	background:url(../images/menu_bg.jpg) repeat-y top left;
	
}

ul.cat_tab li,ul.tag_tab li{
	margin: 0;
	padding:0px;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border-right: 1px solid #999;
	/*border-bottom: 1px solid #999;*/
	margin-right: -1px; /*--Pull the list item right 1px--*/
	overflow: hidden;
	
	
}
ul.cat_tab li a,ul.tag_tab li a{
	text-decoration: none;
	color:#000;
	display:block;
	font-size:11px;
	padding: 0 10px;
	outline: none;
	
}

ul.cat_tab li a:hover, ul.tag_tab li a:hover {
	background: #ccc;
	
}
html ul.cat_tab li.active, html ul.cat_tab li.active a:hover,
html ul.tag_tab li.active, html ul.tag_tab li.active a:hover{ /*--Makes sure that the active tab does not listen to the hover properties--*/
	/*background: #eaeaea url(../images/panel_bg.jpg) repeat-x left;	*/
	background-color:#fff;
}
.view_more_tabs ul{
	padding:0;
	margin:0;
	position:absolute;
	top: 31px;
	left:0px;
	display: none;

}
.view_more_tabs ul li{
	list-style: none;
	border-left:1px solid #999;
	background: #fff;
	
}
.view_more_tabs ul li a{
	display: block;
	border:none;
	width:200px;
	
}