<!-- BEGIN about_block -->
<section id="content" class="about-content">
  <div class="container">
    <div class="container-image-first">
      <img src="{brief_img_top}" class="first" alt="">
    </div>
    <div class="container-text-first">
      <p>{brief_text_top}</p>
    </div>
  </div>
</section>

<section class="paragraph">
  <div class="container">
    {description_text_middle}
  </div>
</section>

<section class="about-content">
  <div class="container">
    <div class="container-image-second">
      <img src="{brief_img_bottom}" class="second" alt="">
    </div>
    <div class="container-text-second">
      <p>{brief_text_bottom}</p>
    </div>
  </div>
</section>
<!-- END about_block -->
