<!-- BEGIN booking_template_block -->
<section id="content" class="one-content">
  <div class="container">

    {content_area_home}

    <div class="row">
  		<div class="col-md-12">
  			<!-- iChronoz Content -->
  				<div class="chr_container">
  					<div ng-app="ichronoz" class="chr_row chronoz">
  						<div ui-view></div>
  						<section data-ng-controller="sessionExpired">
  						</section>
  					</div>
  				</div>
  			<!-- End iChronoz Content -->
  		</div>
  	</div>

  </div>
</section>
<!-- END booking_template_block -->
