<!-- BEGIN grand_label_block -->
<div class="grand-container container-table">
  <div class="grand-text container-table-cell">
    <div class="grand-title">
      REHAT SPA
    </div>
    <div class="grand-desc">
      IS THE NUMBER 1 SPA IN LEGIAN AREA BY TRIP ADVISOR
    </div>
    <div class="line">
      <img src="http://{themes_url}/images/line.svg">
    </div>
  </div>
</div>
<!-- END grand_label_block -->
