<!-- BEGIN grand_label_mobile_block -->
<section class="grand-container-mobile">
  <div class="grand-text">
    <div class="grand-title">
      Our {title_page}
    </div>
    <div class="grand-desc">
      GRANDMAS PLUS HOTELS {title_destination}
    </div>
    <div class="line">
      <img src="http://{themes_url}/images/line.svg">
    </div>
  </div>
</section>
<!-- END grand_label_mobile_block -->
