<!-- BEGIN grand_label_block -->
<div class="grand-container container-table">
  <div class="grand-text container-table-cell">
    <div class="grand-title">
      Our {title_page}
    </div>
    <div class="grand-desc">
      GRANDMAS PLUS HOTELS {title_destination}
    </div>
    <div class="line">
      <img src="http://{themes_url}/images/line.svg">
    </div>
  </div>
</div>
<!-- END grand_label_block -->
