<!-- BEGIN grand_label_mobile_block -->
<section class="grand-container-mobile">
  <div class="grand-text">
    <div class="grand-title">
      REHAT SPA
    </div>
    <div class="grand-desc">
      IS THE NUMBER 1 SPA IN LEGIAN AREA BY TRIP ADVISOR
    </div>
    <div class="line">
      <img src="http://{themes_url}/images/line.svg">
    </div>
  </div>
</section>
<!-- END grand_label_mobile_block -->
