<!-- BEGIN second_home_content_block -->
<section id="content" class="one-content plus">
  <div class="container">
    <div class="title">
        GRANDMAS {destinations_page}
      </div>
      <div class="line centers">
        <img src="http://{themes_url}/images/line.svg" alt="">
      </div>
      <div class="description">
        {brief_text}
      </div>
  </div>
</section>
<!-- END second_home_content_block -->
