<!-- BEGIN navigation_second_block -->
<nav id="nav" class="wrapper-navbar">
  <div class="brand">
    {logo_nav}
  </div>
  <div class="icons">
    <div class="open-btn-second">
      <div class="bar-icon"></div>
      <div class="bar-icon"></div>
      <div class="bar-icon"></div>
    </div>
  </div>
  <div class="container-nav-side">
    <div class="nav-side">
      <div class="btn-book">
        <a href="#" data-toggle="modal" data-target="#book_now" class="btn button">Book Now</a>
      </div>
      <div class="element">
        <div class="content">
        </div>
      </div>
      <div class="select-btn">
        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          {list_destinations}
        </select>
      </div>
    </div>
  </div>
  <div class="nav-fluid">
    <a href="javascript:void(0)" class="closes-second">
      <img class="img-responsive close-btn-second" src="http://{themes_url}/images/close.svg">
    </a>
    <ul class="list-unstyled">
      <!-- <li class="{about}"><a href="http://{site_url}/{destinations_page}/about">About</a></li> -->
      <li class="{rooms}"><a href="http://{site_url}/{destinations_page}/rooms">Rooms</a></li>
      <li class="{dining}"><a href="http://{site_url}/{destinations_page}/dining">Dining</a></li>
      <li class="{spa}"><a href="http://{site_url}/{destinations_page}/spa">Spa</a></li>
      <li class="{activities}"><a href="http://{site_url}/{destinations_page}/activities">Activities</a></li>
      <li class="{gallery}"><a href="http://{site_url}/{destinations_page}/gallery">Gallery</a></li>
      <li class="{offers}"><a href="http://{site_url}/{destinations_page}/special-offers">Offers</a></li>
    </ul>
  </div>
</nav>
<!-- END navigation_second_block -->
