<!-- BEGIN slider_home_detail_mobile_block -->
<section class="slider-mobile">
  <div class="container-slider-mobile">
    <div class="content-slide-mobile">
      <!-- BEGIN slider_home_detail_loop_mobile -->
      <div class="item">
        <div class="category">
          Special Offers
        </div>
        <div class="title">
          {title}
        </div>
        <div class="line">&#151;</div>
        <div class="content-body">
          {content}
        </div>
        <div class="btn-detail">
          <a href="{url}#{title}" class="btn button">See Detail</a>
        </div>
      </div>
      <!-- END slider_home_detail_loop_mobile -->
    </div>
  </div>
</section>
<!-- END slider_home_detail_mobile_block -->
