<!-- BEGIN slider_home_detail_block -->
<div class="container-slider">
  <div class="content-slide">
    <!-- BEGIN slider_home_detail_loop -->
    <div class="item">
      <div class="category">
        Special Offers
      </div>
      <div class="title">
          <a href="{url}#{title}">{title}</a>
      </div>
      <div class="line">&#151;</div>
      <div class="content-body">
        <a href="{url}#{title}">{content}</a>
      </div>
      <div class="btn-detail">
        <a href="{url}#{title}" class="btn button">See Detail</a>
      </div>
    </div>
    <!-- END slider_home_detail_loop -->
  </div>
</div>
<!-- END slider_home_detail_block -->
