<!-- BEGIN special_offers_destination_block -->
<section id="content" class="so-content">
    <div class="container">
      <div class="container-data">
        <!-- BEGIN special_offers_destination_data_block -->
        <div id="{title}" class="container-text-image item seminyak clearfix">
          <div class="container-image">
            <img src="http://{site_url}/lumonata-plugins/additional/background/{image_special_offers}" class="content" alt="">
          </div>
          <div class="container-text">
            <div class="desc">
              <div class="hotel">
                Grandmas Plus Hotel {tag}
              </div>
              <div class="title">
                {title}
              </div>
              <div class="description">
                {content}
                {additional_list_category}
              </div>
              <div class="promocode">
                {promo_code}
              </div>
              <div class="price">
                {price_offers_net} 
              </div>
              {website_link}
              </div>
            </div>
          </div>
        </div>
        <!-- END special_offers_destination_data_block -->
      </div>
    </div>
  </section>
<!-- END special_offers_destination_block -->
