<!-- BEGIN dashboard_block -->

<div class="dash">
	<h1 class="dash-title">Dashboard</h1>

	<div class="dash-content">
		<div id="chart" class="chart clearfix">
			<header>
				<div id="embed-api-auth-container"></div>
				<div id="view-selector-container"></div>
				<div id="view-name"></div>
				<div id="active-users-container"></div>
			</header>
			<div class="Chartjs">
				<h2>Last 30 Days Reports</h2>
				<div class="action clearfix">
					<select name="action_dest" autocomplete="off">
						<option value="10084256" selected="selected">Legian</option>
						<option value="124826339">Seminyak</option>
						<option value="124826339">Airport</option>
					</select>
					<select name="action_metric" autocomplete="off">
						<option value="ga:percentNewSessions">% New Sessions</option>
						<option value="ga:avgSessionDuration">Avg. Session Duration</option>
						<option value="ga:bounceRate">Bounce Rate</option>
						<option value="ga:pageviewsPerSession">Pages / Session</option>
						<option value="ga:pageviews">Pageviews</option>
						<option value="ga:sessions" selected="selected">Sessions</option>
						<option value="ga:users">Users</option>
					</select>
				</div>
				<figure class="Chartjs-figure">
					<canvas id="chart-1-container"></canvas>
				</figure>
				<ol class="Chartjs-legend" id="legend-1-container"></ol>
			</div>
			<div class="three-cols clearfix">
				<div class="box">
					<div class="Chartjs">
						<h3>% New Sessions</h3>
						<b></b>
						<figure class="Chartjs-figure">
							<canvas id="chart-2-container"></canvas>
						</figure>
					</div>
				</div>
				<div class="box">
					<div class="Chartjs">
						<h3>Avg. Session Duration</h3>
						<b></b>
						<figure class="Chartjs-figure">
							<canvas id="chart-3-container"></canvas>
						</figure>
					</div>
				</div>
				<div class="box">
					<div class="Chartjs">
						<h3>Bounce Rate</h3>
						<b></b>
						<figure class="Chartjs-figure">
							<canvas id="chart-4-container"></canvas>
						</figure>
					</div>
				</div>
				<div class="box">
					<div class="Chartjs">
						<h3>Pages / Session</h3>
						<b></b>
						<figure class="Chartjs-figure">
							<canvas id="chart-5-container"></canvas>
						</figure>
					</div>
				</div>
				<div class="box">
					<div class="Chartjs">
						<h3>Pageviews</h3>
						<b></b>
						<figure class="Chartjs-figure">
							<canvas id="chart-6-container"></canvas>
						</figure>
					</div>
				</div>
				<div class="box">
					<div class="Chartjs">
						<h3>Sessions</h3>
						<b></b>
						<figure class="Chartjs-figure">
							<canvas id="chart-7-container"></canvas>
						</figure>
					</div>
				</div>
				<div class="box">
					<div class="Chartjs">
						<h3>Users</h3>
						<b></b>
						<figure class="Chartjs-figure">
							<canvas id="chart-8-container"></canvas>
						</figure>
					</div>
				</div>
			</div>
			<div style="float:left; width:40%; margin-top:30px;">
				<figure class="Chartjs-figure">
					<canvas id="chart-9-container"></canvas>
				</figure>
				<ol class="Chartjs-legend" id="legend-9-container"></ol>
			</div>
		</div>
	</div>
</div>

<script>
	(function(w,d,s,g,js,fs){
		g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){ this.q.push(f); }};
		js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
		js.src='https://apis.google.com/js/platform.js';
		fs.parentNode.insertBefore(js,fs);js.onload=function(){ g.load('analytics'); };
	}(window,document,'script'));
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<link href="https://ga-dev-tools.appspot.com/public/css/chartjs-visualizations.css" rel="stylesheet">
<script>

	function query(params) {
		return new Promise(function(resolve, reject) {
			var data = new gapi.analytics.report.Data({query: params});
			data.once('success', function(response) { resolve(response); })
				.once('error', function(response) { reject(response); })
				.execute();
		});
	}

	function makeCanvas(id) {
		var container = document.getElementById(id);
		var canvas = document.createElement('canvas');
		var ctx = canvas.getContext('2d');

		container.innerHTML = '';
		canvas.width = container.offsetWidth;
		canvas.height = container.offsetHeight;
		container.appendChild(canvas);

		return ctx;
	}

	function generateLegend(id, items) {
		var legend = document.getElementById(id);
		legend.innerHTML = items.map(function(item) {
			var color = item.color || item.fillColor;
			var label = item.label;
			return '<li><i style="background:' + color + '"></i>' + label + '</li>';
		}).join('');
	}

	function render30daysData(ids, lbl='Sessions', metric='ga:sessions', dimensions='ga:date,ga:nthDay') {
		var sessions = query({
			'ids': ids,
			'dimensions': dimensions,
			'metrics': metric,
			'start-date': '30daysAgo',
			'end-date': 'today'
		}).then(function(response) {
			var ctx    = document.getElementById('chart-1-container').getContext('2d');
			var list   = response.rows.map(function(row) { return +Math.floor(row[2]); });
			var labels = response.rows.map(function(row) { return +row[0]; });
				labels = labels.map(function(label) {
					return moment(label, 'YYYYMMDD').format('dddd, MMMM Do YYYY');
				});

			var data = {
			    labels: labels,
			    datasets: [
			        {
					    label: lbl,
					    fillColor : 'rgba(220,220,220,0.5)',
					    strokeColor : 'rgba(220,220,220,1)',
					    pointColor : 'rgba(220,220,220,1)',
					    pointStrokeColor : 'rgb(255,255,255)',
			            data: list
			        }
			    ]
			};

			var config = {
			    type: 'line',
			    data: data,
			    options: {
			        scales: {
			            xAxes: [{
			                display: false
			            }]
			        },
			        legend: {
		            	display: false
					}
				}
			}

			if(jQuery('#chart-1-container').parent().find('.chartjs-hidden-iframe').length > 0){
				jQuery('#chart-1-container').parent().find('.chartjs-hidden-iframe').remove();
			}

			new Chart(ctx, config);
			generateLegend('legend-1-container', data.datasets);
		});
	}

	function renderAllData(ids){
		var arr = ['ga:percentNewSessions','ga:avgSessionDuration','ga:bounceRate',
				   'ga:pageviewsPerSession','ga:pageviews','ga:sessions',
				   'ga:users'];

		jQuery.each(arr,function(i, metric){
			var sessions = query({
				'ids': ids,
				'dimensions': 'ga:date,ga:nthDay',
				'metrics': metric,
				'start-date': '30daysAgo',
				'end-date': 'today'
			}).then(function(response) {
				var ctx    = document.getElementById('chart-'+(i+2)+'-container').getContext('2d');
				var list   = response.rows.map(function(row) { return +Math.floor(row[2]); });
				var labels = response.rows.map(function(row) { return +row[0]; });
					labels = labels.map(function(label) {
						return moment(label, 'YYYYMMDD').format('dddd, MMMM Do YYYY');
					});

				var data = {
				    labels: labels,
				    datasets: [
				        {
						    label: '',
						    fillColor : 'rgba(220,220,220,0.5)',
						    strokeColor : 'rgba(220,220,220,1)',
						    pointBorderColor: 'transparent',
				            pointBackgroundColor: 'transparent',
				            pointBorderWidth: 0,
				            pointHoverRadius: 0,
				            pointHoverBackgroundColor: 'transparent',
				            pointHoverBorderColor: 'transparent',
				            pointHoverBorderWidth: 0,
				            pointRadius: 0,
				            pointHitRadius: 10,
				            data: list
				        }
				    ]
				};

				var config = {
				    type: 'line',
				    data: data,
				    options: {
				    	tooltips: {
				    		enabled: false
				    	},
				        scales: {
				            xAxes: [{
				                display: false
				            }],
				            yAxes: [{
				                display: false
				            }]
				        },
				        legend: {
			            	display: false
						}
					}
				}

				if(jQuery('#chart-'+(i+2)+'-container').parent().find('.chartjs-hidden-iframe').length > 0){
					jQuery('#chart-'+(i+2)+'-container').parent().find('.chartjs-hidden-iframe').remove();
				}

				new Chart(ctx, config);
				var total  = Math.round(response.totalsForAllResults[metric] * 100) / 100;
				jQuery('#chart-'+(i+2)+'-container').parent().parent().find('b').text(total);
			});
		});
	}

	function renderUserSessions(ids) {
		query({
			'ids': ids,
			'dimensions': 'ga:userType',
			'metrics': 'ga:sessions'
		})
		.then(function(response){
			var list   = [];
			var labels = [];
			var legend = [];
			var colors = ['#4D5360','#949FB1'];
			var ctx    = document.getElementById('chart-9-container').getContext('2d');

			response.rows.forEach(function(row, i) {
				labels.push(row[0]);
				list.push(row[1]);
				legend.push({
					label: row[0],
					value: +row[1],
					color: colors[i]
				});
			});

			var data = {
			    labels: labels,
			    datasets: [
			        {
			            data: list,
			            backgroundColor: colors
			        }
			   	]
			};

			var config = {
			    type:'doughnut',
        		data: data,
			    options: {
			        legend: {
		            	display: false
					}
				}
			}

			if(jQuery('#chart-9-container').parent().find('.chartjs-hidden-iframe').length > 0){
				jQuery('#chart-9-container').parent().find('.chartjs-hidden-iframe').remove();
			}

			new Chart(ctx, config);
			generateLegend('legend-9-container', legend);
		});
	}

	gapi.analytics.ready(function(){
		var token  = '{token}';
		var viewid = jQuery('[name=action_dest]').val();

		var chart_1 = new Object;

		gapi.analytics.auth.authorize({
			'serverAuth': {
				'access_token' : token
			}
		});

		render30daysData('ga:'+viewid);
		renderAllData('ga:'+viewid);
		renderUserSessions('ga:'+viewid);

		// Set some global Chart.js defaults.
		Chart.defaults.global.animationSteps = 60;
		Chart.defaults.global.animationEasing = 'easeInOutQuart';
		Chart.defaults.global.responsive = true;
		Chart.defaults.global.maintainAspectRatio = false;

		jQuery('[name=action_metric]').change(function(){
			var metrics    = jQuery(this).val();
			var labels     = jQuery('option:selected',this).text();
			var id         = jQuery('[name=action_dest]').val();

			render30daysData('ga:'+id, labels, metrics);
		});

		jQuery('[name=action_dest]').change(function(){
			var metrics    = jQuery('[name=action_metric]').val();
			var labels     = jQuery('option:selected',this).text();
			var id         = jQuery(this).val();

			render30daysData('ga:'+id, labels, metrics);
			renderAllData('ga:'+id);
			renderUserSessions('ga:'+id);
		});
	});

</script>

<!-- END dashboard_block -->
