<!-- BEGIN ruleAddNew -->

<h1>{app_title}</h1>

<ul class="tabs">

   {tab}

</ul>

<div class="tab_container">

	{alert}

    

    <form method="post" action="#" enctype="multipart/form-data" name="upload" >

        {is_edit_all}

        {is_saved}

        

        <div class="button_wrapper clearfix">

            <div class="button_left">

                <ul class="button_navigation">

                    {button}

                </ul>   

            </div>

        </div>

        

	    <!-- BEGIN loopRule -->

	    <div class="list_edit">

            <fieldset class="forclone" rel="input">

                <p>Name</p>

                <p><input type="text" class="textbox" name="name[]" value="{name}" /></p>

            </fieldset>

            {parent}

            <fieldset class="forclone" rel="textarea">

               <p>Description</p>
               
               <p>{description}</p>

            </fieldset>

            <input type="hidden" class="textbox" name="rule_id[]" value="{rule_id}" />

        

        	{application_additional_data}

	    </div>

	    <!-- END loopRule -->

        

        <div class="button_wrapper clearfix">

            <div class="button_left">

                <ul class="button_navigation">

                   {button}

                </ul>   

            </div>

       </div>

    </form>

</div>

<!-- END ruleAddNew -->