<!-- BEGIN home_content_block -->
<section id="content" class="grandmas">
  <div class="container-image">
    <img src="{seminyak_image}" class="full-cover" alt="">
  </div>
  <div class="container-text container-table">
    <div class="container-table-cell">
      <div class="title">
        <a href="{site_url}/seminyak">GRANDMAS SEMINYAK</a>
      </div>
      <div class="line">&#151;</div>
      <div class="description">
        {brief_seminyak}
      </div>
      <div class="link">
        <a href="{site_url}/seminyak" target="_blank">Visit GrandMas Seminyak</a>
      </div>
    </div>
  </div>
  <div class="container-image mobile">
    <img src="{legian_image}" class="full-cover" alt="Mobile">
  </div>
  <div class="container-text container-table">
    <div class="container-table-cell">
      <div class="title">
        <a href="{site_url}/legian" target="_blank">GRANDMAS LEGIAN</a>
      </div>
      <div class="line">&#151;</div>
      <div class="description">
        {brief_legian}
      </div>
      <div class="link">
        <a href="{site_url}/legian" target="_blank">Visit GrandMas Legian</a>
      </div>
    </div>
  </div>

  <div class="container-image desktop">
    <img src="{legian_image}" class="full-cover" alt="Desktop">
  </div>
  <div class="container-image">
    <img src="{airport_image}" class="full-cover" alt="">
  </div>
  <div class="container-text container-table">
    <div class="container-table-cell">
      <div class="title">
        <a href="{site_url}/airport">GRANDMAS AIRPORT</a>
      </div>
      <div class="line">&#151;</div>
      <div class="description">
        {brief_airport}
      </div>
      <div class="link">
        <a href="{site_url}/airport">Visit GrandMas Airport</a>
      </div>
    </div>
  </div>
</section>
<!-- END home_content_block -->
