<!-- BEGIN navigation_block -->
<div class="icons">
  <a href="{url}"><img src="http://{themes_url}/images/grandmas logo.svg" class="img-responsive logo" alt=""></a>
  <div class="open-btn">
    <div class="bar-icon"></div>
    <div class="bar-icon"></div>
    <div class="bar-icon"></div>
  </div>
</div>
<div class="navigation">
  <a href="javascript:void(0)" class="closes">
    <img class="img-responsive close-btn" src="http://{themes_url}/images/close.svg">
  </a>
  <ul class="list-unstyled">
    {list_destination_page}
    <li><a href="special-offers">Special Offers</a></li>
    <li><a href="#" data-toggle="modal" data-target="#book_now" class="btn button">Book Now</a></li>
  </ul>
</div>
<!-- END navigation_block -->
