<!-- BEGIN slider_home_block -->
<div class="container-slider">
  <div class="content-slide">
    <!-- BEGIN slider_home_loop  -->
    <div class="item">
      <div class="category">
        Special Offers
      </div>
      <div class="title">
          <a href="special-offers#{number}">{title}</a>
      </div>
      <div class="line">&#151;</div>
      <div class="content-body">
          <a href="special-offers#{number}">{content}</a>
      </div>
      <div class="btn-detail">
        <a href="special-offers#{number}" class="btn button">See Detail</a>
      </div>
    </div>
    <!-- END slider_home_loop  -->
  </div>
</div>
<!-- END slider_home_block -->
