<!-- BEGIN special_offers_block -->
<section id="content" class="so-content">
  <div class="container">
    <div class="container-filter">
      <div class="text">
        JUST SHOW SPECIAL OFFERS FROM
      </div>
      <div class="line">
        <img src="http://{themes_url}/images/line.svg">
      </div>
      <div class="filter">
        <ul class="list-unstyled list-inline filter-button-group">
          <li data-filter="*" class="active">All</li>
          {list_category_destination}
        </ul>
      </div>
    </div>
    <div class="container-data">
      <!-- BEGIN special_offers_data_block -->
      <div id="{number}" class="container-text-image item {tag} clearfix">
        <div class="container-image">
          <img src="http://{site_url}/lumonata-plugins/additional/background/{image_special_offers}" class="content" alt="">
        </div>
        <div class="container-text">
          <div class="desc">
            <div class="hotel">
              Grandmas Plus Hotel {tag}
            </div>
            <div class="title">
              {title}
            </div>
            <div class="description">
              {content} {additional_list_category}
            </div>
            <div class="promocode">
              {promo_code}
            </div>
            <div class="price">
               {price_offers_net}
            </div>
            {url}
          </div>
        </div>
      </div>
      <!-- END special_offers_data_block -->
    </div>
  </div>
</section>
<!-- END special_offers_block -->
