<!-- BEGIN special_offers_label_mobile_block -->
<section class="grand-container-mobile">
    <div class="grand-text">
      <div class="grand-title">
        Special Offers
      </div>
      <div class="grand-desc">
        GRANDMAS HOTELS
      </div>
      <div class="line">
        <img src="http://{themes_url}/images/line.svg">
      </div>
    </div>
  </section>
<!-- END special_offers_label_mobile_block -->
