<!-- BEGIN special_offers_label_block -->
<div class="grand-container-second container-table">
  <div class="grand-text container-table-cell">
    <div class="grand-title">
      Special Offers
    </div>
    <div class="grand-desc">
      GRANDMAS HOTELS
    </div>
    <div class="line">
      <img src="http://{themes_url}/images/line.svg">
    </div>
  </div>
</div>
<!-- END special_offers_label_block -->
