<!-- BEGIN post_video -->

<link rel="stylesheet" type="text/css" href="http://{site_url}/lumonata-plugins/post-video/css/jquery-ui-1.8.16.custom.css" media="screen" />
<link rel="stylesheet" type="text/css" href="http://{site_url}/lumonata-plugins/post-video/css/style.css">

<div class="additional_data">
    <h2>Gallery Video</h2>
    <div class="additional_content">

		<div id="gallery_video_box_dialog_{iii}" title="Add New Video" >
			<div class="gallery-video-popup">
				<fieldset>
		    		<span>Type</span>
		    		<select id="video_type_{iii}" name="video_type[{iii}]" style="margin:0 0 5px;">
		    			<option value="0">iframe</option>
		    			<option value="1">youtube link</option>
		    		</select>
				</fieldset>
				<fieldset>
		    		<span>Content</span>
		    		<textarea id="video_content_{iii}" class="textarea" name="video_content[{iii}]" rows="5"></textarea>
				</fieldset>
			</div>			
		</div>

		<div class="post-video-list">
			<ol class="clearfix">
				{video_list}
			</ol>
		</div>
		<a id="add_new_video_{iii}" class="button add-new-video">Add New Video</a>
	</div>
</div>

<script>
	/*
	| -------------------------------------------------------------------------------------
	| New Video Function
	| -------------------------------------------------------------------------------------
	*/
	function gallery_video_action_func(){
		add_new_gallery_video();
		//reorder_gallery_video();
		
		jQuery('#add_new_video_{iii}').click(function(){
			jQuery('#video_type_{iii}').val('');
			jQuery('#video_content_{iii}').val('');
			jQuery('#gallery_video_box_dialog_{iii}').dialog('open');
		});	
	}

	function reorder_gallery_video(){
		jQuery('.post-video-list ol').nestedSortable({
			items: 'li',
			maxLevels :1,
			opacity: .6,
			tolerance: 'pointer',
			stop: function(eve, ui){
				console.log(eve);
			}
		});
	}
	
	function add_new_gallery_video(){		
		var id      = jQuery('[name=post_id[0]]').val();
		var type    = jQuery('#video_type_{iii}');
		var content = jQuery('#video_content_{iii}');

		delete_video();

		function check_value(){
			var error = 0;

			if( type.val()=='' ){
				type.addClass('ui-state-error');
				type.attr('placeholder','Please fill video type');
				error++;
			}else if( content.val()=='' ){
				content.addClass('ui-state-error');
				content.attr('placeholder','Please fill video content');
				error++;
			}
			
			return error==0 ? true : false;
		}

		function set_video_list( list ){
			if( list.length === 0 )
			{
				var content = '';
				jQuery('.post-video-list ol').html(content);
			}
			else
			{			
				var content = '';

				jQuery.each(list, function(i, d){
					content += 
					'<li id="item_'+i+'" class="item">'+
						'<div class="video-item">'+
							'<span class="overlay">'+							
								'<span class="actions">'+
									'<a rel="'+i+'">DELETE</a>'+
								'</span>'+
							'</span>'
							+d.content+
						'</div>'+
					'</li>';
				});

				jQuery('.post-video-list ol').html(content);
				//reorder_gallery_video();
				delete_video();
			}
		}

		function delete_video(){
			jQuery('.video-item a').unbind();
			jQuery('.video-item a').click(function(){
				var sel  = jQuery(this);
				var url  = 'http://{ajax_url}';
				var prm  = new Object;
					prm.post_id  = jQuery('[name=post_id[0]]').val();
					prm.ajax_key = 'delete-gallery-video';
					prm.app_name = '{app_name}';
					prm.index    = sel.attr('rel');

				jQuery.post(url, prm, function(e){
					if(e.result=='success')
					{
						set_video_list(e.data);
					}
					else
					{
						alert('Delete this video failed!');
					}
				},'json');
			})
		}

		var dialog = jQuery("#gallery_video_box_dialog_{iii}").dialog({
			bgiframe: true,
			autoOpen: false,
			resizable: false,
			modal: true,
			height: 350,
			width: 700,
			buttons: {
				'Save': function(){
					if( check_value() ){							
						var pkey = 'add-gallery-video';
						var url  = 'http://{ajax_url}';
						var prm  = new Object;
							prm.ajax_key = pkey;
							prm.type     = type.val();
							prm.content  = content.val();
							prm.app_name = '{app_name}';
							prm.post_id  = id;

						jQuery.post(url, prm, function(e){
							if(e.result=='success')
							{
								set_video_list(e.data);			
								type.val('');
								content.val('');
							}
							else
							{
								alert('Something Wrong!!');
							}
						},'json');
					}
				},
				Cancel: function(){
					dialog.dialog('close');
				}
			},
			close: function() {
			}
		});
	}

	jQuery(document).ready(function(){
		gallery_video_action_func();
	})
</script>

<!-- END post_video -->