<div ng-switch="calendarMode">
    <div class="chr_row calendar-navbar">
        <!-- <div class="chr_col-md-4 chr_hidden-sm chr_hidden-xs chr_text-left">
            <button type="button" class="chr_btn chr_btn-book chr_btn-sm" ng-disabled="isToday()" ng-click="today()">
                Today
            </button>
        </div> -->
        <div class="chr_col-md-6 chr_col-sm-6 chr_col-xs-6 chr_text-right chr_mb6 chr_header">
            
            <strong>{{title}}</strong>
        </div>        
        <div class="chr_col-md-6 chr_col-sm-6 chr_col-xs-6 chr_mb6">
            <button type="button" class="chr_btn chr_btn-book chr_btn-sm" ng-click="move(-1)"><i
                    class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" class="chr_btn chr_btn-book chr_btn-sm" ng-click="move(1)"><i
                    class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
    <dayview ng-switch-when="day"></dayview>
    <monthview ng-switch-when="month"></monthview>
    <weekview ng-switch-when="week"></weekview>
</div>