<div>
    <table class="chr_table chr_table-bordered monthview-datetable monthview-datetable">
        <thead>
        <tr>
            <th ng-show="showWeeks" class="calendar-week-column chr_text-center">#</th>
            <th ng-repeat="label in labels track by $index" class="chr_text-center">
                <small>{{label}}</small>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows track by $index">
            <td ng-show="showWeeks" class="calendar-week-column chr_text-center">
                <small><em>{{ weekNumbers[$index] }}</em></small>
            </td>
            <td ng-repeat="dt in row track by dt.date" class="" ng-click="select(dt.date)"
                ng-class="{'monthview-not-allow':!dt.hasEvent&&!dt.current, 'chr_text-center':true, 'monthview-dateCell monthview-secondary-with-event': dt.secondary&&dt.hasEvent, 'monthview-dateCell monthview-primary-with-event':!dt.secondary&&dt.hasEvent&&!dt.selected, 'monthview-dateCell monthview-selected': dt.selected}">
                <div ng-class="{'text-muted':dt.secondary}">
                    {{dt.label}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <!-- <span class="badge">&nbsp</span> <span class="mright20">Current Day</span> -->
        <span class="chr_badge monthview-selected">&nbsp</span> <span class="chr_mright20">Selected Day</span>
        <span class="chr_badge monthview-primary-with-event">&nbsp</span> <span class="chr_mright20">Available Day</span>
        <span class="chr_badge monthview-not-allow">&nbsp</span> Unavailable Day<br>
    </div>
    <!-- <div ng-if="showEventDetail" class="event-detail-container">
        <div class="scrollable" style="height: 200px">
            table class="chr_table chr_table-bordered chr_table-striped chr_table-fixed">
                <tr ng-repeat="event in selectedDate.events" ng-if="selectedDate.events">
                    <td ng-if="!event.allDay" class="monthview-eventdetail-timechr_column">{{event.startTime|date: 'HH:mm'}}
                        -
                        {{event.endTime|date: 'HH:mm'}}
                    </td>
                    <td ng-if="event.allDay" class="monthview-eventdetail-timechr_column">All day</td>
                    <td class="event-detail" ng-click="eventSelected({event:event})">{{event.title}}</td>
                </tr>
                <tr ng-if="!selectedDate.events"><td class="no-event-chr_label">No Events</td></tr>
            </chr_table>
        </div>
    </div> -->
</div>