

<div class='chr_col-lg-12' >
	<div ng-hide="showDescriptionNoResult" class="">
			<span ng-bind-html="gagal.apologyText">
			</span>
        <br>
        <span class="chr_text-bold chr_size11" ng-bind-html="gagal.apologySuggest">
        </span>
	</div>
	<div ng-show="showDescriptionNoResult" class="chr_text-center">
		Your new selected date: <b>{{cdays}} to {{coday}}</b>.
	</div>
	<br />
	<!-- Calendar -->
	<div class="chr_col-md-12">
            <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)"></calendar>
    </div>
    <!-- End Calendar -->
</div>

<div class="clearfix"></div>
<div class="line4"></div>
