<form action="#">
	<span class="opensans size24 slim">Contact</span>
	<input type="text" class="chr_form-control logpadding margtop10" placeholder="Name">
	<input type="text" class="chr_form-control logpadding margtop20" placeholder="Phone">
	<input type="text" class="chr_form-control logpadding margtop20" placeholder="E-mail">
</form>
