<div class="container-chr chr_mtop20" style="max-width: 1100px;">
	<div class="chr_row">
		<!-- STEP -->
		<div class="chr_col-md-12" ng-show="management == true">
			<div class="chr_row">
				<div class="chr_col-md-5">
					<span class="chr_size14">{{info.hotelName}}</span><br />
					<span>{{info.hotelAddress}}</span>
				</div>
				<div class="chr_col-md-7 chr_text-right chr_p10">
					<div class="chr_row">
						<div class="chr_col-md-3 chr_hidden-sm chr_hidden-xs">
							<span class="chr_text-left chr_size11" style="padding-right:10px;">Booking Step > </span>
						</div>
						<div class="chr_col-md-9 chr_col-sm-8 chr_hidden-xs">
							<span class="chr_roundstep chr_text-left active">1</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Reservation</span>
							<span class="chr_roundstep chr_text-left">2</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Confirmation</span>
							<span class="chr_roundstep chr_text-left">3</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Payment</span>
						</div>
						<div class="chr_col-xs-12 chr_visible-xs">
							<span class="chr_roundstep chr_text-left active">1</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Rsv</span>
							<span class="chr_roundstep chr_text-left">2</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Confirm</span>
							<span class="chr_roundstep chr_text-left">3</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Pay</span>
						</div>
					</div>
				</div>
			</div>		
		</div>
		<div class="chr_col-md-12" ng-hide="management == true">
			<div class="chr_row">
				<div class="chr_col-md-12">
					<div class="chr_row">
						<div class="chr_col-md-3 chr_hidden-sm chr_hidden-xs">
							<span class="chr_text-left chr_size11" style="padding-right:10px;">Booking Step > </span>
						</div>
						<div class="chr_col-md-9 chr_col-sm-8 chr_hidden-xs">
							<span class="chr_roundstep chr_text-left active">1</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Reservation</span>
							<span class="chr_roundstep chr_text-left">2</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Confirmation</span>
							<span class="chr_roundstep chr_text-left">3</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Payment</span>
						</div>
						<div class="chr_col-xs-12 chr_visible-xs">
							<span class="chr_roundstep chr_text-left active">1</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Rsv</span>
							<span class="chr_roundstep chr_text-left">2</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Confirm</span>
							<span class="chr_roundstep chr_text-left">3</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Pay</span>
						</div>
					</div>
				</div>
			</div>		
		</div>
		<div class="chr_clearfix"></div>
		<div class="chr_line4"></div>
		<!-- END STEP -->

		<!-- LEFT CONTENT -->
		<div class="chr_col-md-8 chr_col-sm-12 chr_col-xs-12 chr_mb20 chr_mtop10">
			<div class="chr_row chr_mb20">
				<div class="chr_col-md-4">
					<div class="chr_row">
						<div class="chr_col-md-12">
							<span>
								<a data-lightbox="products" href ng-click="showCustom(product, product.lastMinuteDeal)" >
									<img style="height:320px;width:300px;" alt="..." class="chr_img-responsive chr_image-box" ng-src="{{product.img}}">
								</a>
							</span>		
						</div>
						<div class="chr_col-md-12 chr_text-left chr_detail-link">
							<a href ng-click="showCustom(product, product.lastMinuteDeal)">
								{{product.accType}} & Rate Detail
							</a>		
						</div>
						<div class="chr_col-md-12 chr_text-left chr_detail-link">
							<a href ng-click="showTerm(product)">
								Term & Condition
							</a>
						</div>
					</div>
				</div>
				<div class="chr_col-md-8">
					<div class="chr_row">
						<div class="chr_col-md-12">
							<div class="chr_mb10">
								<span class="chr_size14">{{product.name}}</span>	
							</div>
							<div class="chr_red chr_text-bold chr_mb10">
								{{product.bookingDate}} ( {{product.night}} Night<span ng-show="product.night > 1">s</span> Stay )
							</div>
							<div class="chr_text-justify chr_mb10" ng-bind-html="product.desc"></div>
							<div ng-show="product.surchargeDescription != ''" class="chr_text-justify chr_mb10" ng-bind-html="product.surchargeDescription"></div>
							<div ng-show="product.specialDescription != ''" class="chr_text-justify chr_mb10" ng-bind-html="product.specialDescription"></div>
							<div>
								<ul>
									<li><span class="chr_text-bold">Save {{getPersen(product.oldRate, product.rate)}}% </span></li>
									<li><span class="chr_text-bold">At Average {{product.cur}} {{ ( product.rate*product.rooms ) / product.night | currencys:product.cur }} per Night.</span></li>
									<li>
										<span class="chr_text-bold">
											Maximum {{product.maxPax}} Adults in existing beds 
												<span ng-show="product.maxChild < 1"> and no Children in the room</span>
												<span ng-hide="product.maxChild < 1">+ {{product.maxChild}} Child under {{product.childYear}} years old (in existing beds) per Room.</span>
										</span>
									</li>
									<li>
										<span class="chr_text-bold" ng-show="product.maxAdult > 0">
											Maximum {{product.maxAdult}} Extra Bed in room.
										</span> 
										<span ng-hide="product.maxAdult > 0" class="chr_text-bold">
											No Extrabed available for this room.
										</span>
									</li>
									
									<li ng-show="product.taxIncluded == 0"><span class="chr_text-bold">Rate is subject to {{srvcTax}}% Service Charge and {{govTax}}% Government Tax.</span></li>
									<!-- <li ng-show="product.cancellation == 1"><span class="chr_text-bold">FREE Cancellation </span>before {{product.cancellationBefore}}</li> -->
									<li ng-show="product.cancellation == 0"><span class="chr_text-bold">Non Refundable.</span></li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- reservation info -->
			<div class="chr_row chr_mb20">
				<div class="chr_col-md-12 chr_mtop20">
					<span class="chr_size11 chr_text-bold">
						Your Reservation are for : &nbsp;
					</span>
				</div>
				<div class="chr_col-md-5 chr_col-sm-12">
					<span ng-if="room <= product.allotment">
						<input readonly="true" type="number" ng-model="product.rooms" ng-init="product.rooms=room" min="1" max="{{product.allotment}}" style="width:65px;display: inline;" class="chr_form-control">
					</span>
					<span ng-if="product.allotment < room">
						<input readonly="true" type="number" ng-model="product.rooms" min="1" max="{{product.allotment}}" style="width:65px;display: inline;" class="chr_form-control">
					</span>
					&nbsp; 
					{{product.typeName}}&nbsp;
					with &nbsp;
				</div>
				<div class="chr_col-md-4 chr_col-sm-12">
					<input readonly="true" ng-change="changeQty()" ng-model="product.adult" ng-init="product.adult=adult" type="number" min="1" max="{{product.maxPaxAll}}" style="width:65px;display: inline;" class="chr_form-control">
					&nbsp; 
					Adult per room and &nbsp;
				</div>
				<div class="chr_col-md-3 chr_col-sm-12">
					<input readonly="true" ng-model="product.child" type="number" ng-init="product.child=child" name="children" min="0" max="{{product.maxChild}}" style="width:65px;display: inline;" class="chr_form-control">
						&nbsp; 
						Child per room.
				</div>
			</div>
			<!-- End reservation info -->

			<!-- Additional info -->
			<div class="chr_row">
				<div class="chr_col-md-12 chr_mb20 chr_mtop20">
					<div>
						<span class="chr_size12 chr_text-bold" ng-show="product.adult > product.maxPax || product.breakfast == 0">
								Additional for: {{product.rooms}} {{product.accType}} and {{product.night}} Night<span ng-show="product.night > 1">s</span>
						</span>
					</div>
					<div class="chr_line4"></div>
					<div ng-show="product.breakfast == 0 && product.adult > 0" class="chr_mb20">
						<span>
							[ <input type="checkbox" name="adultBreakfast" ng-model="optional.adultBreakfast.status" ng-change="getTax(srvcTax)"> ] &nbsp;
							Breakfast for {{product.adult * product.rooms}} person @ {{product.cur}} {{product.breakfastRate*product.rooms | currencys:product.cur}}
						</span>
					</div>
					<div ng-show="product.adult > product.maxPax">
						<span>
							[ <input type="checkbox" name="extraBedss" checked> ] &nbsp;
							Extrabed for 
							<input type="number" ng-change="changeQtyExtrabed()" ng-model="extraBedQty" min="{{minQty}}" max="{{product.maxExtrabed}}" style="width:65px;display:inline;" class="chr_form-control">
							person @ {{product.cur}} {{(product.extrabedRate*product.rooms)| currencys:product.cur}}
						</span>
					</div>
				</div>
			</div>
			<!-- End Additional info -->

			<!-- Optional info -->
			<div class="chr_row">
				<div class="chr_col-md-12 chr_mb20">
					<div>
						<span class="chr_size12 chr_text-bold" ng-show="product.services != ''">Optional Services</span>
						<div class="chr_line4"></div>
					</div>	
					
					<div ng-repeat="srvc in product.services">
						<div class="chr_row">
							<div class="chr_col-md-3">
								<a href="#"><img alt="" class="chr_img-responsive chr_image-box"  ng-src="{{srvc.pic}}" style="max-height:180px;width:180px"></a>
							</div>	
							<div class="chr_col-md-9">
								<div class="chr_row">
									<div class="chr_col-lg-9 chr_col-md-8 chr_col-sm-8 chr_col-xs-12">
										<span class="chr_text-bold chr_size11">{{srvc.name}} </span>
										<br>
										<span>@ {{product.cur}} {{srvc.rate | currencys:product.cur}} / {{srvc.unit}}</span>
									</div>
									<div class="chr_col-lg-3 chr_col-md-4 chr_col-sm-4 chr_col-xs-6">
										<span class="chr_input-group">
											<input ng-model="srvc.qty" ng-init="srvc.qty=0" type="number" min="0" max="{{srvc.maxUnit}}" class="chr_form-control" style="display:inline;">
											<span class="chr_input-group-addon">{{srvc.unit}}</span>
										</span>
									</div>
								</div>
								<div class="chr_row">
									<div class="chr_col-md-12">
										<span class="chr_text-justify">{{srvc.desc}}</span>		
									</div>
								</div>
								
							</div>
						</div>
						<div class="chr_clearfix"></div>
						<div class="chr_line4"></div>
					</div>
				</div>
			</div>
			<!-- End Optional info -->
		</div>
		<!-- END OF LEFT CONTENT -->			
				
		<!-- RIGHT CONTENT -->
		<div class="chr_col-md-4 chr_col-sm-12 chr_col-xs-12 chr_mtop10">	
			<!-- <div class="chr_wrapper">
			    <div class="chr_fixed-wrapper">
			        <div class="chr_fixed"> -->
			        	<div class="chr_p10">
							<table class="chr_table-price chr_table-bordered">
								<thead>
								<tr>
									<th colspan="2" class="chr_text-center">
										<span class="chr_size12 chr_text-bold">Your Reservation</span>
									</th>
								</tr>
								<tr>
									<th style="width:85%">
										<span class="chr_text-bold">Services</span>
									</th>
									<th style="width:15%">
										<span class="chr_text-bold">Amount ({{product.cur}})</span>
									</th>
								</tr>
								</thead>
								<tbody>
								<!-- Room -->
								<tr>
									<td>
										<span>
											<span class="chr_text-bold">{{product.name}}</span> - {{product.typeName}}&nbsp;
										</span>
										<br />
										<span>{{product.rooms}} {{product.accType}}<span ng-show="product.rooms > 1">s</span> x {{product.night}} Night x @ {{product.cur}} {{product.rate/product.night | currencys:product.cur}}</span>
										
										<span ng-show="product.accomodationTypeNew == 'Unit'">{{(product.adult * product.roomPerVilla) * product.rooms}} Adults + {{(product.child * product.roomPerVilla)}} Child </span>
										<span ng-show="product.accomodationTypeNew == 'Room'">{{(product.adult) * product.rooms}} Adults + {{(product.child)}} Child </span>
									</td>
									
									<td class="chr_text-right">
										<span>&nbsp;</span>
										<span>&nbsp;</span>
										<span>{{product.rooms*product.rate | currencys:product.cur}}</span>
									</td>
									
								</tr>
								<!-- Additional -->
								<tr ng-show="extraBedQty > 0 || (product.breakfast != 1 && optional.adultBreakfast.status)">
									<td>
										<span class="chr_text-bold" ng-show="product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">Breakfast<br></span>
										<span ng-show="product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">{{product.adult * product.rooms}} Adult<span ng-show="product.adult > 1">s</span> @ {{product.cur}} {{product.breakfastRate*product.rooms | currencys:product.cur}} <br></span>
										<span class="chr_text-bold" ng-show="extraBedQty > 0">Extrabed <br></span>
										<span ng-show="extraBedQty > 0">{{extraBedQty}} Bed<span ng-show="optional.adultExtrabed.qty > 1">s</span> @ {{product.cur}} {{product.extrabedRate*product.rooms | currencys:product.cur}}</span>
									</td>
									<td class="chr_text-right">
										 <span ng-show="product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">&nbsp;<br></span>
										 <span ng-show="product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">{{ (product.adult*product.breakfastRate)*product.rooms | currencys:product.cur}}<br></span>
										 <span ng-hide="product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">&nbsp;<br></span>
										 <span ng-show="extraBedQty > 0 && product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">&nbsp;<br></span>
										 <span ng-show="extraBedQty > 0">{{  ( ( extraBedQty * product.extrabedRate ) * product.rooms) | currencys:product.cur}}</span>
									</td>
								</tr>
								<!-- optional -->
								<tr ng-repeat="srvc in product.services" ng-show="srvc.qty > 0">
									<td>
										<span class="chr_text-bold">{{srvc.name}}<br></span>
										<span>{{srvc.qty}} {{srvc.unit}} @ {{product.cur}} {{srvc.rate | currencys:product.cur}}</span>
									</td>
									<td class="chr_text-right">
										<span>&nbsp;<br></span>
										<span>{{srvc.rate*srvc.qty | currencys:product.cur}}</span>
									</td>
									
								</tr>
								
								<!-- Taxes -->
								<tr ng-show="product.taxIncluded == 0">
									<td class="chr_text-right">
										<span>Service Charge: </span>
									</td>
									
									<td class="chr_text-bold chr_text-right">
										<span>{{ onePajak(srvcTax, govTax, getTotalBeforeTax(), 'srvc_charge') | currencys:product.cur}}</span>
									</td>
								</tr>
								<tr ng-show="product.taxIncluded == 0">
									<td class="chr_text-right">
										<span>Goverment Tax: </span>
									</td>
									
									<td class="chr_text-bold chr_text-right">
										<span>{{ onePajak(srvcTax, govTax, getTotalBeforeTax(), 'gov_tax') | currencys:product.cur}}</span>
									</td>
								</tr>
								<!-- end Taxes -->
								
								<!-- total payabel -->
								<tr>
									<td class="chr_text-bold chr_size12 chr_text-right" >
										Total Payable
									</td>
									<td class="chr_text-bold chr_size12 chr_text-right">
										{{getTotal() | currencys:product.cur}}
									</td>
								</tr>
								<!-- end total payabel -->
								
								<!-- Payment type paid later -->								
								<!-- Guarantee booking deposit -->
								<tr ng-show="product.paymentType == 1">
									<td class="chr_text-bold chr_size11 chr_red chr_text-right">
										{{product.guaranteeText}}
									</td>
									<td class="chr_text-bold chr_size11 chr_red chr_text-right">
										{{ depositGuarantee(product.guaranteeOpt, taxInclude( (product.rate/product.night)*product.rooms ), product.guarantee , getTotal()) | currencys:product.cur}}
									</td>
								</tr>
								<!-- End guarantee booking deposit -->

								<tr ng-show="product.paymentType == 1">
									<td class="chr_text-bold chr_size11 chr_text-right">
										To be paid upon check-in
									</td>
									<td class="chr_text-bold chr_size11 chr_text-right">
										{{getTotal() - depositGuarantee(product.guaranteeOpt, taxInclude( (product.rate/product.night)*product.rooms ), product.guarantee, getTotal()) | currencys:product.cur}}
									</td>
								</tr>

								<!-- End Payment type paid later -->
								</tbody>
							</table>
							<div class="chr_text-right" ng-show="exchange > 0">
								<small>Exchange rate: {{info.cur}} 1 = {{info.localCur}} {{exchange | currencys:product.cur}}</small>
							</div>
							<br />
							<div class="chr_p10 chr_text-center">
								<span ng-repeat="payments in product.paymentOpt">
									<img alt="..." ng-src="{{payments.image}}" style="width:200px;padding:10px;">
								</span>
							</div>
						</div>	
			        <!-- </div>
			    </div>
			</div> -->
		</div>		
		<!-- END RIGHT CONTENT -->

		<!-- BUTTON -->
		<div class="chr_col-md-8 chr_col-sm-12 chr_col-xs-12 chr_well chr_text-right">
			<input type="submit" ui-sref="book" name="book" class="chr_btn chr_btn-book non-block"  value="Back"> 
			<img class="chr_text-right" ng-show="loadImage == true" alt="..." src="ichronoz/img/loading.gif">
			<input ng-hide="loadImage == true" type="submit" ng-click="saveAll(indexnya)" name="book" class="chr_btn chr_btn-book non-block"  value="Continue">
		</div>
		<div class="chr_col-md-4">
		</div>
		<!-- END BUTTON -->
	</div>
</div>