<div class="container-chr" style="margin-top:15px; max-width: 1100px;">
	<div class="chr_row ">
		<!-- STEP -->
		<div class="chr_col-md-12" ng-show="management == true">
			<div class="chr_row">
				<div class="chr_col-md-5">
					<span class="chr_size14">{{info.hotelName}}</span><br />
					<span>{{info.hotelAddress}}</span>
				</div>
				<div class="chr_col-md-7 chr_text-right p10">
					<div class="chr_row">
						<div class="chr_col-md-3 chr_hidden-sm chr_hidden-xs">
							<span class="chr_text-left chr_size11" style="padding-right:10px;">Booking Step > </span>
						</div>
						<div class="chr_col-md-9 chr_col-sm-8 chr_hidden-xs">
							<span class="roundstep chr_text-left">1</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Reservation</span>
							<span class="roundstep chr_text-left">2</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Confirmation</span>
							<span class="roundstep chr_text-left">3</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Payment</span>
						</div>
						<div class="chr_col-xs-12 visible-xs">
							<span class="roundstep chr_text-left">1</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Rsv</span>
							<span class="roundstep chr_text-left">2</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Confirm</span>
							<span class="roundstep chr_text-left">3</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Pay</span>
						</div>
					</div>
				</div>	
			</div>		
		</div>
		<div class="clearfix" ng-show="management == true"></div>
		<div class="chr_line4" ng-show="management == true"></div>
		<!-- END STEP -->

		<!-- form search -->
		<div ng-hide="info.promoListType == 1 || myLoading == true" ng-class=" info.promoListType == 1 ? 'chr_col-md-4 pull-right chr_mb20' : 'chr_col-md-12 chr_mb20'">
			<div class="chr_row">
				<search-form></search-form>	
			</div>
			<div class="chr_border-style chr_mtop10"></div>
		</div>
		<!-- end form search -->

		<div>
			<div class="chr_row">
				<!-- Top filters -->
				<div class="chr_col-md-12 chr_text-center" ng-show="myMessage == true && cbs != 1">
					
					<div ng-hide="myLoading == true">
						<!-- Description note -->
						<div class="chr_col-md-12 chr_text-center">
							<div class="chr_header">
								<span>There are <span class="chr_text-bold">{{info.rooms}}</span> room<span ng-show="info.rooms > 1">s</span> available</span>
								<span>start from</span>
								<span class="chr_text-bold">{{info.cur}} {{info.rateStartnya | currencys:info.cur}} </span>
								<span>/ room / night</span>	
							</div>
							
						</div>
						<!-- END Description note -->
					</div>
				</div>
				<!-- End of top filters-->

				<!-- loading -->
				<div class="chr_header chr_text-center chr_col-md-12" ng-show="myLoading == true">
					<div>
						<span class="chr_size11">Searching for the best rate within your requested period : {{cdays}} - {{coday}}</span>
					</div>
				
					<div>
						<img class="chr_mtop10" alt="..." src="ichronoz/img/loading.gif"> Loading...
					</div>
				</div>
				<!-- END loading -->

				<!-- Shorter button -->
				<div ng-hide="myMessage == false || myLoading == true || info.promoListType == 1">
					<div class="chr_col-md-12 chr_col-sm-12 chr_col-xs-12 chr_mb25 chr_text-center chr_size11">
						<span class="chr_hidden-sm chr_hidden-xs chr_mright15"><b>Sort by:</b></span>
						<button class="chr_popularbtn" ng-click="orderByField='promoType'; reverseSort = !reverseSort">
							Promo type &nbsp;
							<span ng-show="orderByField == 'promoType'">
								<span ng-show="reverseSort">
									<i class="fa fa-arrow-circle-up"></i>
								</span>
								<span ng-show="!reverseSort">
									<i class="fa fa-arrow-circle-down"></i>
								</span>
							</span>
						</button>
						<button class="chr_popularbtn" ng-click="orderByField='typeName'; reverseSort = !reverseSort">
							Room type &nbsp;
							<span ng-show="orderByField == 'typeName'">
								<span ng-show="reverseSort">
									<i class="fa fa-arrow-circle-up"></i>
								</span>
								<span ng-show="!reverseSort">
									<i class="fa fa-arrow-circle-down"></i>
								</span>
							</span>
						</button>
						<button class="chr_popularbtn" ng-click="orderByField='name'; reverseSort = !reverseSort">
							Name &nbsp;
							<span ng-show="orderByField == 'name'">
								<span ng-show="!reverseSort">
									<i class="fa fa-arrow-circle-up"></i>
								</span>
								<span ng-show="reverseSort">
									<i class="fa fa-arrow-circle-down"></i>
								</span>
							</span>
						</button>
						<button class="chr_popularbtn" ng-click="orderByField='rate'; reverseSort = !reverseSort">
							Price &nbsp;
							<span ng-show="orderByField == 'rate'">
								<span ng-show="reverseSort">
									<i class="fa fa-arrow-circle-up"></i>
								</span>
								<span ng-show="!reverseSort">
									<i class="fa fa-arrow-circle-down"></i>
								</span>
							</span>
						</button>		
					</div>
				</div>
				<!-- Shorter button -->
			</div>
		</div>
		
		<!-- form search -->
		<div ng-show="info.promoListType == 1" ng-class=" info.promoListType == 1 ? 'chr_col-md-4 pull-right chr_mb20' : 'chr_col-md-12 chr_mb20'">
			<div class="chr_row">
				<search-form></search-form>	
			</div>
		</div>
		<!-- end form search -->

		<!-- content -->
		<div ng-hide="myLoading == true" ng-class="info.promoListType == 1 ? 'chr_col-md-8 pull-left chr_mb20' : 'chr_col-md-12 chr_mb20'">
			<div class="chr_row">

				<!-- No result -->
				<div ng-show="myMessage == false">
					<not-result></not-result>
				</div>
				<!-- END No result -->

				<!-- promo items -->
				<div ng-hide="cbs == 1">
					<booking-list ng-show="myMessage == true"></booking-list>
				</div>
				<!-- END promo items -->

			</div>	
		</div>
		<!-- end content -->

	</div>
</div>
