<div>			
    <a class="boxclose" id="boxclose" href ng-click="close()"><img src="ichronoz/img/close_new.png"></a>
    <div class="chr_row scroll chr_p15">
    	<div class="chr_col-md-12">
    		<b>Terms & Condition: </b><br>
    		<p ng-bind-html="product.cancellationDescription"></p> 
    	</div>
    </div>
</div>