<div class="container-chr mt25 offset-0">
	<div class="chr_col-md-12 ichronoz_pagecontainer2 offset-0">
		<alert type="success" close="closeAlert($index)">
			<p>This page will be redirected to the payment page after seconds...</p>
		</alert>
	</div>
</div>
