<!-- BEGIN additional_block -->

<link type="text/css" href="http://{plugin_url}/style.css" rel="stylesheet">
<!-- <script src="http://{plugin_url}/js/jquery.mjs.nestedSortable.js" charset="utf-8"></script> -->
<link type="text/css" href="http://{admin_url}/javascript/chosen/chosen.min.css" rel="stylesheet">
<script src="http://{admin_url}/javascript/chosen/chosen.jquery.min.js"></script>

<input type="hidden" name="action_type" value="{action_type}">

<div class="additional_data">
  <h2>Destination</h2>
  <div class="additional_content">
    <div class="boxs-wrapp">
      <div class="boxs">
        <label>Select your destination page for this post : </label>
        <select name="additional_fields[destination][{i}]" /> {destination_opt}
        </select>
      </div>
    </div>
  </div>
</div>

<!-- <div class="additional_data">
  <h2>Main Image</h2>
  <div class="additional_content additional-main-img">
    <div class="slider">
      <h3>Select an image file on your computer (2MB max):</h3>
      <div class="main-image-wrapp clearfixed">{main_image}</div>
      <input type="file" name="m_image" />
    </div>
  </div>
</div> -->

{additional_list_category}{get_main_image_form}{brief_text}{brief_top} {brief_bottom}{promo_code} {price_offers_net} {parent} {pdf_file} {featured_content} {price_spa} {time_spa} {website_link} {accomodation_detail} {amenities}


<script type="text/javascript">
  function nl2br(str, is_xhtml) {
    var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
  }

  // function set_amenities_value() {
  //   var arr = new Array;
  //   jQuery('.amenities-list .item').each(function(i, e) {
  //     arr.push(jQuery(e).find('p').text());
  //   });
  //   jQuery('.amenities-value').val((arr.length == 0 ? '' : JSON.stringify(arr)));
  // }

  function set_menu_category_value() {
    var obj = new Array;
    var arr = jQuery('.menu-category-list').nestedSortable('toHierarchy', {
      startDepthCount: 0
    });
    jQuery.each(arr, function(i, e) {
      var el = new Object;
      el.id = e.id;
      el.name = jQuery('#list_' + e.id).find('p').first().text();
      if (!jQuery.isEmptyObject(e.children)) {
        el.child = new Array;
        jQuery.each(e.children, function(ii, ee) {
          if (typeof ee !== 'undefined') {
            var ele = new Object;
            ele.id = ee.id;
            ele.name = jQuery('#list_' + ee.id).find('p').first().text();
            el.child.push(ele);
          }
        });
      }
      obj.push(el);
    });

    jQuery('.menu-category-value').val((obj.length == 0 ? '' : JSON.stringify(obj)));
  }

  // function set_menu_value() {
  //   var arr = new Array;
  //   jQuery('.menu-list .item').each(function(i, e) {
  //     var type = jQuery(e).find('.type').text();
  //     type_arr = type.split(', ');
  //
  //     var type_data = new Array();
  //
  //     jQuery.each(type_arr, function(ii, ee) {
  //       if (ee == 'Gluten Free') {
  //         type_data.push('gluten-free');
  //       } else if (ee == 'Vegan') {
  //         type_data.push('vegan');
  //       } else if (ee == 'Vegetarian') {
  //         type_data.push('vegetarian');
  //       } else if (ee == 'Healthy Choice') {
  //         type_data.push('healthy-choice');
  //       } else if (ee == 'Indonesian') {
  //         type_data.push('indonesian');
  //       } else if (ee == 'Considered Spicy') {
  //         type_data.push('considered-spicy');
  //       } else if (ee == 'Spa Cuisine') {
  //         type_data.push('spa-cuisine');
  //       } else if (ee == 'Seasonal') {
  //         type_data.push('seasonal');
  //       } else if (ee == '-') {
  //         type_data.push('');
  //       }
  //     });
  //
  //     var item = new Object;
  //     item.name = jQuery(e).find('.name').text();
  //     item.desc = jQuery(e).find('.desc').text().replace(new RegExp('\n', 'g'), "\\n");
  //     item.price = jQuery(e).find('.price').text();
  //     item.category = jQuery(e).find('.cat').text();
  //     item.type = type_data.join(', ');
  //
  //     arr.push(item);
  //   });
  //
  //   jQuery('.menu-value').val((arr.length == 0 ? '' : JSON.stringify(arr)));
  // }

  // function set_submenu_value() {
  //   var arr = new Array;
  //   jQuery('.submenu-list .item').each(function(i, e) {
  //     var item = new Object;
  //     item.name = jQuery(e).find('.name').text();
  //     item.parent = jQuery(e).find('.parent').text();
  //     item.price = jQuery(e).find('.price').text();
  //     item.category = jQuery(e).find('.cat').text();
  //
  //     arr.push(item);
  //   });
  //
  //   jQuery('.submenu-value').val((arr.length == 0 ? '' : JSON.stringify(arr)));
  // }

  function set_category_option() {
    var url = 'http://{ajax_url}';
    var prm = new Object;
    prm.ajax_key = 'get-category-menu-option';
    prm.app_key = 'additional_list_category';
    prm.app_name = '{app_name}';
    prm.post_id = jQuery('[name=post_id[0]]').val();
    jQuery.post(url, prm, function(e) {
      jQuery('[name=menu_category] option[value!=""]').remove();
      if (e.result == 'success') {
        jQuery('[name=menu_category]')
          .append(e.data)
          .trigger('chosen:updated');
      }
    }, 'json');
  }

  function amenities_funct() {
    if (jQuery('.aminities').length > 0) {
      jQuery('[name=new_amenities]').val('');

      jQuery('.add-to-list').click(function() {
        var vals = jQuery('[name=new_amenities]').val();
        var indx = jQuery('.amenities-list .item').length + 1;

        if (vals != '') {
          var newbox =
            '<div id="list_' + indx + '" class="item">' +
            '<p>' + vals + '</p>' +
            '<a>X</a>' +
            '</div>';

          jQuery('[name=new_amenities]').val('');
          jQuery('.amenities-list').append(newbox);
          set_amenities_value();
        } else {
          alert('Please add amenities name');
        }

        return false;
      });

      jQuery('.amenities-list .item a').live('click', function() {
        jQuery(this).parent().fadeOut(200, function() {
          jQuery(this).remove();
          set_amenities_value();
        });
      });

      // jQuery('.amenities-list').nestedSortable({
      //   listType: 'div',
      //   stop: function(eve, ui) {
      //     if (jQuery('[name=action_type]').val() == 'edit') {
      //       set_amenities_value();
      //
      //       var url = 'http://{ajax_url}';
      //       var prm = new Object;
      //       prm.ajax_key = 'reorder-amenities-list';
      //       prm.app_key = 'amenities';
      //       prm.app_name = '{app_name}';
      //       prm.post_id = jQuery('[name=post_id[0]]').val();
      //       prm.value = jQuery('.amenities-value').val();
      //       jQuery.post(url, prm, function(el) {
      //         console.log(el);
      //       }, 'json');
      //     }
      //   }
      // });
    }
  }

  function category_menu_func() {
    if (jQuery('.category-box').length > 0) {
      jQuery('[name=new_category]').val('');

      jQuery('.cat-add-to-list').click(function() {
        var vals = jQuery('[name=new_category]').val();

        if (vals != '') {
          var next_id = 1;
          if (jQuery('.menu-category-list .item').last().length > 0) {
            var cid = new Array();
            jQuery('.menu-category-list .item').each(function() {
              var iid = jQuery(this).parent().attr('id').replace('list_', '');
              cid.push(parseInt(iid));
            });

            next_id = Math.max.apply(null, cid) + 1;
          }

          var newbox =
            '<li id="list_' + next_id + '">' +
            '<div class="overlay"><img src="http://{plugin_url}/images/loader.GIF"></div>' +
            '<div class="item">' +
            '<p>' + vals + '</p>' +
            '<a class="edit"></a>' +
            '<a class="delete"></a>' +
            '</div>' +
            '</li>';

          jQuery('[name=new_category]').val('');
          jQuery('.menu-category-list').append(newbox);
          set_menu_category_value();

          var url = 'http://{ajax_url}';
          var sel = jQuery(this).parent();
          var prm = new Object;
          prm.ajax_key = 'manage-category-menu';
          prm.app_key = 'additional_list_category';
          prm.app_name = '{app_name}';
          prm.post_id = jQuery('[name=post_id[0]]').val();
          prm.value = jQuery('.menu-category-value').val();

          jQuery.post(url, prm, function(e) {
            set_category_option();
            jQuery('#list_' + next_id).find('.overlay').fadeOut(200, function() {
              jQuery(this).remove();
            });
          }, 'json');
        } else {
          alert('Please add category name');
        }

        return false;
      });

      jQuery('.cat-edit-menu').click(function() {
        var old_name = jQuery('[name=new_category]').attr('data-old-name');
        var new_name = jQuery('[name=new_category]').val();
        var item = jQuery(this).attr('data-id');

        jQuery('#' + item).find('.item p:first').text(new_name);

        jQuery('[name=new_category]').val('').removeAttr('data-old-name', name);
        jQuery('.cat-edit-menu').removeAttr('data-id').hide();
        jQuery('.cat-add-to-list').show();
        set_menu_category_value();

        var url = 'http://{ajax_url}';
        var prms = new Object;
        prms.ajax_key = 'manage-category-menu';
        prms.app_key = 'additional_list_category';
        prms.app_name = '{app_name}';
        prms.old_name = old_name;
        prms.new_name = new_name;
        prms.post_id = jQuery('[name=post_id[0]]').val();
        prms.value = jQuery('.menu-category-value').val();
        jQuery.post(url, prms, function(el) {
          if (el.result == 'success') {
            set_category_option();
            jQuery('.menu-list li .cat').each(function(i, e) {
              var txt = jQuery(this).text().replace(old_name, new_name);
              jQuery(this).text(txt);
            });
          }
        }, 'json');

        return false;
      });

      jQuery('.menu-category-list .item .delete').live('click', function() {
        var url = 'http://{ajax_url}';
        var sel = jQuery(this).parent().parent();
        var prm = new Object;
        prm.ajax_key = 'check-category-menu-exists';
        prm.app_key = 'additional_list_category';
        prm.app_name = '{app_name}';
        prm.post_id = jQuery('[name=post_id[0]]').val();
        prm.value = sel.find('p').first().text();

        sel.find('.item').append('<div class="overlay"><img src="http://{plugin_url}/images/loader.GIF"></div>');
        jQuery.post(url, prm, function(e) {
          set_category_option();
          sel.find('.overlay').fadeOut(200, function() {
            jQuery(this).remove();
            if (e.result == 'success') {
              sel.fadeOut(200, function() {
                jQuery(this).remove();
                set_menu_category_value();

                var prms = new Object;
                prms.ajax_key = 'manage-category-menu';
                prms.app_key = 'additional_list_category';
                prms.app_name = '{app_name}';
                prms.post_id = jQuery('[name=post_id[0]]').val();
                prms.value = jQuery('.menu-category-value').val();
                jQuery.post(url, prms, function(el) {
                  set_category_option();
                }, 'json');
              });
            } else {
              var deleted =
                '<div class="overlay error">' +
                'Category "' + prm.value + '" cannot deleted, because already used in another menu' +
                '</div>';
              sel.find('.item').append(deleted);
            }
          })
        }, 'json');
      });

      jQuery('.menu-category-list .item .edit').live('click', function() {
        var sel = jQuery(this).parent();
        var name = sel.find('p').text();
        var id = sel.parent().attr('id');

        jQuery('.cat-add-to-list').hide();
        jQuery('.cat-edit-menu').attr('data-id', id).show();
        jQuery('[name=new_category]').val(name).attr('data-old-name', name);

        jQuery('html, body').stop().animate({
          scrollTop: jQuery('#menu-list').offset().top
        }, 1000);
      });

      jQuery('.menu-category-list .item .overlay.error').live('mouseover', function() {
        jQuery(this).fadeOut(200, function() {
          jQuery(this).remove();
        });
      });

      jQuery('.menu-category-list').nestedSortable({
        handle: 'div',
        helper: 'clone',
        items: 'li',
        maxLevels: 2,
        opacity: .6,
        revert: 250,
        tabSize: 25,
        placeholder: 'placeholder',
        tolerance: 'pointer',
        stop: function(eve, ui) {
          set_menu_category_value();

          var url = 'http://{ajax_url}';
          var prm = new Object;
          prm.ajax_key = 'manage-category-menu';
          prm.app_key = 'additional_list_category';
          prm.app_name = '{app_name}';
          prm.post_id = jQuery('[name=post_id[0]]').val();
          prm.value = jQuery('.menu-category-value').val();
          jQuery.post(url, prm, function(el) {
            set_category_option();
          }, 'json');
        }
      });
    }
  }

  // function list_menu_func() {
  //   if (jQuery('.list-box').length > 0) {
  //     set_category_option();
  //
  //     jQuery('[name=menu_category]').val('').trigger('chosen:updated');
  //     jQuery('[name=menu_name], [name=menu_desc]').val('');
  //     jQuery('[name=menu_price]').val(0);
  //
  //     if (jQuery('.menu-list li').length > 0) {
  //       set_menu_value();
  //     }
  //
  //     jQuery('.add-menu-to-list').click(function() {
  //       var name = jQuery('[name=menu_name]').val();
  //       var desc = jQuery('[name=menu_desc]').val();
  //       var price = jQuery('[name=menu_price]').val();
  //       var cat = jQuery('[name=menu_category]').val();
  //       var indx = jQuery('.menu-list .item').length + 1;
  //
  //       if (name == '' && cat == '') {
  //         alert('Please add menu name & category');
  //       } else if (name == '') {
  //         alert('Please add menu name');
  //       } else if (cat == '') {
  //         alert('Please add menu category');
  //       } else if (name != '' && cat != '') {
  //
  //         var type_data = new Array();
  //
  //         jQuery('.menu-type-wrapp input:checked').each(function(e) {
  //           var type = jQuery(this).val();
  //
  //           if (type == 'gluten-free') {
  //             type_data.push('Gluten Free');
  //           } else if (type == 'vegan') {
  //             type_data.push('Vegan');
  //           } else if (type == 'vegetarian') {
  //             type_data.push('Vegetarian');
  //           } else if (type == 'healthy-choice') {
  //             type_data.push('Healthy Choice');
  //           } else if (type == 'indonesian') {
  //             type_data.push('Indonesian');
  //           } else if (type == 'considered-spicy') {
  //             type_data.push('Considered Spicy');
  //           } else if (type == 'spa-cuisine') {
  //             type_data.push('Spa Cuisine');
  //           } else if (type == 'seasonal') {
  //             type_data.push('Seasonal');
  //           }
  //         });
  //
  //         var newbox =
  //           '<li id="menu_list_' + indx + '">' +
  //           '<div class="item clearfix">' +
  //           '<div class="overlay"><img src="http://{plugin_url}/images/loader.GIF"></div>' +
  //           '<p class="name">' + name + '</p>' +
  //           '<p class="cat">' + cat + '</p>' +
  //           '<p class="type">' + (type_data.length > 0 ? type_data.join(', ') : '-') + '</p>' +
  //           '<p class="desc">' + (desc == '' ? '-' : nl2br(desc)) + '</p>' +
  //           '<p class="price">' + price + '</p>' +
  //           '<a class="edit"></a>' +
  //           '<a class="delete"></a>' +
  //           '</div>' +
  //           '</li>';
  //
  //         jQuery('.menu-type-wrapp input').removeAttr('checked');
  //         jQuery('[name=menu_category]').val('').trigger('chosen:updated');
  //         jQuery('[name=menu_name], [name=menu_desc]').val('');
  //         jQuery('[name=menu_price]').val(0);
  //         jQuery('.menu-list').append(newbox);
  //         set_menu_value();
  //
  //         var url = 'http://{ajax_url}';
  //         var sel = jQuery(this).parent();
  //         var prm = new Object;
  //         prm.ajax_key = 'manage-list-menu';
  //         prm.app_key = 'food_drink_menu';
  //         prm.app_name = '{app_name}';
  //         prm.post_id = jQuery('[name=post_id[0]]').val();
  //         prm.value = jQuery('.menu-value').val();
  //         jQuery.post(url, prm, function(e) {
  //           jQuery('#menu_list_' + indx).find('.overlay').fadeOut(200, function() {
  //             jQuery(this).remove();
  //           })
  //         }, 'json');
  //       }
  //
  //       return false;
  //     });
  //
  //     jQuery('.edit-menu').click(function() {
  //       var name = jQuery('[name=menu_name]').val();
  //       var desc = jQuery('[name=menu_desc]').val();
  //       var price = jQuery('[name=menu_price]').val();
  //       var cat = jQuery('[name=menu_category]').val();
  //       var item = jQuery(this).attr('data-id');
  //
  //       var type_data = new Array();
  //       jQuery('.menu-type-wrapp input:checked').each(function(e) {
  //         var type = jQuery(this).val();
  //
  //         if (type == 'gluten-free') {
  //           type_data.push('Gluten Free');
  //         } else if (type == 'vegan') {
  //           type_data.push('Vegan');
  //         } else if (type == 'vegetarian') {
  //           type_data.push('Vegetarian');
  //         } else if (type == 'healthy-choice') {
  //           type_data.push('Healthy Choice');
  //         } else if (type == 'indonesian') {
  //           type_data.push('Indonesian');
  //         } else if (type == 'considered-spicy') {
  //           type_data.push('Considered Spicy');
  //         } else if (type == 'spa-cuisine') {
  //           type_data.push('Spa Cuisine');
  //         } else if (type == 'seasonal') {
  //           type_data.push('Seasonal');
  //         }
  //       });
  //
  //       jQuery('#' + item).find('.name').text(name);
  //       jQuery('#' + item).find('.desc').html(nl2br(desc));
  //       jQuery('#' + item).find('.cat').text(cat);
  //       jQuery('#' + item).find('.price').text(price);
  //       jQuery('#' + item).find('.type').text((type_data.length > 0 ? type_data.join(', ') : '-'));
  //
  //       jQuery('.edit-menu').removeAttr('data-id').hide();
  //       jQuery('.add-menu-to-list').show();
  //
  //       jQuery('.menu-type-wrapp input').removeAttr('checked');
  //       jQuery('[name=menu_category]').val('').trigger('chosen:updated');
  //       jQuery('[name=menu_name], [name=menu_desc]').val('');
  //       jQuery('[name=menu_price]').val(0);
  //       set_menu_value();
  //
  //       var url = 'http://{ajax_url}';
  //       var prms = new Object;
  //       prms.ajax_key = 'manage-list-menu';
  //       prms.app_key = 'food_drink_menu';
  //       prms.app_name = '{app_name}';
  //       prms.post_id = jQuery('[name=post_id[0]]').val();
  //       prms.value = jQuery('.menu-value').val();
  //       jQuery.post(url, prms, function(el) {
  //         console.log(el)
  //       }, 'json');
  //
  //       return false;
  //     });
  //
  //     jQuery('.menu-list .item .delete').live('click', function() {
  //       jQuery(this).parent().parent().fadeOut(200, function() {
  //         jQuery(this).remove();
  //         set_menu_value();
  //
  //         var url = 'http://{ajax_url}';
  //         var prms = new Object;
  //         prms.ajax_key = 'manage-list-menu';
  //         prms.app_key = 'food_drink_menu';
  //         prms.app_name = '{app_name}';
  //         prms.post_id = jQuery('[name=post_id[0]]').val();
  //         prms.value = jQuery('.menu-value').val();
  //         jQuery.post(url, prms, function(el) {
  //           console.log(el)
  //         }, 'json');
  //       });
  //     });
  //
  //     jQuery('.menu-list .item .edit').live('click', function() {
  //       var sel = jQuery(this).parent();
  //       var name = sel.find('.name').text();
  //       var desc = sel.find('.desc').text();
  //       var cat = sel.find('.cat').text();
  //       var price = sel.find('.price').text();
  //       var id = sel.parent().attr('id');
  //
  //       jQuery('.add-menu-to-list').hide();
  //       jQuery('.edit-menu').attr('data-id', id).show();
  //
  //       jQuery('[name=menu_name]').val(name);
  //       jQuery('[name=menu_desc]').val(desc);
  //       jQuery('[name=menu_price]').val(price);
  //
  //       var type = sel.find('.type').text();
  //       var type_arr = type.split(', ');
  //
  //       jQuery('.menu-type-wrapp input').removeAttr('checked');
  //       jQuery.each(type_arr, function(ii, ee) {
  //         if (ee == 'Gluten Free') {
  //           jQuery('[name=menu_type[0]]').attr('checked', 'checked');
  //         } else if (ee == 'Vegan') {
  //           jQuery('[name=menu_type[1]]').attr('checked', 'checked');
  //         } else if (ee == 'Vegetarian') {
  //           jQuery('[name=menu_type[2]]').attr('checked', 'checked');
  //         } else if (ee == 'Healthy Choice') {
  //           jQuery('[name=menu_type[3]]').attr('checked', 'checked');
  //         } else if (ee == 'Indonesian') {
  //           jQuery('[name=menu_type[4]]').attr('checked', 'checked');
  //         } else if (ee == 'Considered Spicy') {
  //           jQuery('[name=menu_type[5]]').attr('checked', 'checked');
  //         } else if (ee == 'Spa Cuisine') {
  //           jQuery('[name=menu_type[6]]').attr('checked', 'checked');
  //         } else if (ee == 'Seasonal') {
  //           jQuery('[name=menu_type[7]]').attr('checked', 'checked');
  //         }
  //       });
  //
  //       var catarr = cat.split('|');
  //       if (catarr.length == 1) {
  //         var url = 'http://{ajax_url}';
  //         var prms = new Object;
  //         prms.ajax_key = 'get-category-parent';
  //         prms.app_key = 'additional_list_category';
  //         prms.app_name = '{app_name}';
  //         prms.cat_name = catarr[0];
  //         prms.post_id = jQuery('[name=post_id[0]]').val();
  //         jQuery.post(url, prms, function(el) {
  //           jQuery('[name=menu_category]').val(el).trigger('chosen:updated');
  //         });
  //       } else {
  //         jQuery('[name=menu_category]').val(cat).trigger('chosen:updated');
  //       }
  //
  //       jQuery('html, body').stop().animate({
  //         scrollTop: jQuery('#menu-list').offset().top
  //       }, 1000);
  //     });
  //
  //     jQuery('.menu-list').nestedSortable({
  //       handle: 'div',
  //       helper: 'clone',
  //       items: 'li',
  //       maxLevels: 1,
  //       opacity: .6,
  //       placeholder: 'placeholder',
  //       tolerance: 'pointer',
  //       stop: function(eve, ui) {
  //         set_menu_value();
  //
  //         var url = 'http://{ajax_url}';
  //         var prm = new Object;
  //         prm.ajax_key = 'reorder-menu-list';
  //         prm.app_key = 'food_drink_menu';
  //         prm.app_name = '{app_name}';
  //         prm.post_id = jQuery('[name=post_id[0]]').val();
  //         prm.value = jQuery('.menu-value').val();
  //         jQuery.post(url, prm, function(el) {
  //           console.log(el);
  //         }, 'json');
  //       }
  //     });
  //   }
  // }

  jQuery(document).ready(function() {
    jQuery('.select').chosen({
      disable_search_threshold: 10
    });

    // jQuery(".tab-menu-setting li").click(function() {
    //   var id = jQuery(this).find("a").attr("href");
    //
    //   jQuery(".tab-menu-setting li").removeClass("active");
    //   jQuery(".menu-box-wrapper").css("display", "none");
    //   jQuery(this).addClass("active");
    //   jQuery(id).css("display", "block");
    //
    //   return false;
    // });


    //-- Main Image Function
    jQuery('[name=m_image]').change(function() {
      if (this.files && this.files[0]) {
        var reader = new FileReader();

        console.log('tes');

        reader.onload = function(e) {
          var images =
            '<div class="box">' +
            '<img src="' + e.target.result + '" />' +
            '<input type="hidden" name="main_image" value="' + e.target.result + '" />' +
            '<div class="overlay" style="display: none;">' +
            '<a data-post-id="" data-bg-name="" class="bg-delete-header">' +
            '<img src="http://{site_url}/lumonata-plugins/additional/images/delete.png">' +
            '</a>' +
            '</div>' +
            '</div>';

          jQuery('.main-image-wrapp').html(images);
        }

        reader.readAsDataURL(this.files[0]);
      }
    });

    jQuery('.bg-delete-header').live('click', function() {
      var selector = jQuery(this).parent().parent();
      var url = 'http://{ajax_url}';
      var prm = new Object;
      prm.ajax_key = 'delete-main-image';
      prm.app_name = '{app_name}';
      prm.post_id = jQuery('[name=post_id[0]]').val();

      jQuery.post(url, prm, function(e) {
        if (e.result == 'success') {
          selector.fadeOut(200, function() {
            jQuery(this).remove();
          });
        }
      }, 'json');
    });

    jQuery('.pdf-delete-file').live('click', function() {
      var selector = jQuery(this).parent().parent();
      var url = 'http://{ajax_url}';
      var prm = new Object;
      prm.ajax_key = 'delete-pdf-file';
      prm.app_name = '{app_name}';
      prm.post_id = jQuery('[name=post_id[0]]').val();

      jQuery.post(url, prm, function(e) {
        if (e.result == 'success') {
          selector.fadeOut(200, function() {
            jQuery(this).remove();
          });
        }
      }, 'json');
    });

    jQuery('.pdf-file a').click(function() {
      var selector = jQuery(this).parent().parent();
      var url = 'http://{ajax_url}';
      var prm = new Object;
      prm.ajax_key = 'delete-pdf-menu-file';
      prm.app_name = '{app_name}';
      prm.post_id = jQuery('[name=post_id[0]]').val();

      jQuery.post(url, prm, function(e) {
        if (e.result == 'success') {
          selector.fadeOut(200, function() {
            jQuery(this).remove();
          });
        }
      }, 'json');
    });

    jQuery('.main-image-wrapp .box').live('mouseover', function() {
      jQuery(this).find('.overlay').show();
    });
    jQuery('.pdf-file-wrapp .box').live('mouseover', function() {
      jQuery(this).find('.overlay').show();
    });


    //-- Top Image Brief Function
    jQuery('[name=brief_image_top]').change(function() {
      if (this.files && this.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          var images =
            '<div class="box">' +
            '<img src="' + e.target.result + '" />' +
            '<input type="hidden" name="brief_image_top" value="' + e.target.result + '" />' +
            '<div class="overlay" style="display: none;">' +
            '<a data-post-id="" data-bg-name="" class="bg-img-top-delete-header">' +
            '<img src="http://{site_url}/lumonata-plugins/additional/images/delete.png">' +
            '</a>' +
            '</div>' +
            '</div>';

          jQuery('.brief-image-top-wrapp').html(images);
        }

        reader.readAsDataURL(this.files[0]);
      }
    });

    jQuery('.bg-img-top-delete-header').live('click', function() {
      var selector = jQuery(this).parent().parent();
      var url = 'http://{ajax_url}';
      var prm = new Object;
      prm.ajax_key = 'delete-brief-image-top';
      prm.app_name = '{app_name}';
      prm.post_id = jQuery('[name=post_id[0]]').val();

      jQuery.post(url, prm, function(e) {
        if (e.result == 'success') {
          selector.fadeOut(200, function() {
            jQuery(this).remove();
          });
        }
      }, 'json');
    });

    jQuery('.brief-image-top-wrapp .box').live('mouseover', function() {
      jQuery(this).find('.overlay').show();
    });




    //-- Bottom Image Brief Function
    jQuery('[name=brief_image_bottom]').change(function() {
      if (this.files && this.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          var images =
            '<div class="box">' +
            '<img src="' + e.target.result + '" />' +
            '<input type="hidden" name="brief_image_bottom" value="' + e.target.result + '" />' +
            '<div class="overlay" style="display: none;">' +
            '<a data-post-id="" data-bg-name="" class="bg-img-bottom-delete-header">' +
            '<img src="http://{site_url}/lumonata-plugins/additional/images/delete.png">' +
            '</a>' +
            '</div>' +
            '</div>';

          jQuery('.brief-image-bottom-wrapp').html(images);
        }

        reader.readAsDataURL(this.files[0]);
      }
    });

    jQuery('.bg-img-bottom-delete-header').live('click', function() {
      var selector = jQuery(this).parent().parent();
      var url = 'http://{ajax_url}';
      var prm = new Object;
      prm.ajax_key = 'delete-brief-image-bottom';
      prm.app_name = '{app_name}';
      prm.post_id = jQuery('[name=post_id[0]]').val();

      jQuery.post(url, prm, function(e) {
        if (e.result == 'success') {
          selector.fadeOut(200, function() {
            jQuery(this).remove();
          });
        }
      }, 'json');
    });


    jQuery('.brief-image-bottom-wrapp .box').live('mouseover', function() {
      jQuery(this).find('.overlay').show();
    });



    amenities_funct();
    category_menu_func();
    // list_menu_func();

  });
</script>

<!-- END additional_block -->
