.hidden {
  display: none;
}

.push-left {
  float: left;
}

.with-margin {
  margin-top: 7px;
}

.small {
  width: 500px !important;
}

.medium {
  width: 70% !important;
}

.the-button {
  background: url(../../lumonata-admin/themes/default/images/panel_bg.jpg);
  border: 1px solid #BBBBBB;
  text-align: center;
  margin-left: 10px;
  padding: 7px 10px;
  font-size: 12px;
  width: 110px;
}

.boxs-wrapp .boxs {
  padding: 5px;
  border: 0;
  background: #FFFFFF;
}

.boxs-wrapp .boxs:last-child {
  border-bottom: 0;
}

.boxs-wrapp .boxs label {
  margin-right: 20px;
  padding-top: 0;
}

.boxs-wrapp .boxs select {
  background: #FFFFFF;
}

.boxs-wrapp .boxs textarea.textbox {
  height: 100px !important;
}

.boxs-wrapp .boxs .note {
  margin-left: 130px;
  margin-top: 10px;
}

.boxs-wrapp .boxs .note-2 {
  margin-left: 147px;
}

.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.accomodation-detail .boxs-wrapp .boxs label {
  width: 10%;
  margin-right: 0;
  padding-right: 20px;
}

.accomodation-detail .boxs-wrapp .boxs textarea.textbox {
  height: 50px !important;
  width: 90% !important;
}

.additional-main-img .slider {
  padding: 10px;
}

.additional-main-img .slider h3 {
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
}

.additional-main-img .main-image-wrapp, .additional-main-img .brief-image-bottom-wrapp, .additional-main-img .brief-image-top-wrapp, .additional-main-img .pdf-file-wrapp {
  margin-bottom: 20px;
}

.additional-main-img .main-image-wrapp .box, .additional-main-img .brief-image-top-wrapp .box, .additional-main-img .brief-image-bottom-wrapp .box, .additional-main-img .pdf-file-wrapp .box {
  padding: 10px;
  border: 1px solid #ddd;
  background: #F0F0EE;
  width: 500px;
  position: relative;
  text-align: center;
}

.additional-main-img .pdf-file-wrapp .box {
  width: 128px;
}

.additional-main-img .main-image-wrapp img, .additional-main-img .brief-image-top-wrapp img, .additional-main-img .brief-image-bottom-wrapp img, .additional-main-img .pdf-file-wrapp img {
  width: auto;
  max-width: 100%;
}

.additional-main-img .main-image-wrapp .overlay, .additional-main-img .brief-image-top-wrapp .overlay, .additional-main-img .brief-image-bottom-wrapp .overlay, .additional-main-img .pdf-file-wrapp .overlay {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.additional-main-img .main-image-wrapp .overlay a, .additional-main-img .pdf-file-wrapp .overlay a, .additional-main-img .brief-image-top-wrapp .overlay a, .additional-main-img .brief-image-bottom-wrapp .overlay a {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  margin-left: -12px;
  margin-top: -12px;
}

.additional-main-img .main-image-wrapp .box:hover .overlay, .additional-main-img .brief-image-top-wrapp .box:hover .overlay, .additional-main-img .brief-image-bottom-wrapp .box:hover .overlay, .additional-main-img .pdf-file-wrapp .box:hover .overlay {
  display: block;
}

.additional-main-img .pdf-file-wrapp .box span {
  display: block;
  margin-top: 10px;
}

.amenities-value {
  display: none;
}

.amenities-list {
  margin: 0 5px;
}

.amenities-list .item {
  background: #F5F5F5;
  border: 1px solid #BBBBBB;
  padding: 10px;
  margin-top: 5px;
  position: relative;
}

.amenities-list .item:last-child {
  margin-bottom: 10px;
}

.amenities-list .item p {
  margin-bottom: 0;
}

.amenities-list .item a {
  background: #000000;
  text-align: center;
  position: absolute;
  line-height: 15px;
  cursor: pointer;
  font-size: 9px;
  color: #FFFFFF;
  height: 15px;
  right: -1px;
  width: 15px;
  top: -1px;
}

.description-list .inner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  width: 50%;
}

.description-list .inner:last-child {
  padding-left: 10px;
  padding-right: 0;
}

.description-list .inner .textbox, .description-list .inner .select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 150px !important;
  max-width: 100% !important;
  height: 30px !important;
  width: 100% !important;
}

.description-list .inner .select {
  margin: 0;
}

.description-list .inner .smaller {
  width: 150px !important;
}

.description-list .inner .half {
  width: 45% !important;
}

.description-list .inner textarea.textbox {
  height: 160px !important;
}

.description-list .inner textarea.small {
  height: 103px !important;
}

.description-list .inner label {
  padding: 10px 0;
  display: block;
}

.description-list .note {
  padding: 10px 5px;
}

.description-list .note b {
  display: block;
  margin-bottom: 5px;
}

.description-list .the-button {
  float: right;
  margin-top: 5px;
}

.description-list .cat-edit-menu {
  display: none;
}

.description-list .add-submenu-to-list {
  float: left;
  margin-left: 0;
}

.description-list .edit-submenu {
  float: left;
  margin-left: 0;
  display: none;
}

.description-list .edit-menu {
  display: none;
}

.special_offers .inner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  width: 50%;
}

.special_offers .inner:last-child {
  padding-left: 10px;
  padding-right: 0;
}

.special_offers .inner .textbox, .special_offers .inner .select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 150px !important;
  max-width: 100% !important;
  height: 30px !important;
  width: 100% !important;
}

.special_offers .inner .select {
  margin: 0;
}

.special_offers .inner .smaller {
  width: 150px !important;
}

.special_offers .inner .half {
  width: 45% !important;
}

.special_offers .inner textarea.textbox {
  height: 160px !important;
}

.special_offers .inner textarea.small {
  height: 103px !important;
}

.special_offers .inner label {
  padding: 10px 0;
  display: block;
}

.special_offers .note {
  padding: 10px 5px;
}

.special_offers .note b {
  display: block;
  margin-bottom: 5px;
}

.special_offers .the-button {
  float: right;
}

.special_offers .cat-edit-menu {
  display: none;
}

.special_offers .add-submenu-to-list {
  float: left;
  margin-left: 0;
}

.special_offers .edit-submenu {
  float: left;
  margin-left: 0;
  display: none;
}

.special_offers .edit-menu {
  display: none;
}

.tab-menu-setting {
  border-bottom: 1px solid #BBBBBB;
  margin: 10px 5px 0;
  padding: 10px 0 0;
}

.tab-menu-setting li {
  list-style: none;
  float: left;
  background: #F5F5F5;
  padding: 10px;
  border: 1px solid #BBBBBB;
  border-bottom: 0;
  border-right: 0;
  position: relative;
}

.tab-menu-setting li.active {
  background: #FFFFFF;
}

.tab-menu-setting li.active:after {
  content: '';
  position: absolute;
  height: 1px;
  background: #FFFFFF;
  left: 0;
  bottom: -1px;
  right: 0;
}

.tab-menu-setting li:last-child {
  border-right: 1px solid #BBBBBB;
}

.tab-menu-setting li:last-child.active:after {
  right: 0;
}

.tab-menu-setting li a {
  text-decoration: none;
}

.tab-menu-set {
  border-bottom: 1px solid #BBBBBB;
  margin: 10px 5px 0;
  padding: 10px 0 0;
}

.tab-menu-set li {
  list-style: none;
  float: left;
  background: #F5F5F5;
  padding: 10px;
  border: 1px solid #BBBBBB;
  border-bottom: 0;
  border-right: 0;
  position: relative;
}

.tab-menu-set li.active {
  background: #FFFFFF;
  display: block;
}

.tab-menu-set li.active:after {
  content: '';
  position: absolute;
  height: 1px;
  background: #FFFFFF;
  left: 0;
  bottom: -1px;
  right: 0;
}

.tab-menu-set li:last-child {
  border-right: 1px solid #BBBBBB;
}

.tab-menu-set li:last-child.active:after {
  right: 0;
}

.tab-menu-set li a {
  text-decoration: none;
}

.menu-box-wrapper {
  padding: 20px 10px;
  margin: 0 5px;
  border: 1px solid #BBBBBB;
  border-top: 0;
  display: none;
}

#menu-list .boxs-wrapp {
  padding-bottom: 5px;
}

.menu-value {
  display: none;
}

.menu-list {
  margin: 0 5px;
  padding-left: 0;
}

.menu-list li {
  list-style: none;
}

.menu-list li.placeholder {
  background-color: #DDDDDD;
  height: 35px;
  margin-top: 5px;
}

.menu-list .item {
  background: #F5F5F5;
  border: 1px solid #BBBBBB;
  padding: 10px;
  margin-top: 5px;
  position: relative;
}

.menu-list .item:last-child {
  margin-bottom: 10px;
}

.menu-list .item p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
  float: left;
}

.menu-list .item p.name {
  width: 25%;
}

.menu-list .item p.cat {
  width: 20%;
}

.menu-list .item p.type {
  width: 10%;
}

.menu-list .item p.desc {
  width: 35%;
  padding: 0 20px;
}

.menu-list .item p.price {
  width: 10%;
}

.menu-list .item .delete, .menu-list .item .edit {
  background-image: url(images/delete.png);
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px auto;
  text-align: center;
  position: absolute;
  line-height: 15px;
  cursor: pointer;
  font-size: 9px;
  color: #FFFFFF;
  height: 20px;
  right: -1px;
  width: 20px;
  top: -1px;
}

.menu-list .item .edit {
  right: 22px;
  background-image: url(images/edit.png);
}

.menu-category-value {
  display: none;
}

.menu-category-list {
  margin: 0 5px;
  padding-left: 0;
}

.menu-category-list li {
  list-style: none;
}

.menu-category-list li.placeholder {
  background-color: #DDDDDD;
  height: 35px;
  margin-top: 5px;
}

.menu-category-list .overlay {
  background: #FFFFFF;
  position: absolute;
  opacity: 0.8;
  bottom: -1px;
  right: -1px;
  z-index: 2;
  left: -1px;
  top: -1px;
}

.menu-category-list .overlay img {
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  height: 20px;
  width: 20px;
  left: 50%;
  top: 50%;
}

.menu-category-list .overlay.error {
  color: red;
  text-align: center;
  padding: 10px;
}

.menu-category-list .item {
  background: #F5F5F5;
  border: 1px solid #BBBBBB;
  padding: 10px;
  margin-top: 5px;
  position: relative;
}

.menu-category-list .item p {
  margin-bottom: 0;
}

.menu-category-list .item .delete, .menu-category-list .item .edit {
  background-image: url(images/delete.png);
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px auto;
  text-align: center;
  position: absolute;
  line-height: 15px;
  cursor: pointer;
  font-size: 9px;
  color: #FFFFFF;
  height: 20px;
  right: -1px;
  width: 20px;
  top: -1px;
}

.menu-category-list .item .edit {
  right: 22px;
  background-image: url(images/edit.png);
}

.with-tabs {
  text-indent: 25px;
}

.menu-box-wrapper .chosen-container-single .chosen-single {
  border: 1px solid #bbbbbb;
  border-radius: 0;
  background: #FFFFFF;
  line-height: 27px;
  box-shadow: none;
  color: #000000;
  height: 30px;
}

.menu-box-wrapper .chosen-container .chosen-drop {
  border-color: -moz-use-text-color #bbbbbb #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  background: #FFFFFF;
  box-shadow: none;
}

.menu-box-wrapper .chosen-container-active .chosen-single {
  box-shadow: none;
}

.menu-box-wrapper .chosen-container-active.chosen-with-drop .chosen-single {
  background: #FFFFFF;
  box-shadow: none;
  border-color: #bbbbbb;
}

.menu-box-wrapper .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 3px;
}

.menu-box-wrapper .chosen-container .chosen-results li.highlighted {
  background-color: #333;
  background-image: none;
  color: #FFF;
}

.menu-box-wrapper .chosen-container-single .chosen-search input[type="text"] {
  margin-bottom: 3px;
}

.menu-box-wrapper .chosen-container-single .chosen-single div b {
  background-position: 1px 3px;
}

.menu-box-wrapper .menu-type-wrapp {
  margin-bottom: 5px;
  padding: 0;
  margin-top: 0;
}

.menu-box-wrapper .menu-type-wrapp li {
  list-style: none;
  width: 50%;
  float: left;
  margin: 0 0 5px;
}

.menu-box-wrapper .menu-type-wrapp span {
  margin-right: 15px;
  vertical-align: middle;
}

.menu-box-wrapper .menu-type-wrapp input {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.menu-pdf-file, .menu-pdf-link {
  padding: 10px 5px;
}

.pdf-file {
  padding: 5px 30px 5px 10px;
  border: 1px solid #BBB;
  position: relative;
  float: left;
  background: #f5f5f5;
}

.pdf-file a {
  position: absolute;
  text-align: center;
  background: #000;
  cursor: pointer;
  color: #FFFFFF;
  height: 15px;
  right: -1px;
  width: 15px;
  top: -1px;
}
