<!-- BEGIN destinations_form -->

<h1 class="form-title">{form_title}</h1>
<div class="tab_container destination-wrapp">
  <div class="single_content">
    <form method="post" enctype="multipart/form-data">
      <div class="button_wrapper clearfix">
        <div class="button_left">
          <ul class="button_navigation">
            {button}
          </ul>
        </div>
      </div>

      <div class="list_edit">

        {message}

        <div class="hidden-element">
          <input type="text" value="{post_id}" name="post_id" />
        </div>

        <fieldset>
          <p>Title</p>
          <input type="text" class="textbox" name="post_title" value="{post_title}" />
        </fieldset>

        <fieldset>
          <p>Description</p>
          {post_content}
        </fieldset>
<!--
        <fieldset>
          <div class="additional_data">
            <h2>Corporate Image</h2>
            <div class="additional_content">
              <div class="slider">
                <h3>Select an image file on your computer (2MB max):</h3>
                <div class="corporate-wrapp clearfixed">{corporate_image}</div>
                <input type="file" name="cp_image" />
              </div>
            </div>
          </div>
        </fieldset> -->

        <fieldset>
          <div class="additional_data">
            <h2>Background Image</h2>
            <div class="additional_content">
              <div class="slider">
                <h3>Select an image file on your computer (2MB max):</h3>
                <div class="background-wrapp clearfixed">{background_image}</div>
                <input type="file" name="bg_image" />
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="additional_data">
            <h2>Information</h2>
            <div class="additional_content">
              <div class="info-list clearfixed">
                <br />
                <!-- <div class="info-list">
                  <p>Position on Google Map</p>
                  <input type="text" class="textbox" name="coordinate_location" value="{coordinate_location}" />
                </div> -->
                <div class="info-list">
                  <p>Phone Number</p>
                  <input type="text" class="textbox" name="phone_number" value="{phone_number}" />
                </div>
                <div class="info-list">
                  <p>Address</p>
                  <textarea class="textbox" name="address">{address}</textarea>
                </div>
                <div class="info-list">
                  <p>Google Analytic Script</p>
                  <textarea class="textbox" name="g_analytic">{g_analytic}</textarea>
                </div>
                <div class="info-list">
                  <p>Pixel Script</p>
                  <textarea class="textbox" name="pixel_script">{pixel_script}</textarea>
                </div>
              </div>
            </div>
        </fieldset>

        <!-- <fieldset>
          <div class="additional_data">
            <h2>Additional Link</h2>
            <div class="additional_content">
              <div class="info-list clearfixed">
                <br />
                <div class="info-list">
                  <p>Link Book Now</p>
                  <input type="text" class="textbox" name="book_now_link" value="{book_now_link}" />
                </div>
              </div>
            </div>
        </fieldset> -->

        <!-- <fieldset>
          <div class="additional_data">
            <h2>Booking Form ( Synxis Setting )</h2>
            <div class="additional_content booking-sett clearfixed">
              <div class="info-list">
                <p>Hotel Code</p>
                <input type="text" class="textbox" name="hotel_code" value="{hotel_code}" />
              </div>
              <div class="info-list">
                <p>Chain Code</p>
                <input type="text" class="textbox" name="chain_code" value="{chain_code}" />
              </div>
              <div class="info-list">
                <p>Template Code</p>
                <input type="text" class="textbox" name="template_code" value="{template_code}" />
              </div>
              <div class="info-list">
                <p>Shell Code</p>
                <input type="text" class="textbox" name="shell_code" value="{shell_code}" />
              </div>
            </div>
          </div>
        </fieldset> -->

        <!-- <fieldset>
          <div class="additional_data">
            <h2>Slide Image</h2>
            <div class="additional_content">
              <div class="slider">
                <h3>Select an image file on your computer (2MB max):</h3>
                <ol class="slide-wrapp clearfixed sortable">{slide_list}</ol>
                <input type="file" name="image" />
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="additional_data">
            <h2>Location Image</h2>
            <div class="additional_content">
              <div class="info-list">
                <p><br/>Title</p>
                <input type="text" class="textbox" name="location_map_title" value="{location_map_title}" />
              </div>
              <div class="info-list">
                <p>Description</p>
                <input type="text" class="textbox" name="location_map_desc" value="{location_map_desc}" />
              </div>
              <div class="slider">
                <h3>Select an image file on your computer (2MB max):</h3>
                <ol class="loc-slide-wrapp clearfixed sortable">{location_list}</ol>
                <input type="file" name="loc_image" />
              </div>
            </div>
          </div>
        </fieldset> -->

        <fieldset>
          <div class="additional_data">
            <h2>Meta Data</h2>
            <div class="additional_content">
              <div class="info-list">
                <p><br />Title</p>
                <input type="text" class="textbox" name="meta_title" value="{meta_title}" />
              </div>
              <div class="info-list">
                <p>Description</p>
                <input type="text" class="textbox" name="meta_description" value="{meta_description}" />
              </div>
              <div class="info-list">
                <p>Keywords Code</p>
                <input type="text" class="textbox" name="meta_keywords" value="{meta_keywords}" />
              </div>
            </div>
          </div>
        </fieldset>

        </div>

        <div class="button_wrapper clearfix">
          <div class="button_left">
            <ul class="button_navigation">
              {button}
            </ul>
          </div>
        </div>
    </form>
    </div>
  </div>

  <script type="text/javascript">
    jQuery(function() {
      //-- Slide Image Function
      jQuery('[name=image]').change(function() {
        if (this.files && this.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
            var len = jQuery('.slide-wrapp .list-box').length;
            var images =
              '<li id="list_' + len + '" class="clearfixed">' +
              '<div class="list-box">' +
              '<div class="inner">' +
              '<div class="box" style="background-image:url(' + e.target.result + ')">' +
              '<input class="s-image" type="hidden" name="slide_image[' + len + ']" value="' + e.target.result + '" />' +
              '<div class="overlay" style="display: none;">' +
              '<a data-post-id="" data-slide-name="" class="delete-header">' +
              '<img src="http://{site_url}/lumonata-plugins/destinations/images/delete.png">' +
              '</a>' +
              '</div>' +
              '</div>' +
              '<div class="field">' +
              '<input class="textbox s-title" type="text" name="slide_title[' + len + ']" value="" placeholder="Title" />' +
              '<textarea class="textbox s-desc" name="slide_description[' + len + ']" placeholder="Description"></textarea>' +
              '</div>' +
              '</div>' +
              '</div>' +
              '</li>';

            jQuery('.slide-wrapp').append(images);
          }

          reader.readAsDataURL(this.files[0]);
        }
      });

      jQuery('.delete-header').live('click', function() {
        var selector = jQuery(this).parent().parent().parent().parent();
        var url = '{state_url}';
        var prm = new Object;
        prm.ajax_key = 'delete-slide-image';
        prm.post_id = jQuery(this).attr('data-post-id');
        prm.slide_name = jQuery(this).attr('data-slide-name');

        jQuery.post(url, prm, function(e) {
          if (e.result == 'success') {
            selector.fadeOut(200, function() {
              jQuery(this).remove();
            });
          }
        }, 'json');
      });

      jQuery('ol.slide-wrapp').nestedSortable({
        handle: 'div',
        helper: 'clone',
        items: 'li',
        maxLevels: 1,
        opacity: .6,
        placeholder: 'placeholder',
        tolerance: 'pointer',
        stop: function(eve, ui) {
          var url = '{state_url}';
          var prm = new Object;
          prm.ajax_key = 'reorder-slide-image';
          prm.post_id = jQuery('[name=post_id[0]]').val();
          prm.slide_image = new Array();
          prm.slide_title = new Array();
          prm.slide_description = new Array();

          jQuery('.slide-wrapp li').each(function(i, e) {
            prm.slide_image.push(jQuery(this).find('.s-image').val());
            prm.slide_title.push(jQuery(this).find('.s-title').val());
            prm.slide_description.push(jQuery(this).find('.s-desc').val());
          });

          jQuery.post(url, prm, function(e) {
            console.log(e);
          }, 'json');
        }
      });

      //-- Location Image Function
      jQuery('[name=loc_image]').change(function() {
        if (this.files && this.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
            var len = jQuery('.loc-slide-wrapp .list-box').length;
            var images =
              '<li id="loclist_' + len + '" class="clearfixed">' +
              '<div class="list-box">' +
              '<div class="inner">' +
              '<div class="box" style="background-image:url(' + e.target.result + ')">' +
              '<input class="l-image" type="hidden" name="location_image[' + len + ']" value="' + e.target.result + '" />' +
              '<div class="overlay" style="display: none;">' +
              '<a data-post-id="" data-location-name="" class="loc-delete-header">' +
              '<img src="http://{site_url}/lumonata-plugins/destinations/images/delete.png">' +
              '</a>' +
              '</div>' +
              '</div>' +
              '<div class="field">' +
              '<input class="textbox l-title" type="text" name="location_title[' + len + ']" value="" placeholder="Title" />' +
              '<textarea class="textbox l-desc" name="location_description[' + len + ']" placeholder="Description"></textarea>' +
              '</div>' +
              '</div>' +
              '</div>' +
              '</li>';

            jQuery('.loc-slide-wrapp').append(images);
          }

          reader.readAsDataURL(this.files[0]);
        }
      });

      jQuery('.loc-delete-header').live('click', function() {
        var selector = jQuery(this).parent().parent().parent().parent();
        var url = '{state_url}';
        var prm = new Object;
        prm.ajax_key = 'delete-location-image';
        prm.post_id = jQuery(this).attr('data-post-id');
        prm.loc_name = jQuery(this).attr('data-location-name');

        jQuery.post(url, prm, function(e) {
          if (e.result == 'success') {
            selector.fadeOut(200, function() {
              jQuery(this).remove();
            });
          }
        }, 'json');
      });

      jQuery('ol.loc-slide-wrapp').nestedSortable({
        handle: 'div',
        helper: 'clone',
        items: 'li',
        maxLevels: 1,
        opacity: .6,
        placeholder: 'placeholder',
        tolerance: 'pointer',
        stop: function(eve, ui) {
          var url = '{state_url}';
          var prm = new Object;
          prm.ajax_key = 'reorder-loc-slide-image';
          prm.post_id = jQuery('[name=post_id[0]]').val();
          prm.location_image = new Array();
          prm.location_title = new Array();
          prm.location_description = new Array();

          jQuery('.loc-slide-wrapp li').each(function(i, e) {
            prm.location_image.push(jQuery(this).find('.l-image').val());
            prm.location_title.push(jQuery(this).find('.l-title').val());
            prm.location_description.push(jQuery(this).find('.l-desc').val());
          });

          jQuery.post(url, prm, function(e) {
            console.log(e);
          }, 'json');
        }
      });

      //-- Background Image Function
      jQuery('[name=bg_image]').change(function() {
        if (this.files && this.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
            var images =
              '<div class="box">' +
              '<img src="' + e.target.result + '" />' +
              '<input type="hidden" name="background_image" value="' + e.target.result + '" />' +
              '<div class="overlay" style="display: none;">' +
              '<a data-post-id="" data-bg-name="" class="bg-delete-header">' +
              '<img src="http://{site_url}/lumonata-plugins/destinations/images/delete.png">' +
              '</a>' +
              '</div>' +
              '</div>';

            jQuery('.background-wrapp').html(images);
          }

          reader.readAsDataURL(this.files[0]);
        }
      });

      jQuery('.bg-delete-header').live('click', function() {
        var selector = jQuery(this).parent().parent();
        var url = '{state_url}';
        var prm = new Object;
        prm.ajax_key = 'delete-background-image';
        prm.post_id = jQuery(this).attr('data-post-id');
        prm.bg_name = jQuery(this).attr('data-bg-name');

        jQuery.post(url, prm, function(e) {
          if (e.result == 'success') {
            selector.fadeOut(200, function() {
              jQuery(this).remove();
            });
          }
        }, 'json');
      });

      //-- Coorporate Image Function
      jQuery('[name=cp_image]').change(function() {
        if (this.files && this.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
            var images =
              '<div class="box">' +
              '<img src="' + e.target.result + '" />' +
              '<input type="hidden" name="corporate_image" value="' + e.target.result + '" />' +
              '<div class="overlay" style="display: none;">' +
              '<a data-post-id="" data-cp-name="" class="cp-delete-header">' +
              '<img src="http://{site_url}/lumonata-plugins/destinations/images/delete.png">' +
              '</a>' +
              '</div>' +
              '</div>';

            jQuery('.corporate-wrapp').html(images);
          }

          reader.readAsDataURL(this.files[0]);
        }
      });

      jQuery('.cp-delete-header').live('click', function() {
        var selector = jQuery(this).parent().parent();
        var url = '{state_url}';
        var prm = new Object;
        prm.ajax_key = 'delete-corporate-image';
        prm.post_id = jQuery(this).attr('data-post-id');
        prm.cp_name = jQuery(this).attr('data-cp-name');

        jQuery.post(url, prm, function(e) {
          if (e.result == 'success') {
            selector.fadeOut(200, function() {
              jQuery(this).remove();
            });
          }
        }, 'json');
      });

      jQuery('.list-box, .background-wrapp .box, .corporate-wrapp .box').live('mouseover', function() {
        jQuery(this).find('.overlay').show();
      });

      jQuery('.list-box, .background-wrapp .box, .corporate-wrapp .box').live('mouseout', function() {
        jQuery(this).find('.overlay').hide();
      });
    });
  </script>
  <!-- END destinations_form -->
