.lumonata_menu ul li.destinations{ 
	background-position:left center;
	background-repeat:no-repeat;
	background-image:url(../../lumonata-plugins/destinations/images/ico-destination.png);}
	
.form-title{ margin:18px 0 17px; }
.hidden-element{ display:none; }
.clearfixed:before, .clearfixed:after{ content:""; display:table; } 
.clearfixed:after{ clear:both; }

.destination-wrapp .message{ display:block; padding:10px; margin:0 20px 5px; }
.destination-wrapp .message p{ margin:0; line-height:1.38; }
.destination-wrapp .error{ background-color:#FFBABA; border:1px solid #D8000C; color:#D8000C; }
.destination-wrapp .success{ background-color:#DFF2BF; border:1px solid #4F8A10; color:#4F8A10; }

.destination-wrapp .search_box{ float:right; margin-top:10px !important; }
.destination-wrapp .search-loader{ float:right; margin:10px; display:none; }
.destination-wrapp .search_box .searchtext{ padding:0 10px; }
.destination-wrapp .boxs{ -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.destination-wrapp .boxs label{ display:block; padding:9px 0; }
.destination-wrapp .boxs.title label{ padding-left:30px; }
.destination-wrapp .title{ width:25%; }
.destination-wrapp .description{ width:75%; padding-right:10px; }
.destination-wrapp .description p{ width:90%; margin:0; padding:10px 0; }
.destination-wrapp .push-left{ float:left; }
.destination-wrapp .title_checkbox{ margin:10px 10px; vertical-align:top; left:20px; }
.destination-wrapp .list_navigation{ display:none; }
.destination-wrapp .list_item:hover .list_navigation{ display:block; } 
.destination-wrapp .the_navigation_list{ margin-left:32px; }
.destination-wrapp .the_navigation_list .list_navigation{ margin-left:0; }
.destination-wrapp .delete-confirmation-wrapper{ display:none; }
.destination-wrapp .button-box{ text-align:right; margin:10px 0 0 0; }
.destination-wrapp .delete-confirmation-wrapper .button-box button{ padding:0 10px; }
.destination-wrapp .delete-confirmation-wrapper .popup_block .popup{ padding:0; }
.destination-wrapp .delete-confirmation-wrapper .alert_yellow{ width:auto; padding:20px; }
.destination-wrapp .info-list{padding:0 10px 10px;}
.destination-wrapp .info-list .push-left{padding-right:15px; width:50%;}
.destination-wrapp .info-list .push-left:last-child{padding-right:0; padding-left:15px;}
.destination-wrapp .textbox.small{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;  
			min-width:100% !important;
			height:32px !important; 
			width:50% !important;}
.destination-wrapp textarea.textbox{height:150px !important; resize:none;}

.destination-wrapp .button_wrapper.dest{ margin-top:10px !important; }
.destination-wrapp .button_navigation{ padding:0 !important; width:auto !important; }
.destination-wrapp .list_title{ padding:0 !important; height:35px !important; width:auto !important; margin-bottom:0 !important; }
.destination-wrapp .list_title input{ margin-left:10px !important; }
.destination-wrapp .list_item{ padding:0 !important; margin:5px 0 !important; }
.destination-wrapp .alert_red_form{ padding:20px !important; width:98% !important; margin:10px auto !important }
.destination-wrapp .alert_red_form ol{ padding:0 15px; margin-bottom:0; }
.destination-wrapp .alert_red_form ol li{ padding:2px 0; }
.destination-wrapp .alert-button-box{ width:98%; margin:10px auto; text-align:right; }
.destination-wrapp .alert-button-box .button{ padding:0 10px !important; }
.destination-wrapp .textarea_button{ width:100% !important; }

.destination-wrapp .slider{ padding:10px; }
.destination-wrapp .slider h3{font-size:12px; font-weight:400; margin-top:0;}
.destination-wrapp .slide-wrapp, 
.destination-wrapp .loc-slide-wrapp{padding:10px; border:1px solid #ddd; background:#F0F0EE; margin-bottom:15px; min-height:120px;}
.destination-wrapp .slide-wrapp .box, 
.destination-wrapp .loc-slide-wrapp .box{
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;	
	position:relative;
	height:100px;
	width:100px;
	float:left; }
.destination-wrapp .slide-wrapp .list-box, 
.destination-wrapp .loc-slide-wrapp .list-box{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;
			padding:5px;
			float:left; 
			width:100%;}
.destination-wrapp .slide-wrapp .list-box .inner,
.destination-wrapp .loc-slide-wrapp .list-box .inner{ background:#FFF; border:1px solid #ddd; padding:10px; }
.destination-wrapp .slide-wrapp .list-box .overlay,
.destination-wrapp .loc-slide-wrapp .list-box .overlay{ cursor:pointer; display:none; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.destination-wrapp .slide-wrapp .list-box .overlay a,
.destination-wrapp .loc-slide-wrapp .list-box .overlay a{ position:absolute; top:40px; left:40px; cursor:pointer; }
.destination-wrapp .slide-wrapp .list-box .overlay a.delete-slide,
.destination-wrapp .loc-slide-wrapp .list-box .overlay a.delete-slide{ left:90px; }
.destination-wrapp .slide-wrapp .list-box .field,
.destination-wrapp .loc-slide-wrapp .list-box .field{ margin-left:110px; }
.destination-wrapp .slide-wrapp .list-box .field .textbox,
.destination-wrapp .loc-slide-wrapp .list-box .field .textbox{
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
		box-sizing:border-box;
			background-color:#FFFFFF !important;  
			min-width:100% !important;
			height:auto !important;
			width:auto !important;
			margin-bottom:10px;}
.destination-wrapp .slide-wrapp .list-box .field textarea.textbox,
.destination-wrapp .loc-slide-wrapp .list-box .field textarea.textbox{height:61px !important; margin-bottom:0 !important; resize:none;}

.destination-wrapp .slide-wrapp li,
.destination-wrapp .loc-slide-wrapp li{ display:block; list-style:none; }
.destination-wrapp .slide-wrapp li.placeholder,
.destination-wrapp .loc-slide-wrapp li.placeholder{ background-color:#FFBABA; height:123px; margin:5px; }

.destination-wrapp .background-wrapp{margin-bottom:20px;}
.destination-wrapp .background-wrapp .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:500px; position:relative; text-align:center;}
.destination-wrapp .background-wrapp img{width:auto; max-width:100%;}
.destination-wrapp .background-wrapp .overlay{ cursor:pointer; display:none; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.destination-wrapp .background-wrapp .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.destination-wrapp .background-wrapp .box:hover .overlay{display:block;}

.destination-wrapp .corporate-wrapp{margin-bottom:20px;}
.destination-wrapp .corporate-wrapp .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:500px; position:relative; text-align:center;}
.destination-wrapp .corporate-wrapp img{width:auto; max-width:100%;}
.destination-wrapp .corporate-wrapp .overlay{ cursor:pointer; display:none; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.destination-wrapp .corporate-wrapp .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.destination-wrapp .corporate-wrapp .box:hover .overlay{display:block;}

.destination-wrapp .boxs-wrapp{ margin:5px; }
.destination-wrapp .boxs-wrapp .boxs{ padding:10px; border-bottom:1px solid #DDDDDD; background-color:#f5f5f5; border:1px solid #DDD; position:relative; }
.destination-wrapp .boxs-wrapp .boxs label{ margin-right:20px; }
.destination-wrapp .boxs-wrapp .boxs .left{ width:50%; float:left; }
.destination-wrapp .boxs-wrapp .boxs p{margin-top:0;}
.destination-wrapp .boxs-wrapp .boxs .textbox, .boxs-wrapp .boxs .textarea{ width:95% !important; margin-bottom:10px; }
.destination-wrapp .boxs-wrapp .boxs .textarea{ height:90px; width:98% !important; padding:5px; background-color:#FFF !important; resize:none; }
.destination-wrapp .boxs-wrapp .delete{ 
	background-color:rgba(0,0,0,0.8);  
	position:absolute;
	text-align:center; 
	line-height:20px;
	cursor:pointer;  
	height:20px; 
	color:#FFF; 
	right:-1px; 
	width:20px; 
	top:-1px;}
.destination-wrapp .button-wrapp{ margin:10px 5px; }
.destination-wrapp .button-wrapp .add-new{ padding:7px 10px; float:right; background-color:#F5f5f5; border:1px solid #DDD; cursor:pointer; }

.destination-wrapp .booking-sett .info-list{ float:left; width:150px; padding-top:10px; margin-right:20px; }
.destination-wrapp .booking-sett .info-list .textbox{ width:150px !important; min-width:150px; !important; }