.post-video-block{ position:relative; padding:0 5px; }

.add-new-video{ margin:10px 5px; display:block; width:120px; text-align:center; padding:9px; font-weight:bold; height:auto; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{ border-bottom-right-radius:0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{ border-bottom-left-radius:0; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{ border-top-right-radius:0; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{ border-top-left-radius:0; }

.ui-dialog{ padding:0; }
.ui-dialog .ui-dialog-titlebar{ border:none; border-bottom:1px solid #aaaaaa; }
.ui-dialog .ui-dialog-content{ padding-bottom:0; }
.ui-dialog .ui-state-error{ padding:.4em; }
.ui-dialog .ui-dialog-buttonpane{ padding:7px; text-align:right; border:none; margin:0; border-top:1px solid #bbbbbb; }
.ui-dialog .ui-dialog-buttonpane button{ margin:0 7px 0 0; background:#F5F5F5; color:#222222; border:1px solid #aaaaaa; }
.ui-dialog .ui-dialog-buttonpane button:last-child{ margin-right:0; }

.ui-widget-content{ border:1px solid #aaaaaa; color:#222222; }
.ui-widget{ font-family:inherit; font-size:1.1em; padding:0; }
.ui-widget button{ font-size:0.86em; }

.ui-dialog .gallery-video-popup{ padding:0; border:0; }
.ui-dialog .gallery-video-popup .textbox{ margin-bottom:12px; width:100%; padding:.4em; min-width:0; }
.ui-dialog .gallery-video-popup fieldset{ padding:10px 0; }
.ui-dialog .gallery-video-popup fieldset:last-child{ border:none; }
.ui-dialog .gallery-video-popup span{ display:block; padding:0 0 10px; }
.ui-dialog .gallery-video-popup textarea.textbox{ margin-bottom:12px; width:100%; padding:.4em; }

.post-video-list ol{ padding:0; margin:0; width:100%; background-color:#f5f5f5; }
.post-video-list li{ width:300px; list-style:none; border:1px solid #ddd; padding:5px; float:left; margin:5px; }
.post-video-list .video-item{ position:relative; }
.post-video-list .video-item iframe{ width:300px; height:200px; }
.post-video-list .video-item span{ position:absolute; top:0; left:0; width:100%; height:100%; z-index:1; }
.post-video-list .video-item span span{ display:table; text-align:center; background-color:rgba(0,0,0,0.7); opacity:0; }
.post-video-list .video-item span:hover span{ opacity:1; }
.post-video-list .video-item span a{ display:table-cell; vertical-align:middle; color:rgb(255,255,255); z-index:1; cursor:pointer; }