/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * GLOBAL
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.bullets {
  position: fixed;
  right: 0;
  bottom: 50px;
  width: 200px;
}

.bullets li {
  background-image: url('../images/point-line.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 5px;
  background-position: left center;
}

.bullets li.active {
  background-image: url('../images/point.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 5px;
  background-position: left center;
}

.bullets li a {
  padding-left: 15px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.container-table {
  display: table;
}

.container-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.full-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list {
  display: block;
}

.arrow-read-more {
  padding-bottom: 3px;
  padding-left: 5px;
}

.margin-top-location {
  margin-top: 80px;
}

.one-content .not-found {
  text-align: center;
  font-size: 30px;
  padding: 100px 20px 100px;
  color: #777777;
}

.one-content .link-back {
  text-align: center;
}

.one-content .link-back a {
  text-decoration: none;
  text-align: center;
  color: #777777;
}

.one-content .line-spa {
  background-color: rgb(174, 208, 0);
  height: 1px;
  margin: 50px auto 50px;
  width: 30%;
}

.one-content .list-spa {
  margin: 0 auto;
  width: 65%;
}

.one-content .list-spa .title-spa {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(119, 119, 119);
  text-transform: none;
}

.one-content .list-spa .detail-spa {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.one-content .list-spa .detail-spa .limit-spa {
  display: inline;
}

.one-content .list-spa .detail-spa img {
  height: 15px;
  vertical-align: middle;
  padding-right: 5px;
}

.one-content .list-spa .detail-spa .text-clock {
  display: inline-block;
  padding-right: 10px;
  text-align: center;
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-weight: 300;
}

.one-content .list-spa .detail-spa .text-price {
  display: inline-block;
  padding-right: 10px;
  text-align: center;
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-weight: 300;
}

.one-content .list-spa .description-spa {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 20px auto 0;
}

.one-content .information-spa .noted {
  text-align: center;
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-weight: 300;
}

.one-content .information-spa .title-spa-buttom {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(119, 119, 119);
  font-weight: normal;
  font-size: 16px;
  margin: 30px auto 15px;
  text-align: center;
}

.one-content .information-spa .address {
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 15px;
}

.one-content .information-spa .email {
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 15px;
}

.one-content .information-spa .phone {
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 15px;
}

.one-content .information-spa .opening {
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 15px;
}

.centers {
  text-align: center;
}

#book_now .modal-dialog {
  width: 50%;
  margin: 15% auto;
}

#book_now .modal-dialog select.destinations {
  width: 95%;
  padding: 1px 40px 1px 10px;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  border-radius: 0;
  color: rgb(119, 119, 119);
  border: 1px solid #777777;
  background-image: url(../images/down-mini.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

#book_now .modal-dialog select option.list-destinations {
  font-size: 16px;
  font-weight: 300;
}

#book_now .modal-dialog h4.title-book {
  display: inline-block;
  color: #777777;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 20px;
}

#book_now .modal-dialog .modal-content {
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

#book_now .modal-dialog .modal-body {
  overflow: auto;
}

#book_now .modal-dialog .container-form {
  float: left;
  width: 50%;
  margin-bottom: 15px;
  padding-left: 20px;
}

#book_now .modal-dialog .container-form-top {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 20px;
}

#book_now .modal-dialog .container-form-footer {
  float: left;
  width: 50%;
  padding-left: 20px;
}

.modal-header {
  border-bottom: 1px solid #777777;
}

#book_now .modal-dialog .container-form input.date-picker {
  background-image: url('../images/calender.svg');
  background-position: left 5px center;
  background-repeat: no-repeat;
  border: none;
  padding: 10px 10px 10px 35px;
  border: 1px solid #777777;
  width: 90%;
  cursor: pointer;
}

#book_now .modal-dialog .container-form .sub-container-form {
  width: 50%;
  float: left;
}

#book_now .modal-dialog .container-form .sub-container-form select.adults, #book_now .modal-dialog .container-form .sub-container-form select.child, #book_now .modal-dialog .container-form .sub-container-form select.infants {
  background-image: url('../images/down-mini.svg');
  background-position: right 15px center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 80%;
  padding: 10px;
  border: 1px solid #777777;
}

#book_now .modal-dialog .container-form .sub-container-form input.promo-code {
  cursor: pointer;
  width: 80%;
  padding: 10px;
  border: 1px solid #777777;
  text-transform: uppercase;
}

#book_now .modal-dialog .container-form-footer p.footers {
  text-align: left;
  margin: 0px;
  padding-top: 15px;
  color: #777777;
  font-weight: 400;
  padding-left: 5px;
}

#book_now .modal-dialog .container-form-footer button {
  background-color: #777777;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 10px 50px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
}

#book_now .modal-dialog .modal-footer {
  background-color: #f4f4f4;
}

#career .modal-dialog {
  width: 60%;
  margin: 30px auto;
}

#career .modal-dialog .modal-header {
  border-bottom: none !important;
}

#career .modal-dialog .modal-title {
  text-transform: uppercase;
  text-align: center;
  color: #777777;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
}

#career .modal-dialog .line {
  text-align: center;
}

#career .modal-dialog .modal-body .desc {
  text-align: center;
  color: #777777;
  padding: 0 10px 0;
  width: 80%;
  margin: 0 auto;
}

#career .modal-dialog .modal-footer {
  background-color: #eeeeee;
}

#career .modal-dialog .modal-footer .list {
  text-align: center;
  color: #777777;
  padding: 0 10px 0;
  width: 80%;
  margin: 0 auto;
}

#career .modal-dialog .modal-footer .list ul li {
  text-align: left;
}

.modal-backdrop {
  opacity: 0.8 !important;
}

.container-slider .slick-list {
  height: 100% !important;
}

.bg-position-offers {
  background-position: center 85px !important;
}


/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * HEADER
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.wrapper-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
}

.additional-wrapper {
  margin-top: 85px;
  height: calc(100% - 85px);
}

.bg-home {
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -webkit-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/slide-bg1.jpg');
  /* For Firefox (3.6 to 15) */
  background-image: -moz-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/slide-bg1.jpg');
  /* For old Opera (11.1 to 12.0) */
  background-image: -o-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/slide-bg1.jpg');
  /* Standard syntax; must be last */
  background-image: linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/slide-bg1.jpg');
}

.bg-dining {
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -webkit-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/miura-food.jpg');
  /* For Firefox (3.6 to 15) */
  background-image: -moz-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/miura-food.jpg');
  /* For old Opera (11.1 to 12.0) */
  background-image: -o-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/miura-food.jpg');
  /* Standard syntax; must be last */
  background-image: linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/miura-food.jpg');
}

.bg-infants {
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -webkit-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/cozy-double-room--v6687274-1600-clear.jpg');
  /* For Firefox (3.6 to 15) */
  background-image: -moz-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/cozy-double-room--v6687274-1600-clear.jpg');
  /* For old Opera (11.1 to 12.0) */
  background-image: -o-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/cozy-double-room--v6687274-1600-clear.jpg');
  /* Standard syntax; must be last */
  background-image: linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/cozy-double-room--v6687274-1600-clear.jpg');
}

.bg-activities {
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -webkit-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/IMG_0050.jpg');
  /* For Firefox (3.6 to 15) */
  background-image: -moz-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/IMG_0050.jpg');
  /* For old Opera (11.1 to 12.0) */
  background-image: -o-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/IMG_0050.jpg');
  /* Standard syntax; must be last */
  background-image: linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/IMG_0050.jpg');
}

.bg-spa {
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -webkit-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/miura-food.jpg');
  /* For Firefox (3.6 to 15) */
  background-image: -moz-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/miura-food.jpg');
  /* For old Opera (11.1 to 12.0) */
  background-image: -o-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/miura-food.jpg');
  /* Standard syntax; must be last */
  background-image: linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/miura-food.jpg');
}

.bg-offers {
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -webkit-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/Dinner.jpg');
  /* For Firefox (3.6 to 15) */
  background-image: -moz-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/Dinner.jpg');
  /* For old Opera (11.1 to 12.0) */
  background-image: -o-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/Dinner.jpg');
  /* Standard syntax; must be last */
  background-image: linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/Dinner.jpg');
}

.container-header {
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  /* For Firefox (3.6 to 15) */
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  /* For old Opera (11.1 to 12.0) */
  background: -o-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  /* Standard syntax; must be last */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  height: 100%;
  width: 100%;
}

.container-header .icons {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: auto;
}

.container-header .icons img.logo {
  margin: 0 auto;
  height: auto;
  width: 190px;
}

.container-header .btn-scroll {
  background-image: url('../images/home down-up.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.container-header .btn-scroll:hover {
  background-image: url('../images/home down.svg');
}

.container-header .reservation-spa {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 150px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.container-header .reservation-spa a {
  text-align: center;
}

.container-header .reservation-spa .button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(174, 208, 0);
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

.container-slider .slick-next {
  bottom: 1px !important;
  left: 210px;
  right: 0;
  top: inherit;
}

.container-slider .slick-prev:before {
  content: url('../images/left arrow.svg');
}

.container-slider .slick-prev {
  left: 160px;
  bottom: 1px !important;
  right: 0;
  top: inherit;
  z-index: 2;
}

.container-slider .slick-next:before {
  content: url('../images/right arrow.svg');
}

.container-header .navigation {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: auto;
}

.container-header .navigation ul {
  opacity: 0.8;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(222, 222, 222);
}

.container-header .navigation ul li {
  float: left;
  width: 20%;
}

.container-header .navigation ul li a {
  display: block;
  color: #777777;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  border-radius: 0;
  border: 0;
}

.container-header .navigation ul li:last-child a {
  background-color: #aed000;
  color: white;
}

.container-header .navigation a.closes {
  display: none;
}

.labels {
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
  bottom: 0;
  display: none;
}

.labels ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(222, 222, 222);
}

.labels ul li {
  float: left;
  width: 50%;
}

.labels ul li a {
  display: block;
  color: #777777;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
}

.labels ul li:last-of-type a {
  background-color: #aed000;
  color: white;
}

.grand-container {
  width: 100%;
  height: 100%;
}

.grand-container .grand-title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
}

.grand-container .grand-desc {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  margin-top: 30px;
  text-transform: uppercase;
}

.grand-container .line {
  text-align: center;
}

.grand-container-second {
  width: 100%;
  height: 80%;
}

.grand-container-second .grand-title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
}

.grand-container-second .grand-desc {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  margin-top: 30px;
}

.grand-container-second .line {
  text-align: center;
}

.grand-container-mobile {
  width: 100%;
  float: left;
  height: 300px;
  display: none;
}

.grand-container-mobile .grand-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.grand-container-mobile .grand-title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #777777;
}

.grand-container-mobile .grand-desc {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #777777;
  letter-spacing: 5px;
  margin-top: 30px;
  padding: 0 20px;
  text-transform: uppercase;
}

.grand-container-mobile .line {
  text-align: center;
}

.container-header .container-slider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 85px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.container-header .container-slider .content-slide {
  padding-top: 60px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.container-header .container-slider .content-slide .item {
  min-height: 200px;
  padding: 0 20px;
  width: 70%;
}

.container-header .container-slider .content-slide .item .category {
  font-size: 12px;
  color: white;
  font-weight: normal;
  font-style: normal;
  width: 50%;
}

.container-header .container-slider .content-slide .item .title {
  width: 70%;
}

.container-header .container-slider .content-slide .item .title a {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: none;
}

.container-header .container-slider .content-slide .item .line {
  font-size: 30px;
  color: white;
  width: 50%;
}

.container-header .container-slider .content-slide .item .content-body {
  width: 50%;
  /*padding-bottom: 40px;*/
}

.container-header .container-slider .content-slide .item .content-body a {
  font-size: 14px;
  color: white;
  font-weight: 300;
  text-decoration: none;
}


/*.container-header .container-slider .content-slide .item .btn-detail {
  bottom: 0;
  position: absolute  !important;
}*/

.container-header .container-slider .content-slide .item .btn-detail .button {
  background-color: rgb(174, 208, 0);
  font-weight: 400;
  color: rgb(255, 255, 255);
  height: 30px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  width: 110px;
  position: absolute;
  bottom: 0;
}

.slider-mobile {
  display: none;
}


/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * SECOND NAVBAR
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.wrapper-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
  height: 85px;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  border-bottom: 1px solid #eeeeee;
}

.wrapper-navbar .brand {
  float: left;
  height: 100%;
  width: 15%;
}

.wrapper-navbar .brand img {
  width: 160px;
  margin-left: 40px;
  padding-top: 7px;
  padding-bottom: 8px;
  height: 100%;
}

.wrapper-navbar .nav-fluid {
  float: right;
  height: 100%;
  width: 63%;
}

.wrapper-navbar .nav-fluid ul {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
}

.wrapper-navbar .nav-fluid ul li {
  float: left;
  padding: 32px 80px 15px 0;
  display: inline-block;
}

.wrapper-navbar .nav-fluid ul li a {
  height: 100%;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #777777;
  text-align: center;
}

.wrapper-navbar .nav-fluid ul li.active a {
  border-bottom: 1px solid rgb(174, 208, 0);
}

.wrapper-navbar .nav-fluid select {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.container-nav-side {
  float: right;
  height: 100%;
  width: 22%;
}

.nav-side {
  float: right;
  height: 100%;
  display: table;
}

.nav-side .btn-book {
  display: inline-block;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}

.nav-side .btn-book .button {
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(174, 208, 0);
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

.nav-side .element {
  display: table-cell;
  vertical-align: middle;
  margin: 10px 30px 10px 30px;
}

.nav-side .select-btn {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}

.nav-side .select-btn select {
  padding: 1px 40px 1px 10px;
  font-size: 14px;
  font-weight: 300;
  height: 30px;
  border-radius: 3px;
  background-color: #eeeeee;
  color: rgb(119, 119, 119);
  border: none;
  background-image: url('../images/down-mini.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
}

.nav-side .select-btn select option {
  font-size: 14px;
  font-weight: 300;
}

.nav-side .element {
  vertical-align: middle;
}

.nav-side .element .content {
  min-width: 1px;
  height: 85px;
  background-color: rgb(228, 228, 228);
}

.wrapper-navbar .nav-fluid a.closes-second {
  display: none;
  float: none;
  height: 10%;
}

.wrapper-navbar .nav-fluid a.closes-second img {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  padding: 10px;
  opacity: 0.5;
}

.labels-second {
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
  bottom: 0;
  display: none;
}

.labels-second ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(174, 208, 0);
}

.labels-second ul li {
  float: left;
  width: 100%;
}

.labels-second ul li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
}


/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * BODY
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.gm-style-iw {
  width: 250px !important;
  left: 25px !important;
}

#gmaps-content {
  width: 250px;
  padding: 20px 0 20px;
  overflow: auto;
}

#gmaps-content img {
  height: 125px;
  width: 100%;
  object-fit: cover;
}

#gmaps-content .title {
  width: 100%;
  letter-spacing: normal;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px 0 10px;
  text-align: left;
  color: #777777;
}

#gmaps-content .category {
  width: 50%;
  float: left;
  font-size: 14px;
  font-weight: 300;
  color: #777777;
}

#gmaps-content .discount {
  width: 50%;
  float: left;
  color: rgb(255, 0, 15);
  text-align: right;
}

.grandmas {
  float: left;
}

.grandmas .container-text {
  float: left;
  width: 50%;
  height: 500px;
  padding: 100px 100px;
}

.grandmas .container-text .title a {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  color: #777777;
  text-decoration: none;
}

.grandmas .container-text .line {
  font-size: 30px;
  color: #777777;
}

.grandmas .container-text .description {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #777777;
  line-height: 1.5;
}

.grandmas .container-text .link {
  margin-top: 20px;
}

.grandmas .container-text .link a {
  font-weight: 300;
  color: rgb(174, 208, 0);
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5;
  cursor: pointer;
}

.grandmas .container-text .link a:after {
  content: url('../images/b 3.svg');
  position: relative;
  top: 3px;
  left: 10px;
}

.grandmas .container-text .link img {
  margin-left: 5px;
}

.grandmas .container-image {
  float: left;
  width: 50%;
  height: 500px;
}

.grandmas .container-image.mobile {
  display: none;
}

.maps {
  background-color: #eaf0e1;
  width: 100%;
  float: left;
  padding: 100px 0 100px;
}

.maps .container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.maps .container .title {
  letter-spacing: 5px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  color: #777777;
  text-transform: uppercase;
}

.maps .container .subtitle {
  margin-top: 25px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #777777;
  text-transform: uppercase;
}

.maps .container .line {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 75px;
}

.maps .google-maps {
  width: 100%;
  float: left;
  margin-bottom: 100px;
}

.maps .google-maps .template-maps {
  width: 70%;
  float: left;
  height: 600px;
}

.maps .google-maps .label-description {
  padding: 15px 0 15px;
  height: 600px;
  background: white;
  float: left;
  width: 30%;
  overflow: hidden;
}

.list-partner {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

.partner {
  width: 100%;
  float: left;
  padding: 15px 30px;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
}

.title-partner {
  float: left;
  width: 80%;
  color: #777777;
}

.discount-partner {
  float: left;
  width: 20%;
  color: #ff0000;
}

.maps .google-maps .label-description .symbol {
  float: left;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #eeeeee;
}

.maps .google-maps .label-description .symbol .icon {
  width: 25%;
  float: left;
  text-align: center;
  color: #777777;
  cursor: pointer;
}

.maps .container .btn-book {
  text-align: center;
  margin: 25px auto 25px;
}

.maps .container .btn-book .button {
  width: 500px;
  padding: 10px 0 10px;
  background-color: rgb(174, 208, 0);
  border: none;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 30px;
  color: #FFF;
  text-transform: uppercase;
}

.maps .container .short-description {
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  color: #777777;
  font-weight: 300;
}

.book-now {
  background-color: #eaf0e1;
  width: 100%;
  float: left;
  padding: 100px 20px 100px;
}

.book-now .container {
  width: 100%;
}

.book-now .container .title {
  letter-spacing: 5px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  color: #777777;
  text-transform: uppercase;
}

.book-now .container .subtitle {
  margin-top: 25px;
  letter-spacing: 5px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #777777;
  text-transform: uppercase;
}

.book-now .container .line {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 75px;
}

.book-now .container .btn-book {
  text-align: center;
  margin: 25px auto 25px;
}

.book-now .container .btn-book .button {
  width: 500px;
  padding: 10px 0 10px;
  background-color: rgb(174, 208, 0);
  border: none;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 30px;
  color: #FFF;
  text-transform: uppercase;
}

.book-now .container .short-description {
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  color: #777777;
  font-weight: 300;
}

.instagram {
  background-color: #FFF;
  width: 100%;
  float: left;
  padding: 100px 20px 100px;
}

.instagram .container {
  width: 100%;
}

.instagram .container .title {
  letter-spacing: 5px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  color: #777777;
  text-transform: uppercase;
}

.instagram .container .subtitle {
  margin-top: 25px;
  letter-spacing: 5px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #777777;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.instagram .container .line {
  text-align: center;
  margin-bottom: 75px;
}

.instagram .container .insta-photo {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: 70%;
}

.instagram .container .insta-photo ul {
  overflow: auto;
  margin: 0;
  text-align: center;
}

.instagram .container .insta-photo ul li {
  display: inline-block;
  width: 19%;
  /*margin: 3px;*/
  padding-left: 0;
}

.instagram .container .insta-photo ul li img {
  object-fit: cover;
  width: 100%;
}

.info-footer {
  background-color: #5e7930;
  width: 100%;
  float: left;
  padding: 75px 20px 150px;
}

.info-footer-second {
  background-color: #5e7930;
  width: 100%;
  float: left;
  padding: 75px 20px 75px;
}

.info-footer .container .seminyak, .info-footer .container .legian, .info-footer .container .airport {
  width: 33.33%;
  float: left;
  min-height: 132px;
  padding: 0 5% 0;
}

.info-footer .container .address {
  width: 100%;
  float: left;
  margin: 0 auto;
  min-height: 132px;
  padding: 15px 5% 0;
}

.info-footer-second .container .one-information .title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.info-footer-second .container .one-information .title-email {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
}

.info-footer-second .container .one-information .form-email {
  text-align: center;
  margin-top: 15px;
}

.info-footer-second .container .one-information form {
  font-size: 0;
}

.info-footer-second .container .one-information .form-email input.data-email {
  background: rgb(114, 146, 60);
  border: 0;
  padding: 10px;
  width: 300px;
  margin: 0;
  font-size: 14px;
  color: white;
  font-weight: 300;
}

.info-footer-second .container .one-information .form-email input.data-email::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

.info-footer-second .container .one-information .form-email input.data-email::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

.info-footer-second .container .one-information .form-email input.data-email:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

.info-footer-second .container .one-information .form-email input.data-email:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.info-footer-second .container .one-information .form-email input.data-email:focus {
  outline: 0;
}

.info-footer-second .container .one-information .form-email input.signup {
  border: 0;
  width: 80px;
  padding: 10px;
  margin: 0;
  font-size: 14px;
  background: rgb(174, 208, 0);
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}

.info-footer-second .container .one-information .line {
  text-align: center;
}

.info-footer-second .container .one-information .address {
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 300;
  min-height: 30px;
  padding-top: 5px;
}

.info-footer-second .container .one-information .telp {
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 300;
  width: 100%;
}

.info-footer .container .title-email {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
}

.info-footer .container .form-email {
  text-align: center;
  margin-top: 15px;
}

.info-footer .container form {
  font-size: 0;
}

.info-footer .container .form-email input.data-email {
  background: rgb(114, 146, 60);
  border: 0;
  padding: 10px;
  width: 300px;
  margin: 0;
  font-size: 14px;
  color: white;
  font-weight: 300;
}

.info-footer .container .form-email input.data-email::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

.info-footer .container .form-email input.data-email::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

.info-footer .container .form-email input.data-email:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

.info-footer .container .form-email input.data-email:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.info-footer .container .form-email input.data-email:focus {
  outline: 0;
}

.info-footer .container .form-email input.signup {
  border: 0;
  width: 80px;
  padding: 10px;
  margin: 0;
  font-size: 14px;
  background: rgb(174, 208, 0);
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}

.info-footer .container .title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 3.5;
  text-align: left;
}

.info-footer .container .address .title {
  text-align: center;
}

.info-footer .container .desc {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: left;
}

.info-footer .container .body {
  color: #FFF;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  line-height: 2.5;
}

.info-footer .container .body a {
  color: #FFF;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
}

.info-footer .container .body ul li a {
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  color: #FFF;
  line-height: 2.5;
}

.info-footer .container .social-media i {
  margin: 10px 10px 0 0;
  font-size: 18px;
  color: #FFF;
}

.plus {
  padding: 100px 0 !important;
}


/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * SECOND BODY
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.one-content {
  background-color: rgb(236, 242, 227);
  float: left;
  /*padding: 100px 0;*/
  width: 100%;
}

.one-content .container-fluid {
  padding: 0;
}

.one-content .container-fluid .image-content {
  float: left;
  width: 50%;
  height: 500px;
}

.one-content .container-fluid .text-content {
  float: left;
  width: 50%;
  height: 500px;
  padding: 50px 50px;
  background-color: #eeeeee;
}

.one-content .container-fluid .text-content .title {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  color: #777777;
  text-transform: uppercase;
  text-decoration: none;
}

.one-content .container-fluid .text-content .title a {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  color: #777777;
  text-transform: uppercase;
  text-decoration: none;
}

.one-content .container-fluid .text-content .line {
  font-size: 30px;
  color: #777777;
}

.one-content .container-fluid .text-content .description {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #777777;
}

.one-content .container-fluid .image-content.mobile {
  display: none;
}

.one-content .container-fluid .image-content.desktop {
  display: block;
}


/*Add */

.one-content .container {
  padding: 0;
}

.one-content .container .title {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  color: #777777;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

.one-content .container .short-desc {
  text-align: center;
  color: #777777;
  font-size: 14px;
  margin: 10px 0 10px;
  letter-spacing: 5px;
}

.one-content .container .long-description {
  color: #777777;
  text-align: center;
  width: 80%;
  margin: 30px auto;
}

.one-content .container .description {
  text-align: center;
  color: #777777;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  width: 60%;
  margin: 20px auto;
}

.one-content .container .image-content {
  float: left;
  width: 50%;
  height: 500px;
}

.one-content .container .text-content {
  float: left;
  width: 50%;
  height: 500px;
  padding: 50px 50px;
  background-color: #eeeeee;
}

.one-content .container .text-content .title {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  color: #777777;
  text-transform: uppercase;
  text-decoration: none;
}

.one-content .container .text-content .title a {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  color: #777777;
  text-transform: uppercase;
  text-decoration: none;
}

.one-content .container .text-content .line {
  font-size: 30px;
  color: #777777;
}

.one-content .container .text-content .description {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #777777;
}

.one-content .container .image-content.mobile {
  display: none;
}

.one-content .container .image-content.desktop {
  display: block;
}

.label-info {
  float: left;
  width: 100%;
  padding: 75px 0;
  background-image: -webkit-linear-gradient(0deg, rgba(94, 121, 48, 0.8) 0%, rgba(94, 121, 48, 0.8) 100%), url('../images/slide-bg1.jpg');
  background-image: -moz-linear-gradient(0deg, rgba(94, 121, 48, 0.8) 0%, rgba(94, 121, 48, 0.8) 100%), url('../images/slide-bg1.jpg');
  background-image: -o-linear-gradient(0deg, rgba(94, 121, 48, 0.8) 0%, rgba(94, 121, 48, 0.8) 100%), url('../images/slide-bg1.jpg');
  background-image: linear-gradient(450deg, rgba(94, 121, 48, 0.8) 0%, rgba(94, 121, 48, 0.8) 100%), url('../images/slide-bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.label-info .title {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.label-info .line {
  text-align: center;
  padding: 15px 0;
}

.label-info .address::before {
  position: relative;
  top: 2px;
  padding-right: 20px;
  background-image: url('../images/loc.svg');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
}

.label-info .address {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
  line-height: 2em;
}

.label-info .telp::before {
  position: relative;
  top: 2px;
  padding-right: 20px;
  background-image: url('../images/tel.svg');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
}

.label-info .telp {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
  line-height: 2em;
}

.one-content .container-fluid .text-content .link {
  margin-top: 20px;
}

.one-content .container-fluid .text-content .link a {
  font-weight: 300;
  color: rgb(174, 208, 0);
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.one-content .container-fluid .text-content .link a:after {
  content: url('../images/b 3.svg');
  position: relative;
  top: 3px;
  left: 10px;
}


/*Add*/

.one-content .container .text-content .link {
  margin-top: 20px;
}

.one-content .container .text-content .link a {
  font-weight: 300;
  color: rgb(174, 208, 0);
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.one-content .container .text-content .link a:after {
  content: url('../images/b 3.svg');
  position: relative;
  top: 3px;
  left: 10px;
}

.why {
  background-color: rgb(255, 255, 255);
  float: left;
  width: 100%;
  padding: 100px 100px;
}

.why .container-why .title {
  letter-spacing: 5px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  color: #777777;
  text-transform: uppercase;
}

.why .container-why .subtitle {
  margin-top: 25px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #777777;
  text-transform: uppercase;
}

.why .container-why .line {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 75px;
}

.why .content-body {
  width: 100%;
}

.why .content-body .list-of-facilities .slick-prev:before {
  content: url('../images/left arrow big.svg');
  position: relative;
  /*right: 40px;*/
}

.why .content-body .list-of-facilities .slick-next {
  right: -45px;
}

.why .content-body .list-of-facilities .slick-prev {
  left: -45px;
}

.why .content-body .list-of-facilities .slick-next:before {
  content: url('../images/right arrow big.svg');
  position: relative;
  /*left: 40px;*/
}

.why .content-body .list-of-facilities .sub-list .slick-next {
  right: 25px;
  top: 80%;
}

.why .content-body .list-of-facilities .sub-list .slick-prev {
  left: 25px;
  top: 80%;
  z-index: 4;
}

.why .content-body .sub-list .slick-next:before {
  content: url('../images/right-mini.svg');
  position: relative;
}

.why .content-body .sub-list .slick-prev:before {
  content: url('../images/left-mini.svg');
  position: relative;
}

.why .content-body .list-of-facilities .item {
  box-shadow: 0 20px 22px rgba(0, 0, 0, 0.07);
  float: left;
}

.why .content-body .list-of-facilities .slick-slide {
  margin: 20px 20px 50px;
  opacity: 0.5;
  /*height: auto !important;*/
}

.why .content-body .list-of-facilities .sub-list .sub-item.slick-slide {
  margin: 0;
  opacity: 1;
  /*height: auto !important;*/
}

.why .content-body .list-of-facilities .slick-center {
  opacity: 1;
}

.why .content-body .list-of-facilities img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.why .content-body .list-of-facilities .container-desc {
  height: 200px;
}

.why .content-body .list-of-facilities .category {
  text-align: center;
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  padding: 45px 0 0 0;
}

.why .content-body .list-of-facilities .category a {
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.why .content-body .list-of-facilities .name p {
  padding: 10px 20px 0;
  text-align: center;
}

.why .content-body .list-of-facilities .name {
  padding: 20px 70px 15px 70px;
  min-height: 70px;
  max-height: 70px;
  text-align: center;
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.why .content-body .list-of-facilities .name a {
  text-decoration: none;
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.why .content-body .list-of-facilities .link {
  text-align: center;
  position: relative;
  bottom: -15px;
}

.why .content-body .list-of-facilities .link a {
  color: rgb(174, 208, 0);
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
}

.why .content-body .list-of-facilities .slick-dots {
  bottom: 1px;
}

.about-content {
  background-color: rgb(236, 242, 227);
  float: left;
  padding: 100px 0;
  width: 100%;
  position: relative;
}

.about-content img.first {
  width: 65%;
  float: left;
}

.about-content .container-text-first::before {
  content: url('../images/quote.svg');
  position: absolute;
  right: -15px;
  top: -10px;
}

.about-content .container-text-first {
  width: 30%;
  background-color: rgb(250, 250, 250);
  position: absolute;
  padding: 60px;
  top: 48%;
  left: 57%;
}

.about-content .container-text-first p {
  font-size: 20px;
  font-style: italic;
  color: rgb(174, 208, 0);
}

.about-content img.second {
  width: 530px;
  height: 600px;
  position: relative;
  z-index: 1;
  float: right;
  object-fit: cover;
}

.about-content .container-text-second {
  width: 55%;
  background-color: rgb(250, 250, 250);
  position: absolute;
  padding: 90px 50px 90px 90px;
  top: 25%;
  left: 10%;
}

.about-content .container-text-second p {
  font-size: 14px;
  width: 70%;
  color: #777777;
  font-weight: 300;
  font-style: normal;
}

.paragraph {
  float: left;
  width: 100%;
  background-color: white;
  padding: 100px 0;
}

.paragraph p {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #777777;
  max-width: 900px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.so-content {
  background-color: rgb(236, 242, 227);
  float: left;
  padding: 150px 0;
  width: 100%;
  position: relative;
}

.so-content .container-filter {
  width: 100%;
}

.so-content .container-filter .text {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #777777;
  letter-spacing: 5px;
}

.so-content .container-filter .line {
  text-align: center;
  margin: 30px auto 30px;
}

.so-content .container-filter .filter {
  text-align: center;
  padding-bottom: 30px;
}

.so-content .container-filter .filter ul li {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #777777;
  cursor: pointer;
}

.so-content .container-filter .filter ul li.active {
  border-bottom: 1px solid rgb(174, 208, 0);
}

.so-content .container-text-image {
  position: relative;
  padding-bottom: 10%;
}

.so-content .container-image {
  float: left;
  width: 50%;
  height: 500px;
}

.so-content img.content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.so-content .container-text {
  width: 50%;
  background-color: rgb(250, 250, 250);
  padding: 50px 50px 50px;
  height: 500px;
  float: left;
}

.so-content .container-text .hotel {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #aed000;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.so-content .container-text .title {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  color: #777777;
  padding-bottom: 20px;
}

.so-content .container-text .promocode strong {
  font-weight: 400;
}

.so-content .container-text .promocode {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: #777777;
  padding-bottom: 5px;
}

.so-content .container-text .price {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #777777;
  padding-bottom: 20px;
}

.so-content .container-text .description {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #777777;
  padding-bottom: 20px;
}

.so-content .container-text .btn-book .button {
  background-color: rgb(174, 208, 0);
  font-weight: 400;
  color: rgb(255, 255, 255);
  height: 30px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  width: 110px;
}

.info-footer-second .social-media-footer {
  text-align: center;
  margin: 20px auto;
}

.info-footer-second .social-media-footer .icon {
  margin-right: 10px;
}

.info-footer-second .social-media-footer .facebook {
  background-image: url('../images/facebook.svg');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}

.info-footer-second .social-media-footer .facebook a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-style: normal;
}

.info-footer-second .social-media-footer .instagrams {
  background-image: url('../images/instagram.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px;
}

.info-footer-second .social-media-footer .instagrams a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-style: normal;
}

.info-footer-second .social-media-footer .email {
  background-image: url('../images/envelope bold.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px;
}

.info-footer-second .social-media-footer .email a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-style: normal;
}

.info-footer-second .social-media-footer .career {
  background-image: url('../images/man career.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px;
}

.info-footer-second .social-media-footer .career a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-style: normal;
}

.info-footer .social-media-footer {
  text-align: center;
  margin: 20px auto;
}

.info-footer .social-media-footer .icon {
  margin-right: 10px;
}

.info-footer .social-media-footer .facebook {
  background-image: url('../images/facebook.svg');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}

.info-footer .social-media-footer .facebook a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-style: normal;
}

.info-footer .social-media-footer .instagrams {
  background-image: url('../images/instagram.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px;
}

.info-footer .social-media-footer .instagrams a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-style: normal;
}

.info-footer .social-media-footer .email {
  background-image: url('../images/envelope bold.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px;
}

.info-footer .social-media-footer .email a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-style: normal;
}

.info-footer .social-media-footer .career {
  background-image: url('../images/man career.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px;
}

.info-footer .social-media-footer .career a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-style: normal;
}


/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * GALLERY
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.gallery {
  float: left;
  width: 100%;
  margin-top: 80px;
  padding-top: 100px;
  background-color: #eaf0e1;
}

.gallery .content-text .title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  color: #777777;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.gallery .content-text .desc {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #777777;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.gallery .content-text .line {
  text-align: center;
  margin: 30px 0 50px;
}

.gallery .container-filter {
  width: 100%;
}

.gallery .container-filter .filter {
  text-align: center;
  padding-bottom: 30px;
}

.gallery .container-filter .filter ul li {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #777777;
  cursor: pointer;
  margin-top: 25px;
}

.gallery .container-filter .filter ul li.active {
  border-bottom: 1px solid rgb(174, 208, 0);
}

.gallery .data-gallery {
  width: 100%;
  height: auto;
}

.gallery .data-gallery .item {
  padding: 5px;
  width: 25%;
  float: left;
}

.gallery .data-gallery .item img {
  height: 187px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1680px) {
  .container-nav-side {
    width: 25%;
  }
  .wrapper-navbar .nav-fluid {
    width: 60%;
  }
  .wrapper-navbar .nav-fluid ul li {
    padding: 30px 50px 15px 0;
  }
  .about-content img.first {
    width: 65%;
  }
  .about-content .container-text-first {
    width: 35%;
    top: 40%;
  }
  .nav-side .btn-book .button {
    padding: 9px;
    width: 170px;
  }
}

@media (max-width: 1440px) {
  .container-nav-side {
    width: 24%;
  }
  .wrapper-navbar .nav-fluid {
    width: 61%;
  }
  .wrapper-navbar .nav-fluid ul li {
    padding: 32px 35px 15px 0;
  }
  .nav-side .btn-book .button {
    padding: 8px;
    width: 150px;
  }
  .instagram .container .insta-photo {
    width: 80%;
  }
  .about-content img.first {
    width: 65%;
    float: left;
  }
  .about-content .container-text-first {
    left: 55%;
    width: 35%;
    top: 40%;
  }
  .why .content-body .list-of-facilities .name {
    padding: 0 15px 0;
  }
}

@media (max-width: 1425px) {
  .container-nav-side {
    width: 25%;
  }
  .wrapper-navbar .nav-fluid {
    width: 60%;
  }
  .wrapper-navbar .nav-fluid ul li {
    padding: 32px 40px 15px 0;
  }
}

@media (max-width: 1355px) {
  .container-nav-side {
    width: 26%;
  }
  .wrapper-navbar .nav-fluid {
    width: 59%;
  }
  .wrapper-navbar .nav-fluid ul li {
    padding: 32px 30px 15px 0;
  }
  .about-content img.first {
    width: 70%;
  }
  .about-content .container-text-first {
    top: 30%;
  }
}

@media (max-width: 1200px) {
  .nav-side .select-btn {
    padding: 0 15px;
  }
  .nav-side .btn-book {
    padding: 0 15px;
  }
  .why .content-body .list-of-facilities .slick-slide {
    opacity: 1;
    /*height: auto !important;*/
  }
  .about-content .container-text-first {
    background-image: url('../images/quote.svg');
    background-repeat: no-repeat;
    background-position: top 5px right 5px;
  }
  .about-content .container-text-first::before {
    content: "";
  }
  .container-header .container-slider .content-slide .item .content-body, .container-header .container-slider .content-slide .item .title, .container-header .container-slider .content-slide .item .category, .container-header .container-slider .content-slide .item .line {
    width: 75%;
  }
  .container-header .container-slider .content-slide .item .title a {
    font-size: 24px;
  }
  .so-content .container-image {
    width: 100%;
    height: 400px;
  }
  .so-content .container-text {
    width: 100%;
  }
  .maps .google-maps .template-maps {
    height: 500px;
    width: 100%
  }
  .maps .google-maps .label-description {
    height: 400px;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper-navbar .nav-fluid {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: rgb(222, 222, 222);
    opacity: 0.98;
    transition: 0.5s ease;
    padding-right: 0;
    overflow: hidden;
  }
  .wrapper-navbar .nav-fluid ul {
    float: none;
  }
  .wrapper-navbar .nav-fluid ul li {
    width: 100%;
    text-align: center;
  }
  .wrapper-navbar .nav-fluid ul li a {
    padding: 20px 0;
  }
  .wrapper-navbar .nav-fluid a.closes-second {
    display: block;
  }
  .wrapper-navbar .icons {
    float: right;
    padding-top: 25px;
  }
  .wrapper-navbar .icons .open-btn-second {
    display: block;
    margin: 0 30px 0 0;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
  }
  .wrapper-navbar .icons .open-btn-second .bar-icon {
    background-color: #777777;
    width: 30px;
    height: 2px;
    margin-top: 7px;
  }
  .container-header .navigation ul li a {
    font-size: 14px;
  }
  .about-content .container-image-first {
    width: 100%;
    float: left;
    height: 300px;
  }
  .about-content img.first {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-content .container-text-first {
    position: inherit;
    width: 100%;
    float: left;
    background-position: right 10px top 10px;
    background-size: 45px 30px;
  }
  .about-content .container-text-first p {
    font-size: 18px;
  }
  .about-content .container-image-second {
    width: 100%;
    float: left;
    height: 300px;
  }
  .about-content img.second {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-content .container-text-second {
    position: inherit;
    width: 100%;
    float: left;
    background-position: right 10px top 10px;
    background-size: 45px 30px;
    padding: 50px;
  }
  .about-content .container-text-second p {
    width: 100%;
  }
  .grandmas .container-text {
    padding: 70px 70px;
  }
  .grandmas .container-text .title a {
    font-size: 26px;
  }
  .instagram .container .insta-photo {
    width: 100%;
  }
  .info {
    padding: 75px 20px 100px;
  }
  .why .content-body .list-of-facilities .slick-dots {
    bottom: 0px;
  }
  .one-content .list-spa {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  #book_now .modal-dialog {
    width: 70%;
  }
  .wrapper-navbar .nav-fluid {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: rgb(222, 222, 222);
    opacity: 0.98;
    transition: 0.5s ease;
    padding-right: 0;
    overflow: hidden;
  }
  .wrapper-navbar .nav-fluid ul {
    float: none;
  }
  .wrapper-navbar .nav-fluid ul li {
    width: 100%;
    text-align: center;
  }
  .wrapper-navbar .nav-fluid ul li a {
    padding: 20px 0;
  }
  .wrapper-navbar .nav-fluid a.closes-second {
    display: block;
  }
  .wrapper-navbar .icons {
    float: right;
    padding-top: 25px;
  }
  .wrapper-navbar .icons .open-btn-second {
    display: block;
    margin: 0 30px 0 0;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
  }
  .wrapper-navbar .icons .open-btn-second .bar-icon {
    background-color: #777777;
    width: 30px;
    height: 2px;
    margin-top: 7px;
  }
  .container-header .navigation {
    width: 85%;
  }
  .container-header .navigation ul li a {
    font-size: 14px;
  }
  .grandmas .container-image {
    height: 400px;
  }
  .grandmas .container-text {
    padding: 30px;
    height: 400px;
  }
  .grandmas .container-text .title a {
    font-size: 20px;
  }
  .grandmas .container-text .description {
    font-size: 14px;
  }
  .grandmas .container-text .link {
    font-size: 14px;
  }
  .why {
    padding: 100px 0;
  }
  .why .content-body .list-of-facilities .category {
    padding: 35px 0 0 0;
  }
  .why .content-body .list-of-facilities .name {
    padding: 20px 40px 15px;
  }
  .why .content-body .list-of-facilities .slick-next:before {
    left: 0;
  }
  .why .content-body .list-of-facilities .slick-prev:before {
    right: 0;
  }
  .why .content-body .list-of-facilities .slick-dots {
    bottom: 5px;
  }
  .one-content .container-fluid .image-content {
    height: 510px;
  }
  .one-content .container-fluid .text-content {
    height: 510px;
    padding: 30px 50px;
  }
  .one-content .container .image-content {
    height: 510px;
  }
  .one-content .container .text-content {
    height: 510px;
    padding: 30px 50px;
  }
  .about-content .container-image-first {
    width: 100%;
    float: left;
    height: 300px;
  }
  .about-content img.first {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-content .container-text-first {
    position: inherit;
    width: 100%;
    float: left;
    background-position: right 10px top 10px;
    background-size: 45px 30px;
  }
  .about-content .container-text-first p {
    font-size: 18px;
  }
  .about-content .container-image-second {
    width: 100%;
    float: left;
    height: 300px;
  }
  .about-content img.second {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-content .container-text-second {
    position: inherit;
    width: 100%;
    float: left;
    background-position: right 10px top 10px;
    background-size: 45px 30px;
    padding: 50px;
  }
  .about-content .container-text-second p {
    /*font-size: 18px;*/
    width: 100%;
  }
  .gallery .data-gallery .item {
    width: 33.33%;
  }
  .maps .google-maps .template-maps {
    height: 450px;
  }
  .maps .google-maps .label-description {
    height: 400px;
  }
  .maps .google-maps .label-description .text {
    width: 100%;
    padding-bottom: 15px;
  }
  .maps .google-maps .label-description .symbol {
    width: 100%;
  }
  .maps .container .btn-book .button {
    width: 400px;
  }
  .book-now .container .btn-book .button {
    width: 400px;
  }
  .instagram .container .line {
    margin-bottom: 55px;
  }
  .instagram .container .insta-photo {
    width: 100%;
  }
  .instagram .container .insta-photo ul li:nth-last-of-type(-n+2) {
    display: none;
  }
  .instagram .container .insta-photo ul li {
    width: 24%;
    margin: 2px;
  }
  .info-footer {
    padding: 75px 20px 75px;
  }
  .info-footer .container .seminyak, .info-footer .container .legian, .info-footer .container .airport {
    width: 33.33%;
    margin-bottom: 30px;
  }
  .info-footer .container .address {
    width: 100%;
  }
  .gallery .container-filter .filter ul li {
    margin-top: 15px;
  }
  .info-footer .container .title-email {
    padding-top: 0px;
  }
  .one-content .list-spa .detail-spa .limit-spa {
    display: inline-block;
    padding: 10px 0 5px;
  }
  .container-header .container-slider .content-slide .item {
    height: 220px;
  }
  .container-header .container-slider .content-slide .item .title {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .info-footer .container .title-email {
    padding-top: 0px;
  }
  #career .modal-dialog {
    width: 80%;
  }
  #book_now .modal-dialog select.destinations {
    width: 90%;
  }
  #book_now .modal-dialog {
    width: 90%;
    margin: 35px auto;
  }
  #book_now .modal-dialog .container-form {
    width: 100%;
  }
  #book_now .modal-dialog .container-form-footer .button {
    font-size: 14px;
    padding: 10px 30px;
  }
  .wrapper-navbar .nav-fluid {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: rgb(222, 222, 222);
    opacity: 0.98;
    transition: 0.5s ease;
    padding-right: 0;
    overflow: hidden;
  }
  .wrapper-navbar .nav-fluid ul {
    float: none;
  }
  .wrapper-navbar .nav-fluid ul li {
    width: 100%;
    text-align: center;
  }
  .wrapper-navbar .nav-fluid ul li a {
    padding: 20px 0;
  }
  .wrapper-navbar .nav-fluid a.closes-second {
    display: block;
  }
  .wrapper-navbar .icons {
    float: right;
    padding-top: 25px;
  }
  .wrapper-navbar .icons .open-btn-second {
    display: block;
    margin: 0 40px 0 0;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
  }
  .wrapper-navbar .icons .open-btn-second .bar-icon {
    background-color: #777777;
    width: 30px;
    height: 2px;
    margin-top: 7px;
  }
  .nav-side .btn-book {
    display: none;
  }
  .nav-side .element {
    display: none;
  }
  .labels-second {
    display: block;
    z-index: 2;
  }
  .container-header .container-slider {
    bottom: 110px;
  }
  .container-header .btn-scroll {
    bottom: 40px;
  }
  .container-header .container-slider .content-slide .item {
    padding: 0;
    width: 80%;
    min-height: 210px;
  }
  .container-header .navigation ul li {
    width: 33.33%;
  }
  .container-header .navigation ul li:nth-last-of-type(-n+2) {
    display: none;
  }
  .container-header .navigation ul li a {
    font-size: 14px;
  }
  .labels {
    display: block;
    z-index: 4;
  }
  .labels ul li a {
    font-size: 14px;
  }
  .grandmas .container-text {
    width: 100%;
    padding: 50px 50px;
    height: 400px;
  }
  .grandmas .container-text .description {
    font-size: 14px;
  }
  .grandmas .container-text .link {
    font-size: 14px;
  }
  .grandmas .container-image {
    width: 100%;
    height: 250px;
  }
  .grandmas .container-image.desktop {
    display: none;
  }
  .grandmas .container-image.mobile {
    display: block;
  }
  .one-content {
    padding: 0;
  }
  .one-content .container-fluid {
    width: 100%;
  }
  .one-content .container-fluid .image-content {
    width: 100%;
    height: 250px;
  }
  .one-content .container-fluid .text-content {
    width: 100%;
    height: 400px;
  }
  .one-content .container-fluid .image-content.mobile {
    display: block;
  }
  .one-content .container-fluid .image-content.desktop {
    display: none;
  }
  /*Add*/
  .one-content .container {
    width: 100%;
  }
  .one-content .container .title {
    font-size: 20px;
  }
  .one-content .container .description {
    width: 80%;
  }
  .one-content .container .image-content {
    width: 100%;
    height: 250px;
  }
  .one-content .container .text-content {
    width: 100%;
    height: 400px;
  }
  .one-content .container .image-content.mobile {
    display: block;
  }
  .one-content .container .image-content.desktop {
    display: none;
  }
  .one-content .container .long-description {
    text-align: justify;
  }
  .one-content .list-spa {
    width: 85%;
  }
  .one-content .list-spa .detail-spa .limit-spa {
    display: inline-block;
    padding: 10px 0 5px;
  }
  .one-content .information-spa .noted {
    width: 80%;
    margin: auto;
  }
  .one-content .information-spa .title-spa-buttom {
    width: 80%;
  }
  .one-content .information-spa .address {
    width: 80%;
    margin: auto;
  }
  .why {
    padding: 100px 0px;
  }
  .why .content-body .list-of-facilities .slick-next:before {
    left: 0;
  }
  .why .content-body .list-of-facilities .slick-prev:before {
    right: 0;
  }
  .why .content-body .list-of-facilities .slick-dots {
    bottom: 5px;
  }
  .why .content-body .list-of-facilities .category {
    padding: 20px 0 0 0;
  }
  .why .content-body .list-of-facilities .name {
    padding: 20px 40px 15px;
  }
  .why .content-body .list-of-facilities .link {
    bottom: -30px;
  }
  .why .container-why .title {
    padding: 0 20px 0;
    font-size: 20px;
  }
  .why .container-why .subtitle {
    padding: 0 20px 0;
    font-size: 16px;
  }
  .about-content .container-image-first {
    width: 100%;
    float: left;
    height: 300px;
  }
  .about-content img.first {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-content .container-text-first {
    position: inherit;
    width: 100%;
    float: left;
    background-position: right 10px top 10px;
    background-size: 45px 30px;
  }
  .about-content .container-text-first p {
    font-size: 16px;
  }
  .about-content .container-image-second {
    width: 100%;
    float: left;
    height: 300px;
  }
  .about-content img.second {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-content .container-text-second {
    position: inherit;
    width: 100%;
    float: left;
    background-position: right 10px top 10px;
    background-size: 45px 30px;
    padding: 50px;
  }
  .about-content .container-text-second p {
    /*font-size: 16px;*/
    width: 100%;
  }
  .paragraph p {
    /*font-size: 16px;*/
    padding: 0 30px;
  }
  .so-content {
    padding: 50px 0;
  }
  .so-content .container-filter .text {
    font-size: 20px;
  }
  .so-content .container-filter .line {
    margin: 20px auto 0;
  }
  .so-content .container-image {
    position: relative;
    width: 100%;
    height: 250px;
  }
  .so-content img.content {
    height: 100%;
    width: 100%;
  }
  .so-content .container-text {
    margin: 0;
    width: 100%;
    padding: 50px;
  }
  .gallery .data-gallery .item {
    width: 50%;
  }
  .maps {
    padding: 100px 0 100px;
  }
  .maps .container {
    padding: 0;
  }
  .maps .container .title {
    padding: 0 20px 0;
    font-size: 25px;
  }
  .maps .container .subtitle {
    padding: 0 20px 0;
    font-size: 16px;
  }
  .maps .container .short-description {
    padding: 0 20px 0;
  }
  .maps .container .btn-book .button {
    width: 350px;
  }
  .book-now .container .btn-book .button {
    width: 350px;
  }
  .maps .google-maps {
    width: 100%;
  }
  .maps .google-maps .label-description .text {
    width: 100%;
    padding-bottom: 15px;
  }
  .maps .google-maps .label-description .symbol {
    width: 100%;
    padding: 0 20px 0;
  }
  .maps .google-maps .label-description .symbol .icon {
    font-size: 14px;
  }
  .instagram .container .title {
    font-size: 25px;
  }
  .instagram .container .subtitle {
    font-size: 14px;
  }
  .instagram .container .line {
    margin-bottom: 30px;
  }
  .instagram .container .insta-photo {
    width: 100%;
  }
  .instagram .container .insta-photo ul li:nth-last-of-type(-n+4) {
    display: none;
  }
  .instagram .container .insta-photo ul li {
    width: 30%;
  }
  .info-footer {
    padding: 75px 20px 50px;
  }
  .info-footer .container .seminyak, .info-footer .container .legian, .info-footer .container .airport {
    width: 100%;
    margin-bottom: 30px;
  }
  .info-footer .container .title {
    text-align: center;
  }
  .info-footer .container .body {
    text-align: center;
  }
  .info-footer .container .address {
    width: 100%;
  }
  .container-header .container-slider .content-slide .item .content-body, .container-header .container-slider .content-slide .item .title, .container-header .container-slider .content-slide .item .category, .container-header .container-slider .content-slide .item .line {
    width: 100%;
  }
}

@media (max-width:480px) {
  #career .modal-dialog {
    width: 95%;
  }
  #career .modal-dialog .modal-body .modal-title {
    font-size: 24px;
  }
  #career .modal-dialog .modal-body .desc {
    width: 100%;
    padding: 0;
  }
  #career .modal-dialog .modal-footer .list {
    width: 100%;
  }
  #book_now .modal-dialog .container-form-footer {
    width: 100%;
  }
  #book_now .modal-dialog .container-form-footer .button {
    font-size: 14px;
    padding: 10px 30px;
    float: left;
    margin-top: 10px;
  }
  .additional-wrapper {
    margin-top: 0;
  }
  .bg-home {
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: url('../images/slide-bg1.jpg');
  }
  .bg-dining {
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: url('../images/miura-food.jpg');
  }
  .bg-infants {
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: url('../images/cozy-double-room--v6687274-1600-clear.jpg');
  }
  .bg-activities {
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: url('../images/IMG_0050.jpg');
  }
  .bg-spa {
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: url('../images/spapromo-bg.jpg');
  }
  .bg-offers {
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: url('../images/Dinner.jpg');
  }
  .wrapper-navbar .brand img {
    width: 100px;
    margin-left: 20px;
  }
  .wrapper-navbar .icons .open-btn-second {
    margin-right: 20px;
  }
  .nav-side .select-btn select {
    font-size: 14px;
  }
  .one-content .container-fluid .text-content {
    padding: 30px 30px;
  }
  .one-content .container-fluid .text-content .title {
    font-size: 25px;
  }
  .one-content .container-fluid .text-content .description {
    font-size: 14px;
  }
  /*add*/
  .one-content .container .description {
    width: 80%;
  }
  .one-content .container .text-content {
    padding: 30px 30px;
  }
  .one-content .container .text-content .title {
    font-size: 25px;
  }
  .one-content .container .text-content .description {
    font-size: 14px;
  }
  .one-content .list-spa .detail-spa .limit-spa {
    width: 100%;
  }
  .one-content .list-spa .detail-spa img {
    padding-right: 5px;
    float: left;
  }
  .one-content .list-spa .detail-spa .text-clock {
    float: left;
    font-size: 12px;
    /*padding-top: 5px;*/
  }
  .one-content .list-spa .detail-spa .text-price {
    float: left;
    font-size: 12px;
    /*padding-top: 5px;*/
  }
  .one-content .list-spa .description-spa {
    text-align: justify;
  }
  .wrapper-header {
    height: 60%;
    background-attachment: scroll;
  }
  .container-header {
    background: transparent;
  }
  .container-header .container-slider {
    display: none;
  }
  .container-header .btn-scroll {
    display: none;
  }
  .container-header .navigation {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: rgb(222, 222, 222);
    opacity: 0.98;
    transition: 0.5s ease;
    padding-right: 0;
    overflow: hidden;
  }
  .container-header .navigation ul li {
    width: 100%;
  }
  .container-header .navigation ul li a {
    padding: 20px 0;
  }
  .container-header .navigation a.closes {
    display: block;
    float: none;
    height: 10%;
  }
  .container-header .navigation a.closes img {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    padding: 10px;
    opacity: 0.5;
  }
  .container-header .icons {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container-header .icons img.logo {
    margin: 0;
    padding-left: 30px;
    float: left;
  }
  .container-header .icons .open-btn {
    display: block;
    margin: 0 30px 0 0;
    float: right;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  .container-header .icons .open-btn .bar-icon {
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 4px;
    margin-top: 5px;
  }
  .container-header .reservation-spa {
    bottom: 45%;
  }
  .slider-mobile {
    padding: 70px 30px;
    display: block;
  }
  .container-slider-mobile .slick-next {
    left: 50%;
    bottom: -5px !important;
    top: inherit;
  }
  .container-slider-mobile .slick-prev {
    left: 40%;
    bottom: -5px !important;
    top: inherit;
    z-index: 2;
  }
  .container-slider-mobile .slick-prev:before {
    content: url('../images/left arrow-grey.svg');
  }
  .container-slider-mobile .slick-next:before {
    content: url('../images/right arrow-grey.svg');
  }
  .container-slider-mobile .content-slide-mobile .item .category {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: #777777;
  }
  .container-slider-mobile .content-slide-mobile .item .title {
    font-size: 25px;
    color: #777777;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
  }
  .container-slider-mobile .content-slide-mobile .item .line {
    font-size: 25px;
  }
  .container-slider-mobile .content-slide-mobile .item .content-body {
    padding-bottom: 40px;
    font-size: 14px;
  }
  .container-slider-mobile .content-slide-mobile .item .btn-detail .button {
    background-color: rgb(174, 208, 0);
    font-weight: 400;
    color: rgb(255, 255, 255);
    height: 30px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    width: 110px;
  }
  .grandmas .container-text {
    padding: 70px 30px;
    height: 470px;
  }
  .label-info .title {
    padding: 0 15px;
  }
  .label-info .address {
    padding: 0 15px;
    font-size: 14px;
  }
  .so-content .container-text {
    padding: 40px;
  }
  /*.so-content .container-text .hotel {
    font-size: 20px;
  }*/
  .so-content .container-text .title {
    font-size: 25px;
  }
  .so-content .container-text .promocode {
    font-size: 14px;
  }
  .so-content .container-text .price {
    font-size: 14px;
  }
  .so-content .container-text .description {
    font-size: 14px;
  }
  .so-content .container-text .details {
    font-size: 14px;
  }
  .maps .google-maps .label-description .symbol .icon {
    width: 50%;
    text-align: left;
    padding-top: 5px;
  }
  .maps .google-maps .label-description .symbol .icon p {
    display: inline-block;
    padding-left: 10px;
  }
  /*.maps .google-maps .label-description .symbol .icon:nth-last-child(-n+2) {
    width: 30%;
  }*/
  .maps .container .btn-book .button {
    width: 250px;
  }
  .book-now .container .btn-book .button {
    width: 250px;
  }
  .instagram .container .insta-photo ul li {
    width: 47%;
    margin: 2px 2px 0;
  }
  .info-footer {
    padding: 50px 20px 50px;
  }
  .info-footer .container .title {
    text-align: center;
  }
  .info-footer .container .body {
    text-align: center;
  }
  .info-footer .container .body ul li {
    text-align: center;
  }
  .info-footer .container .desc {
    text-align: center;
  }
  .info-footer .container .social-media {
    text-align: center;
  }
  .info-footer-second .container .one-information .title-email {
    font-size: 14px;
  }
  .info-footer-second .container .one-information .form-email input.data-email {
    width: 70%;
  }
  .info-footer-second .container .one-information .form-email input.signup {
    width: 30%;
  }
  .info-footer-second .social-media-footer .list-inline {
    margin: 0;
  }
  .info-footer-second .social-media-footer li.icon {
    width: 50%;
    text-align: left;
    padding-left: 25px;
    float: left;
    padding: 10px;
    margin-right: 0;
  }
  .info-footer-second .social-media-footer li.icon a {
    padding-left: 20px;
  }
  .info-footer .container .title-email {
    font-size: 14px;
  }
  .info-footer .container .form-email input.data-email {
    width: 70%;
  }
  .info-footer .container .form-email input.signup {
    width: 30%;
  }
  .info-footer .social-media-footer .list-inline {
    margin: 0;
  }
  .info-footer .social-media-footer li.icon {
    width: 50%;
    text-align: left;
    padding-left: 25px;
    float: left;
    padding: 10px;
    margin-right: 0;
  }
  .info-footer .social-media-footer li.icon a {
    padding-left: 20px;
  }
  .grand-container-second {
    display: none;
  }
  .grand-container {
    display: none;
  }
  .grand-container-mobile {
    display: block;
  }
  .about-content .container-text-first {
    background-image: none;
  }
  .gallery .data-gallery .item img {
    height: 140px;
  }
  .title-partner {
    font-size: 12px;
  }
  .discount-partner {
    font-size: 12px;
  }
}

@media (max-width:320px) {
  #book_now .modal-dialog .container-form, #book_now .modal-dialog .container-form-top {
    padding-left: 0px;
  }
  #book_now .modal-dialog h4.title-book {
    padding-left: 0px;
  }
  #book_now .modal-dialog select.destinations {
    padding: 1px 40px 0px 10px;
    width: 100%;
  }
  #book_now .modal-dialog .container-form input.date-picker {
    width: 100%;
  }
  #book_now .modal-dialog .container-form .sub-container-form select.adults, #book_now .modal-dialog .container-form .sub-container-form select.child, #book_now .modal-dialog .container-form .sub-container-form select.infants {
    width: 100%;
  }
  #book_now .modal-dialog .container-form .sub-container-form select.child {
    border-left: 0px;
  }
  #book_now .modal-dialog .container-form .sub-container-form input.promo-code {
    width: 100%;
    border-left: 0px;
  }
  .wrapper-navbar .icons .open-btn-second .bar-icon {
    width: 25px;
  }
  .nav-side .select-btn select {
    font-size: 12px;
  }
  .container-slider-mobile .slick-prev {
    left: 50%;
  }
  .container-slider-mobile .slick-next {
    left: 60%;
  }
  .maps .google-maps .label-description .symbol .icon {
    font-size: 12px;
  }
  .maps .container .btn-book .button {
    font-size: 20px;
    width: 200px;
  }
  .book-now .container .btn-book .button {
    font-size: 20px;
    width: 200px;
  }
  .why {
    padding: 80px 0;
  }
  .about-content .container-text-first, .about-content .container-text-second {
    padding: 30px;
  }
  .so-content .container-text {
    padding: 20px;
  }
  .instagram .container {
    padding: 0;
  }
  .instagram .container .insta-photo ul li:nth-last-of-type(-n+7) {
    display: none;
  }
  .instagram .container .insta-photo ul li {
    width: 100%;
    margin: 2px 2px 0;
  }
  .info-footer .container {
    padding: 0;
  }
  .gallery .data-gallery .item {
    width: 100%;
  }
  .gallery .data-gallery .item img {
    height: 130px;
  }
  .one-content .list-spa .detail-spa .text-clock {
    font-size: 11px;
    padding-top: 4px;
  }
  .one-content .list-spa .detail-spa .text-price {
    font-size: 11px;
    padding-top: 5px;
  }
}
