<!-- BEGIN mainArticle -->

<div class="container">
    <div class="blog">
    
    	{description}
        
        <div class="blog-item {blog_class}">
        	<div class="border"></div>
        	<div class="blog-item-list clearfix">        		
	            <!-- BEGIN loopArticle -->
	            <div class="item">
	                <a href="#{popupid}" title="{title}">
	                    <div class="inner bg-img">
	                        <div class="i-overlay"></div>
	                        <img src="{full_path}" />
	                    </div>
	                </a>
	            </div>
	            
	            <div id="{popupid}" class="blog-popup">
	            	<a class="close"><img src="{theme_img}/close-btn.png"></a>
	            	<img src="{full_path}" class="photo"/>
	            	<div class="comment-list">
	            		{comment_list}
	            		<a target="_blank" href="{permalink}" class="link-insta">
	            			<i class="fa fa-heart"></i>
	            			<span>{likes}</span>
	            			<i class="fa fa-instagram"></i>
	            			<span>Like Or Comment On Instagram</span>
	            		</a>
	            	</div>
	            </div>	            
	            <!-- END loopArticle -->
        	</div>
        </div>
        
        <div class="loadmore">
        	<a data-link="{paging}" data-theme="{theme_url}">LOAD MORE</a>
        </div>
    </div>
</div>

<!-- END mainArticle -->



