<!-- BEGIN article  -->

<div class="container">
    <div class="blog">
    	<div class="blog-slide">
        	<div class="i-overlay"></div>            
        	<div class="blog-slide-list">
	    		{post_slide}
            	<div class="clearfix"></div>
            </div>
        	{prev_link}
            {next_link}
        </div>
        
        <div class="blog-content">
			<h1>{post_title}</h1>
            <div class="inner">
        		{post_content}
            </div>
            <div class="paging">
            	{prev_link}
                {next_link}
                <div class="clearfix"></div>
            </div>
		</div>
    </div>
</div>

<!-- END article  -->