<!-- BEGIN setting_form -->

<h1>{app_title}</h1>
<ul class="tabs">
	{tab}
</ul>

<div class="tab_container apps-setting-wrapp">

	<form method="post" action="#" enctype="multipart/form-data">
		<div class="button_wrapper clearfix">
			<div class="button_left">
				<ul class="button_navigation">
					<li>{button}</li>
				</ul>
			</div>
		</div>

		<div class="list_edit">

			{message} {gallery_setting}

			<!-- BEGIN setting_form_list -->
			<fieldset>
				<div id="sett-box-{dest_sef}" class="additional_data sett">
					<h2>{dest_name}</h2>
					<div class="additional_content">
						<div class="sett-box">
							<fieldset rel="input">
								<p>Title</p>
								<input type="text" class="textbox" name="title[{dest_id}]" value="{title}" />
							</fieldset>

							<fieldset rel="textarea">
								<p>Description</p>
								<input class="textbox" name="description[{dest_id}]" value="{description}">
							</fieldset>

							<fieldset>
								<p>Background Image</p>
								<div class="slider">
									<em>Select an image file on your computer (2MB max):</em>
									<div class="img-wrapp">{background}</div>
									<input type="file" name="image" data-id="{dest_id}" data-selector="sett-box-{dest_sef}" />
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</fieldset>
			<!-- END setting_form_list -->
			{description}


		</div>

		<div class="button_wrapper bottom clearfix">
			<div class="button_left">
				<ul class="button_navigation">
					<li>{button}</li>
				</ul>
			</div>
		</div>

		<script type="text/javascript">
			jQuery(function() {
				//-- Background Image Function
				jQuery('[name=image]').change(function() {
					if (this.files && this.files[0]) {
						var reader = new FileReader();
						var id = jQuery(this).attr('data-id');
						var sel = jQuery(this).attr('data-selector');

						reader.onload = function(e) {
							var images =
								'<div class="box">' +
								'<img src="' + e.target.result + '" />' +
								'<input type="hidden" name="bg_image[' + id + ']" value="' + e.target.result + '" />' +
								'<div class="overlay" style="display: none;">' +
								'<a data-post-id="' + id + '" data-bg-name="" class="bg-delete">' +
								'<img src="http://{site_url}/lumonata-plugins/custom-post/images/delete.png">' +
								'</a>' +
								'</div>' +
								'</div>';

							jQuery('#' + sel + ' .img-wrapp').html(images);
						}

						reader.readAsDataURL(this.files[0]);
					}
				});

				jQuery('.bg-delete').live('click', function() {
					var selector = jQuery(this).parent().parent();
					var url = '{state_url}';
					var prm = new Object;
					prm.ajax_key = 'delete-post-type-background';
					prm.app_id = jQuery(this).attr('data-post-id');
					prm.bg_name = jQuery(this).attr('data-bg-name');

					jQuery.post(url, prm, function(e) {
						if (e.result == 'success') {
							selector.fadeOut(200, function() {
								jQuery(this).remove();
							});
						}
					}, 'json');
				});

				jQuery('.img-wrapp .box').live('mouseover', function() {
					jQuery(this).find('.overlay').show();
				});
				jQuery('.img-wrapp .box').live('mouseout', function() {
					jQuery(this).find('.overlay').hide();
				});

				jQuery('[name=regenerate]').click(function(e) {
					var url = 'http://{site_url}/gallery-ajax';
					var prm = new Object;
					prm.ajax_key = 'get-gallery-images';
					prm.app_key = 'post_gallery_image';
					prm.app_name = 'gallery';

					jQuery('.generate-report ul').html('');
					jQuery.post(url, prm, function(ee) {
						if (ee.result == 'success') {
							jQuery.each(ee.data, function(i, el) {
								var prm = new Object;
								prm.ajax_key = 'regenerate-gallery-images';
								prm.attach_id = el.attach_id;

								jQuery.ajax({
									type: 'POST',
									url: url,
									data: prm,
									dataType: 'json',
									success: function(data) {
										jQuery('.generate-report ul #' + el.attach_id + ' em').text(data.result);
									},
									xhr: function() {
										var list =
											'<li id="' + el.attach_id + '" class="clearfix">' +
											'<p>' + el.attach_title + '</p>' +
											'<span class="progress"><small></small></span>' +
											'<i>0%</i>' +
											'<em></em>' +
											'</li>';

										jQuery('.generate-report ul').append(list);

										var xhr = new window.XMLHttpRequest();
										xhr.addEventListener("progress", function(evt) {
											if (evt.lengthComputable) {
												var percentComplete = Math.round(evt.loaded * 100 / evt.total);
												jQuery('.generate-report ul #' + el.attach_id + ' small').css('width', percentComplete + '%')
												jQuery('.generate-report ul #' + el.attach_id + ' i').text(percentComplete + '%');
											}
										}, false);

										return xhr;
									}
								});
							})
						}
					}, 'json');

					e.preventDefault();
				})
			});
		</script>

	</form>
</div>

<!-- END setting_form -->
