.lumonata_menu ul li.accommodation, .lumonata_menu ul li.rooms, .lumonata_menu ul li.dining, .lumonata_menu ul li.about-us, .lumonata_menu ul li.special-offers, .lumonata_menu ul li.gallery, .lumonata_menu ul li.activities, .lumonata_menu ul li.spa, .lumonata_menu ul li.featured {
  background-repeat: no-repeat;
  background-position: left center;
}

.lumonata_menu ul li.rooms {
  background-image: url(../../lumonata-plugins/custom-post/images/01.png);
}

.lumonata_menu ul li.dining {
  background-image: url(../../lumonata-plugins/custom-post/images/02.png);
}

.lumonata_menu ul li.spa {
  background-image: url(../../lumonata-plugins/custom-post/images/07.png);
}

.lumonata_menu ul li.about-us {
  background-image: url(../../lumonata-plugins/custom-post/images/04.png);
}

.lumonata_menu ul li.special-offers {
  background-image: url(../../lumonata-plugins/custom-post/images/05.png);
}

.lumonata_menu ul li.gallery {
  background-image: url(../../lumonata-plugins/custom-post/images/06.png);
}

.lumonata_menu ul li.activities {
  background-image: url(../../lumonata-plugins/custom-post/images/09.png);
}

.lumonata_menu ul li.featured {
  background-image: url(../../lumonata-plugins/custom-post/images/01.png);
}


.img-wrapp {
  margin: 20px 0;
}

.img-wrapp .box {
  padding: 10px;
  border: 1px solid #ddd;
  background: #F0F0EE;
  width: 200px;
  position: relative;
  text-align: center;
}

.img-wrapp img {
  width: auto;
  max-width: 100%;
}

.img-wrapp .overlay {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.img-wrapp .overlay a {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  margin-left: -12px;
  margin-top: -12px;
}

.img-wrapp .box:hover .overlay {
  display: block;
}

.apps-setting-wrapp .message {
  display: block;
  padding: 10px;
  margin: 0 20px 5px;
}

.apps-setting-wrapp .message p {
  margin: 0;
  line-height: 1.38;
}

.apps-setting-wrapp .error {
  background-color: #FFBABA;
  border: 1px solid #D8000C;
  color: #D8000C;
}

.apps-setting-wrapp .success {
  background-color: #DFF2BF;
  border: 1px solid #4F8A10;
  color: #4F8A10;
}

.additional_data.sett {
  margin-bottom: 0;
}

.sett-box textarea.textbox {
  height: 150px !important;
}

.sett-box .cols {
  float: left;
  margin-right: 20px;
}

.sett-box .cols .textbox {
  min-width: auto !important;
  width: 150px !important;
}

.sett-box .cols span {
  padding-left: 5px;
}

.generate-report ul {
  margin: 10px 0 0;
  padding: 0;
}

.generate-report ul li {
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 1px solid #BBB;
  list-style: none;
  width: 440px;
  position: relative;
}

.generate-report ul li p {
  margin: 0;
  float: left;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.generate-report ul li span {
  display: block;
  height: 15px;
  position: relative;
  width: 200px;
  float: left;
  margin-top: 0;
}

.generate-report ul li small {
  -webkit-transition: width ease-out .3s;
  -moz-transition: width ease-out .3s;
  -o-transition: width ease-out .3s;
  transition: width ease-out .3s;
  background: rgb(239, 69, 30);
  position: absolute;
  height: 15px;
  width: 0;
  left: 0;
  top: 0;
}

.generate-report ul li i {
  position: absolute;
  right: 10px;
}

.generate-report ul li em {
  position: absolute;
  right: -60px;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}
