html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.wrapper-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 50%;
  width: 100%;
}

.bg-book {
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -webkit-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/slide-bg1.jpg');
  /* For Firefox (3.6 to 15) */
  background-image: -moz-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/slide-bg1.jpg');
  /* For old Opera (11.1 to 12.0) */
  background-image: -o-linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/slide-bg1.jpg');
  /* Standard syntax; must be last */
  background-image: linear-gradient(450deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/slide-bg1.jpg');
}

.wrapper-header .logo {
  margin: 20px 0;
}

.wrapper-header .logo img {
  display: block;
  margin: auto;
}

.wrapper-header .chronoz form input {
  border: 1px solid rgb(119, 119, 119);
  border-radius: 0;
}

.wrapper-header .chronoz form input#utc {
  background-image: url('../img/down-mini.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.wrapper-header .chronoz form input#check_in, .wrapper-header .chronoz form input#check_out {
  background-image: url('../img/calender.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.wrapper-header .chronoz form select {
  padding: 5px 10px;
  border: 1px solid rgb(119, 119, 119);
  color: #777777;
  border-radius: 0;
  background-image: url('../img/down-mini.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: black;
}
