<!-- BEGIN setting_form -->

<h1>{app_title}</h1>
<ul class="tabs">
	{tab}
</ul>

<div class="tab_container apps-setting-wrapp">

	<form method="post" action="#" enctype="multipart/form-data">
		<div class="button_wrapper clearfix">
		    <div class="button_left">
		        <ul class="button_navigation">
		            <li>{button}</li>
		        </ul>
		    </div>
		</div>

		<div class="list_edit">

			{message}

			<!-- BEGIN setting_form_list -->
			<fieldset>
				<div id="sett-box-{dest_sef}" class="additional_data sett">
				    <h2>{dest_name}</h2>
				    <div class="additional_content">
				    	<div class="sett-box">
				            <fieldset rel="textarea">
								<p>Description</p>
				            	<textarea class="textbox" name="description[{dest_id}]">{description}</textarea>
							</fieldset>
					    </div>
				    </div>
				</div>
			</fieldset>
			<!-- END setting_form_list -->

		</div>

		<div class="button_wrapper bottom clearfix">
		    <div class="button_left">
		        <ul class="button_navigation">
		            <li>{button}</li>
		        </ul>
		    </div>
		</div>

	</form>
</div>

<!-- END setting_form -->