<!-- BEGIN settings_form -->

<link type="text/css" rel="stylesheet" href="http://{plugin_url}/style.css">
<script type="text/javascript" src="http://{plugin_url}/js/script.js"></script>

<div class="global-setting-wrapp">
  <h1>Global Setting</h1>
  <ul class="tabs" style="border-bottom:none;">{admin_tab}</ul>
  <div class="tab_container">
    <div class="single_content">
      {alert}

      <p style="padding:20px 20px 0; margin-bottom:0;">
        You can set static content for your website like contact information, social media, etc
      </p>

      <input type="hidden" name="site_url" value="{site_url}">
      <input type="hidden" name="ajax_url" value="{ajax_url}">
      <input type="hidden" name="app_name" value="global_setting">

      <form method="post" action="#" enctype="multipart/form-data">
        <fieldset>
          <h2>Corporate Office Information</h2>
          <p>Current address</p>
          <textarea class="textbox" name="address">{address}</textarea>
          <p>City</p>
          <input class="textbox" type="text" name="city" value="{city}" />
          <p>Phone number</p>
          <input class="textbox" type="text" name="phone_number" value="{phone_number}" />
          <p>Email Address</p>
          <input class="textbox" type="text" name="email_address" value="{email_address}" />
        </fieldset>


        <fieldset>
          <h2>Social Media</h2>
          <p>Facebook Link</p>
            <input class="textbox" type="text" name="facebook_account" value="{facebook_account}" />
          <p>Instagram Link</p>
          <input class="textbox" type="text" name="instagram_account" value="{instagram_account}" />
          <p>Twitter Link</p>
          <input class="textbox" type="text" name="twitter_account" value="{twitter_account}" />
        </fieldset>

        <fieldset>
          <h2>Book Now</h2>
          <p>Book Now (Desktop)</p>
            <input class="textbox" type="text" name="link_booknow_desktop" value="{link_booknow_desktop}" />
          <p>Book Now (Mobile)</p>
          <input class="textbox" type="text" name="link_booknow_mobile" value="{link_booknow_mobile}" />
        </fieldset>



        <fieldset>
          <h2>Background Slider Home Page</h2>
          <div class="fhome-image-block">
            <div class="overlay"><img src="http://{plugin_url}/images/loader.GIF" /></div>
            <div class="fhome-image-wrapp clearfix">{fhome_bg_image}</div>
            <input type="file" name="fhome_bg_image" />
            <p>Select an image file on your computer (2MB max):</p>
          </div>
          <div class="fhome-image1-block">
            <div class="overlay"><img src="http://{plugin_url}/images/loader.GIF" /></div>
            <div class="fhome-image1-wrapp clearfix">{fhome_bg_image_1}</div>
            <input type="file" name="fhome_bg_image_1" />
            <p>Select an image file on your computer (2MB max):</p>
          </div>
          <div class="fhome-image2-block">
            <div class="overlay"><img src="http://{plugin_url}/images/loader.GIF" /></div>
            <div class="fhome-image2-wrapp clearfix">{fhome_bg_image_2}</div>
            <input type="file" name="fhome_bg_image_2" />
            <p>Select an image file on your computer (2MB max):</p>
          </div>
          <div class="fhome-image3-block">
            <div class="overlay"><img src="http://{plugin_url}/images/loader.GIF" /></div>
            <div class="fhome-image3-wrapp clearfix">{fhome_bg_image_3}</div>
            <input type="file" name="fhome_bg_image_3" />
            <p>Select an image file on your computer (2MB max):</p>
          </div>
        </fieldset>

        <fieldset>
          <h2>Background Special Offers</h2>
          <div class="fhome-image-special-offers-block">
            <div class="overlay"><img src="http://{plugin_url}/images/loader.GIF" /></div>
            <div class="fhome-special-offers-image-wrapp clearfix">{fhome_bg_special_offers}</div>
            <input type="file" name="fhome_bg_special_offers" />
            <p>Select an image file on your computer (2MB max):</p>
          </div>
        </fieldset>

        <!-- <fieldset>
          <h2>First Home Page Content</h2>
          <p>Picture GrandMas Seminyak</p>
          <div class="seminyak-image-block">
            <div class="overlay"><img src="http://{plugin_url}/images/loader.GIF" /></div>
            <div class="seminyak-image-wrapp clearfix">{fhome_seminyak_image}</div>
            <input type="file" name="fhome_seminyak_image" />
            <p>Select an image file on your computer (2MB max):</p>
          </div>
          <p>Brief Text Grandmas Seminyak</p>
          <textarea class="textbox" name="fhomepage_brief_seminyak">{fhomepage_brief_seminyak}</textarea>
          <br>
          <p>Picture Grandmas Legian</p>
          <div class="legian-image-block">
            <div class="overlay"><img src="http://{plugin_url}/images/loader.GIF" /></div>
            <div class="legian-image-wrapp clearfix">{fhome_legian_image}</div>
            <input type="file" name="fhome_legian_image" />
            <p>Select an image file on your computer (2MB max):</p>
          </div>
          <p>Brief Text Grandmas Legian</p>
          <textarea class="textbox" name="fhomepage_brief_legian">{fhomepage_brief_legian}</textarea>
          <br>
          <p>Picture GrandMas Airport </p>
          <div class="airport-image-block">
            <div class="overlay"><img src="http://{plugin_url}/images/loader.GIF" /></div>
            <div class="airport-image-wrapp clearfix">{fhome_airport_image}</div>
            <input type="file" name="fhome_airport_image" />
            <p>Select an image file on your computer (2MB max):</p>
          </div>
          <p>Brief Text Grandmas Airport</p>
          <textarea class="textbox" name="fhomepage_brief_airport">{fhomepage_brief_airport}</textarea>
        </fieldset> -->

        <fieldset>
        <h2>Mail Chimp Subscribe</h2>
        <p>Api MailChimp</p>
        <textarea class="textbox" name="api_mailchimp">{api_mailchimp}</textarea>
        <p>list ID MailChimp</p>
        <input class="textbox" type="text" name="list_id_mailchimp" value="{list_id_mailchimp}"/>
      </fieldset>
        <fieldset>
          <h2>Contact Form Setting</h2>
          <p>this setting for contact form with google recaptcha<br /></p>
          <p>SMTP Port</p>
          <input class="textbox" type="text" name="smtp_email_port" value="{smtp_email_port}" />
          <p>SMTP Email address</p>
          <input class="textbox" type="text" name="smtp_email_address" value="{smtp_email_address}" />
          <p>SMTP Email password</p>
          <input class="textbox" type="password" name="smtp_email_pwd" value="{smtp_email_pwd}" />
          <p>Recaptcha Public Key</p>
          <input class="textbox" type="text" name="r_public_key" value="{r_public_key}" />
          <p>Recaptcha Secret Key</p>
          <input class="textbox" type="text" name="r_secret_key" value="{r_secret_key}" />
        </fieldset>
        <fieldset>
          <h2>Google Analytic</h2>
          <p>insert your google analytic script here<br /></p>
          <textarea class="textbox" name="g_analytic">{g_analytic}</textarea>
        </fieldset>
        <fieldset>
          <h2>Instagram Feed</h2>
          <!-- <p>Client ID</p>
          <input class="textbox" type="text" name="ig_client_id" value="{ig_client_id}" />
          <p>Client Secret</p>
          <input class="textbox" type="text" name="ig_client_secret" value="{ig_client_secret}" /> -->
          <p>Token</p>
          <input class="textbox" type="text" name="ig_token" value="{ig_token}" />
          <p><a href="http://instagram.pixelunion.net/" target="_blank">Get Token Access</a></p>
          <!-- <a style="padding:20px 0; display:block; width:100px;" href="http://{plugin_url}/ig-feeds.php">Login To Apps</a> -->
        </fieldset>

        <div class="button_wrapper clearfix">
          <ul class="button_navigation">
            <li>{save_changes_botton}</li>
          </ul>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- END settings_form -->
