.global-setting-wrapp fieldset {
  position: relative;
  padding: 20px;
}

.global-setting-wrapp fieldset i {
  margin-bottom: 5px;
  display: block;
}

.global-setting-wrapp fieldset textarea.textbox {
  height: 80px !important;
  resize: none;
}

.post-himage-block, .post-mimage-block, .seminyak-image-block, .legian-image-block, .airport-image-block, .fhome-image-block, .fhome-image1-block, .fhome-image2-block, .fhome-image3-block, .fhome-image-special-offers-block {
  position: relative;
}

.post-himage-block .overlay, .post-mimage-block .overlay, .seminyak-image-block .overlay, .legian-image-block .overlay, .airport-image-block .overlay, .fhome-image-block .overlay, .fhome-image1-block .overlay, .fhome-image2-block .overlay, .fhome-image3-block .overlay, .fhome-image-special-offers-block .overlay {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: none;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.post-himage-block .overlay img, .post-mimage-block .overlay img, .seminyak-image-block .overlay img, .legian-image-block .overlay img, .airport-image-block .overlay img, .fhome-image-block .overlay img, .fhome-image-special-offers-block .overlay img, .fhome-image1-block .overlay img, .fhome-image2-block .overlay img, .fhome-image3-block .overlay img, {
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  height: 31px;
  width: 31px;
  left: 50%;
  top: 50%;
}

.homepage-image-wrapp, .menu-image-wrapp, .seminyak-image-wrapp , .legian-image-wrapp, .airport-image-wrapp, .fhome-image-wrapp, .fhome-image1-wrapp, .fhome-image2-wrapp, .fhome-image3-wrapp, .fhome-special-offers-image-wrapp {
  margin-bottom: 20px;
  background: #F0F0EE;
  padding: 5px;
  min-height: 80px;
  height: auto;
  width: 165px;
}

.homepage-image-wrapp .box, .menu-image-wrapp .box, .seminyak-image-wrapp .box, .legian-image-wrapp .box, .airport-image-wrapp .box, .fhome-image-wrapp .box, .fhome-image1-wrapp .box, .fhome-image2-wrapp .box, .fhome-image3-wrapp .box, .fhome-special-offers-image-wrapp .box  {
  float: left;
  margin: 5px;
  padding: 2px;
  border: 1px solid #ddd;
  background: #FFFFFF;
  width: 150px;
  position: relative;
  text-align: center;
}

.homepage-image-wrapp img, .menu-image-wrapp img, .seminyak-image-wrapp img, .legian-image-wrapp img, .airport-image-wrapp img, .fhome-image-wrapp img, .fhome-image1-wrapp img, .fhome-image2-wrapp img, .fhome-image3-wrapp img, .fhome-special-offers-image-wrapp img  {
  width: auto;
  max-width: 100%;
}

.homepage-image-wrapp .ioverlay, .menu-image-wrapp .ioverlay, .seminyak-image-block .ioverlay, .legian-image-block .ioverlay, .airport-image-block .ioverlay, .fhome-image-block .ioverlay, .fhome-image1-block .ioverlay, .fhome-image2-block .ioverlay, .fhome-image3-block .ioverlay, .fhome-image-special-offers-block .ioverlay {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.homepage-image-wrapp .ioverlay a, .menu-image-wrapp .ioverlay a, .seminyak-image-wrapp .ioverlay a, .legian-image-wrapp .ioverlay a, .airport-image-wrapp .ioverlay a, .fhome-image-wrapp .ioverlay a, .fhome-image1-wrapp .ioverlay a, .fhome-image2-wrapp .ioverlay a, .fhome-image3-wrapp .ioverlay a, .fhome-special-offers-image-wrapp .ioverlay a {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  margin-left: -12px;
  margin-top: -12px;
}

.homepage-image-wrapp .box:hover .ioverlay, .menu-image-wrapp .box:hover .ioverlay, .seminyak-image-wrapp .box:hover .ioverlay, .legian-image-wrapp .box:hover .ioverlay, .airport-image-wrapp .box:hover .ioverlay, .fhome-special-offers-image-wrapp .box:hover .ioverlay  {
  display: block;
}

.fhome-image-wrapp .box:hover .ioverlay, .fhome-image1-wrapp .box:hover .ioverlay, .fhome-image2-wrapp .box:hover .ioverlay, .fhome-image3-wrapp .box:hover .ioverlay {
  display: block;
}
