<!-- BEGIN post_gallery -->

<link rel="stylesheet" type="text/css" href="http://{site_url}/lumonata-plugins/post-gallery/style.css">

<div class="additional_data">
    <h2>Gallery Image</h2>
    <div class="additional_content">
		<div class="post-gallery-block">
			<div class="overlay">
				<img src="http://{site_url}/lumonata-plugins/post-gallery/images/loader.GIF" />
			</div>
		    <p><br />Recommended Size : 700px * 450px</p>
		    <ol class="images-block clearfix"></ol>
		    <input class="manage-gallery-btn" type="file" name="file_name[]" multiple="multiple" />
		</div>
	</div>
</div>

<script>
	function refresh_header_images(){
		var url = 'http://{ajax_url}';
		var param = new Object;
			param.ajax_key = 'refresh-gallery-images';
			param.app_key  = 'post_gallery_image';
			param.app_name = '{app_name}';
			param.post_id  = jQuery('[name=post_id[0]]').val();
		
		jQuery('.post-gallery-block .overlay').css('display','block');
		jQuery.post(url,param,function(e){
			jQuery('.post-gallery-block .overlay').css('display','none');
			if(e.result=='success'){
				var id_list = [];
				jQuery.each(e.data,function(idx, el){
					var obj = 
					'<li id="i_list_'+el.attach_id+'" class="box">'+
					'	<div>'+
					'		<a class="delete-img" id="'+el.attach_id+'">X</a>'+
					'		<img src="http://{site_url}'+el.thumb_url+'" />'+
					'	</div>'+
					'</li>';

					jQuery('.images-block').append(obj);
				});
				
				jQuery('.images-block').nestedSortable({
					items: 'li',
					maxLevels :1,
					opacity: .6,
					tolerance: 'pointer',
					stop: function(eve, ui){
						var url  = 'http://{ajax_url}';
						var list = jQuery('.images-block').nestedSortable('toHierarchy', {startDepthCount: 0});
						var objc = new Array;
							jQuery.each(list,function(i,e){
								if(!jQuery.isEmptyObject(e.id)) 
									objc.push(e.id);
							});
							
						var param = new Object;
							param.ajax_key = 'reorder-gallery-images';
							param.app_key  = 'post_gallery_image';
							param.app_name = '{app_name}';
							param.post_id  = jQuery('[name=post_id[0]]').val();
							param.value    = JSON.stringify(objc);
						jQuery.post(url, param, function(el){
							console.log(el);
						},'json');
					}
				});
			}
		},'json');
	}
	
	jQuery(document).ready(function(e) {
		refresh_header_images();
		
		jQuery('.manage-gallery-btn').change(function(e){
			jQuery('.post-gallery-block .overlay').css('display','block');
			var data = new FormData();
				data.append('ajax_key', 'add-gallery-images');
				data.append('app_key', 'post_gallery_image');
				data.append('app_name', '{app_name}');
				data.append('post_id', jQuery('[name=post_id[0]]').val());
				jQuery.each(e.currentTarget.files, function(i, e){
					data.append('file_name['+i+']', e); 
				}) 
			
			var xhrObject = new XMLHttpRequest();  
			xhrObject.open('POST', 'http://{ajax_url}');  
			xhrObject.onreadystatechange = function(){
				if (xhrObject.readyState==4 && xhrObject.status==200){
					jQuery('.post-gallery-block .overlay').css('display','none');
					var id_list = [];
					var e = JSON.parse(xhrObject.responseText);
					if(e.result=='success'){
						jQuery.each(e.data, function(i,ele){
							var obj = 
							'<li id="i_list_'+ele.attach_id+'" class="box">'+
							'	<div>'+
							'		<a class="delete-img" id="'+ele.attach_id+'">X</a>'+
							'		<img src="http://{site_url}'+ele.thumb_url+'" />'+
							'	</div>'+
							'</li>';
									  
							jQuery('.images-block').append(obj);
						});

						jQuery('.delete-img').each(function(i, el) { id_list.push(jQuery(el).attr('id')); });
					}else{
						alert('Failed to save gallery image')	
					}
				}
			}
			xhrObject.send(data);		
		});
		
		jQuery('.images-block .box a').live('click',function(){
			var selector = jQuery(this).parent().parent();
			var url = 'http://{ajax_url}';
			var param = new Object;
				param.ajax_key  = 'delete-gallery-images';
				param.app_key   = 'post_gallery_image';
				param.app_name  = '{app_name}';
				param.post_id   = jQuery('[name=post_id[0]]').val();
				param.attach_id = jQuery(this).attr('id');
				
			jQuery('.post-gallery-block .overlay').css('display','block');	
			jQuery.post(url,param,function(e){
				jQuery('.post-gallery-block .overlay').css('display','none');
				if(e.result=='success'){
					selector.fadeOut(200,function(el){ 
						jQuery(el).remove();
					})		
				}
			},'json');
		});
		
		jQuery('.post-gallery-block .images-block .box').live('mouseover',function(){ jQuery(this).find('a').show(); });
		jQuery('.post-gallery-block .images-block .box').live('mouseout',function(){ jQuery(this).find('a').hide(); });
    });
</script>

<!-- END post_gallery -->