.post-gallery-block{ position:relative; padding:0 5px; }
.post-gallery-block .overlay{
	background:#FFFFFF;
	position:absolute;
	display:none;
	opacity:0.8;
	z-index:2;
	bottom:0;
	right:0;
	left:0;
	top:0;}
.post-gallery-block .overlay img{ 
	position:absolute; 
	margin-left:-15px; 
	margin-top:-15px; 
	height:31px; 
	width:31px; 
	left:50%;
	top:50%;}
.post-gallery-block .images-block{  
	border:1px solid #BBBBBB;
	background-color:#EFEFEF;
	margin-bottom:10px;
	min-height:78px;
	display:block; 
	padding:5px;}
.post-gallery-block .images-block .box{
	border:1px solid #BBBBBB;
	background:#FFFFFF; 
	position:relative;
	list-style:none;
	height:100px;
	width:100px;
	padding:2px; 
	float:left; 
	margin:5px;}
.post-gallery-block .images-block .box img{ width:100%; }
.post-gallery-block .images-block .box a{ 
	background:#000000;
	position:absolute;
	font-weight:bold;
	cursor:pointer;
	color:#FFFFFF;
	display:none;
	padding:5px; 
	right:2px;
	top:2px;}
.post-gallery-block .manage-gallery-btn{margin-bottom:20px;}

.clearfix:before, .clearfix:after{ content:""; display:table; } 
.clearfix:after{ clear:both; }