<!-- BEGIN article_block -->

<div id="aco-content" class="aco-content other">
    <section id="overview" class="{is_empty_header}">
        <div class="overview-content b-lazy" data-src="http://{background_url}/{post_type_background}" data-stellar-background-ratio="0.2">
            <div class="overlay"></div>
            <div class="desc">
                <h1>{post_type_title}</h1>                
                <a href="#detail-other-content" class="next-content"><img src="http://{themes_url}/images/arrow-down-white.svg"></a>
            </div>
        </div>
    </section>

    <section id="detail-other-content" class="aco-section">
        <h2>{post_type_title}</h2>

        <div class="article-list clearfix">
            <!-- BEGIN article_list_block -->
            <div id="{post_sef}" class="box b-lazy" data-src="{post_preview}">
            	<div class="b-overlay">
	                <h3><a href="{post_preview}" class="fancybox" rel="articles-box">{post_title}</a></h3>
	                <a href="{post_pdf_link}" target="_blank" class="view-pdf">View PDF</a>
                </div>
            </div>
            <!-- END article_list_block -->
        </div>

    </section>

</div>

<script type="text/javascript"> 
    (function(){
        var ua = navigator.userAgent,
            isMobileWebkit = /WebKit/.test(ua) && /Mobile/.test(ua);

        if (isMobileWebkit){
            jQuery('html').addClass('mobile');
        }

        jQuery(function(){
            var iScrollInstance;                
            var vtop = jQuery('.pagewrapp .header').innerHeight();

            if(isMobileWebkit){                
                jQuery.stellar({
                    horizontalScrolling: false,
                    verticalOffset:vtop
                });
            }else{
                jQuery.stellar({
                    horizontalScrolling: false,
                    verticalOffset:vtop
                });
            }
        });

    })();
</script>

<!-- END article_block -->