<!-- BEGIN post_type_page_detail_block -->

<div id="room-content" class="room-content {post_sef}">
    <div class="page-header b-lazy {is_empty_header}" data-src="{post_header}" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <h1>{post_title}</h1>
        <a href="#detail-content" class="next-content"><img src="http://{themes_url}/images/arrow-down-white.svg"></a>
    </div>

    <section id="detail-content">
        <h2>{post_title}</h2>
        <div class="desc">{post_content}</div>

        <div class="detail-wrapp {is_accommodation_app}">
            <ul>
                <li class="clearfix {empty_room_view}"><strong>View</strong><p>{room_view}</p></li>
                <li class="clearfix {empty_room_size}"><strong>Size</strong><p>{room_size}</p></li>
                <li class="clearfix {empty_room_bed}"><strong>Bed</strong><p>{room_bed}</p></li>
                <li class="clearfix {empty_room_bath}"><strong>Bathroom</strong><p>{room_bath}</p></li>
                <li class="clearfix {empty_room_occupancy}"><strong>Max Occupancy</strong><p>{room_occupancy}</p></li>
                <li class="clearfix {empty_room_amenities}"><strong>Amenities</strong><p>{room_amenities}</p></li>
            </ul>
        </div>

        <div class="room-slider {empty_gallery}">
            <!-- BEGIN post_gallery_block -->
            <div class="item">
                <div class="inner-img" data-src="{gallery_image}" style="background-image:url({gallery_image})">
                    <a href="{gallery_full_image}" class="g-overlay fancybox"></a>
                </div>
            </div>
            <!-- END post_gallery_block -->
        </div>

        <div class="food-menu-content {empty_menus}">
            <h2>Menu <span class="sub-menu">All prices are quoted in thousands Rupiah and subject to 21% service charge and government tax</span></h2>            
            <div class="section-wrapp">
                <div class="menu-tab">                
                    {menu_list}
                </div>
            </div>
        </div>

        <div class="section-wrapp {is_accommodation_app}">
            <div class="book-wrapp">
                <a class="book-now">Book Your Stay at MAYA {destination}</a>
            </div>
        </div>

        <div class="section-wrapp {is_wedding_events_app}">
            <div class="book-wrapp">
                <p>Call: {reservation_phone}<br />
                Email: <a href="mailto:{we_email_address}">{we_email_address}</a></p>
            </div>
        </div>

        <div class="section-wrapp {is_restaurant_app}">
            <div class="book-wrapp">
                {menu_pdf}
                <p>Call: {restaurant_phone}<br />
                Email: <a href="mailto:{restaurant_email}">{restaurant_email}</a></p>
            </div>
        </div>

    </section>

    <section id="subpage-content" class="{empty_subpage}">
        {post_subpage}
    </section>

    <section id="other-content" class="{empty_other_list} {is_about_us_app}">
        <h2>{other_title}</h2>
        <div class="other-slider-wrapp clearfix">
            <div class="other-slider">
                <!-- BEGIN other_post_block -->
                <div class="item b-lazy" data-src="{other_post_images}" data-title="{other_post_title}" data-desc="{other_post_brief}" data-link="{other_post_permalink}" data-target="{other_post_permalink_action}" data-text="{other_post_permalink_text}" data-class="{other_post_permalink_class}" data-link-ico="http://{themes_url}/images/{other_post_permalink_icon}"></div>                
                <!-- END other_post_block -->
            </div>
            <div class="other-desc">
                <h3><a href="#"></a></h3>
                <p></p>
                <a href="#"><span>See Detail</span><img src="" /></a>
                <div class="nav-button clearfix"></div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">     
    (function(){
        var ua = navigator.userAgent,
            isMobileWebkit = /WebKit/.test(ua) && /Mobile/.test(ua);

        if (isMobileWebkit){
            jQuery('html').addClass('mobile');
        }

        jQuery(function(){
            var iScrollInstance;                
            var vtop = jQuery('.pagewrapp .header').innerHeight();

            if(isMobileWebkit){                
                jQuery.stellar({
                    horizontalScrolling: false,
                    verticalOffset:vtop
                });

                jQuery('.article-list .box').on('click',function(){
                    jQuery('.article-list .box .b-overlay').css({'display':'none', 'opacity':0});                    
                    jQuery(this).find('.b-overlay').fadeIn(5,function(){
                        jQuery(this).css('opacity',1);
                    });
                });
            }else{
                jQuery.stellar({
                    horizontalScrolling: false,
                    verticalOffset:vtop
                });

                jQuery('.article-list .box')
                    .mouseenter(function(){
                        jQuery(this).find('.b-overlay').fadeIn(5,function(){
                            jQuery(this).css('opacity',1);
                        });
                    })
                    .mouseleave(function() {
                        jQuery(this).find('.b-overlay').fadeOut(5,function(){
                            jQuery(this).css('opacity',0);
                        });
                    });
            }
        });

    })();
</script>

<!-- END post_type_page_detail_block -->